<div class="offnavs"></div>
<div class="container">
  <div class="layer">
    <button type="button" class="btn-modern" data-toggle="modal" data-target="#feed-modal" id='share'>
      Partager une photo
    </button>
  </div>

  <div class="row">
    <% @feeds.each do |f| %>
      <div class="col-3 col-sm-3 col-md-2 col-lg-2 mx-auto feed-place">
        <div class="truth">
          <%= cl_image_tag f.photo.key, height:300, width:300, crop: :fill, class: 'img-fluid images-feed' %>
          <div class="truth-layer"></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="modal fade" id="feed-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title center" id="exampleModalLabel"><%= title "Feed" %></h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @feed do |f| %>
          <div class="row">
            <div class="col-12 col-sm-10 col-lg-8 mx-auto">
              <label class="beer-photo">
                  Choisir ou prendre une photo
                <span style="display:none;">
                  <%= f.input :photo, as: :file, required: true, multiple: true, name: 'picture' %>
                </span>
              </label>
              <%= f.button :submit, "VALIDER", class: "btn btn-modern" %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
