<%= simple_form_for @publication do |f| %>
  <h1 class='publication-action'>Publication</h1>
  <div class="publication-form-control form-group">
    <% if current_user.photo.present? %>
      <%= cl_image_tag current_user.photo.key, class: 'avatar publication-avatar' %>
    <% end %>
    <%= f.input :link, label: false %>
    <p class ='preview-link'>Partager un lien</p>

    <label class="publication-img">
      <i class="fas fa-camera-retro"></i>
      <span style="display:none;">
        <%= f.input :photo, as: :file, required: false, multiple: true, name: 'picture' %>
      </span>
    </label>
    <%= f.input :content, as: :string, required: false, label: false, autocomplete: 'off', class: "form-control string required" %>
    <p class ='comment'>Commenter</p>
    <label class="publication-video">
      <i class="fas fa-video"></i>
      <span style="display:none;">
        <%= f.input :video, direct_upload: true, required: false, multiple: true, name: 'picture' %>
      </span>
    </label>
    <%= f.button :submit, "Publier", class: "btn btn-ghost" %></p>
  </div>
<% end %>
