<div class="offnavs"></div>
<div class="container top">
  <div class="row">
    <div class="counters col-lg-3 d-none d-lg-block">
      <% if @beers.present? %>
        <div class="row bottom">
          <div class="col-12" >
            <% b = @beers.last %>
            <%= link_to b do  %>
              <div class="card shadow" id="beer">
                <p class="card-text p-top p-bottom">Dernière bière crèée</p>
                <%= cl_image_tag b.photo.key, height: 250, width: 250, crop: :fill, class: 'beer-image card-img-top img-responsive' %>
                <div class="card-body">
                  <h5 class="card-title"><%= b.name.upcase %></h5>
                  <% if b.style.present? %>
                    <p class="card-text"><%= b.style.name %></p>
                  <% else %>
                    <p class="card-text"><%= b.typical_beer.style.name %></p>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if @stickers.present? %>
        <div class="row bottom" >
          <div class="col-12" >
            <% s = @stickers.sample %>
            <div class="card shadow " id="sticker">
              <p class="card-text p-top">StickrRoulette</p>
              <div class="card-body">
                <%= cl_image_tag s.photo.key, height: 250, width: 250, crop: :fill, class: 'beer-image card-img-top img-responsive' %>
                <h5 class="card-title"><%= s.name %></h5>
                <p class="card-text"><%= @stickers.count %> Créations sur le BeerStickr</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% if @stores.present? %>
        <div class="row bottom">
          <div class="col-12"  >
            <% s = @stores.last %>
            <%= link_to s do  %>
              <div class="card shadow "id="store">
                <p class="card-text p-top">Dernière cave crèé</p>
                <div class="card-body">
                  <h5 class="card-title"><%= s.name %></h5>
                  <p class="card-text"><%= s.city %></p>
                  <p class="card-text"><%= @stores.count %> Caves sur Beertrackr</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if @users.present? %>
        <div class="row bottom" >
          <div class="col-12" >
            <% u = @users.last %>
            <%= link_to u do  %>
              <div class="card shadow "id="user">
                <p class="card-text p-top">Nouvel arrivé sur le BeerWidr</p>
                <div class="card-body">
                  <h5 class="card-title"><%= u.name %></h5>
                  <p class="card-text"><%= @users.count %> Académiciens sur le BeerWidr</p>
                  <p class="card-text"><%= @users.count %> Caves sur Beertrackr</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="publications col-lg-9">
      <div class="card shadow" style='margin-bottom: 30px;'>
        <h1 class='title-top'><%= title 'Publications' %></h1>
      </div>
      <div class="row bottom">
        <div class="col-12">
          <div class="card shadow publication-pack bottom">
            <%= render 'form' %>
          </div>
        </div>
        <div id='publications'>
          <% @publications.sort_by(&:created_at).reverse.each do |publication| %>
            <div class="col-12">
              <div class="card shadow corner bottom">
                <div class="wall-item">
                  <% if publication.user.photo.present? %>
                    <%= cl_image_tag publication.user.photo.key, class: 'avatar wall-avatar' %>
                  <% else %>
                    <%= cl_image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1636547916/Admin/Logo.png', class: 'avatar' %>
                  <% end %>
                    <p class='wall-publication-date'>le <%= publication.created_at.strftime("%d/%m/%Y") %></p>
                  <% if publication.user.username.present? %>
                    <p class='wall-publication-user'><%= publication.user.username %></p>
                  <% else %>
                    <p class='wall-publication-user'><%= publication.user.name %></p>
                  <% end %>
                  <% if publication.photo.present? %>
                    <div class="row">
                      <%= cl_image_tag publication.photo.key, height: 300, crop: :fill, class: 'top center col-12 col-lg-6 mx-auto img-responsive p-bottom' %>
                    </div>
                  <% end %>
                  <p class='wall-publication-content'><%= publication.content %></p>
                  <% if publication.link.present? && publication.link[0..6] == 'http://' || publication.link.present? && publication.link[0..7] == 'https://'%>
                    <%= link_to publication.link, target: :blank do %>
                      <div class="preview">
                        <h4 class='preview-title'><%= publication.link_title %></h4>
                        <p class='preview-favicon'><%= image_tag publication.link_favicon %></p>
                        <p class='preview-description'><%= publication.link_description %></p>
                      </div>
                    <% end %>
                  <% end %>
                  <% if publication.video.present? %>
                    <%= cl_video_tag(publication.video, :transformation=>[
                      {:gravity=>"auto"},
                      {:end_offset=>"7"},
                      {:width=>250, :height=>250, :radius=>"max", :crop=>"fill"},
                      {:quality=>"auto:eco"}
                      ])%>
                  <% end %>
                  <%= link_to publication_path(publication) do  %>
                    <div class="btn btn-publication">commenter</div>
                  <% end %>
                </div>
                <% if publication.answers.present? %>
                  <div class="answers top bottom">
                    <% publication.answers.sort_by(&:created_at).reverse.each do |answer| %>
                      <div class="row top">
                        <div class="col-10 mx-auto">
                          <div class="answer-item">
                            <% if answer.user.photo.present? %>
                              <%= cl_image_tag answer.user.photo.key, class: 'avatar answer-avatar' %>
                            <% else %>
                              <%= cl_image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1636547916/Admin/Logo.png', class: 'avatar' %>
                            <% end %>
                              <p class='answer-publication-date'>le <%= answer.created_at.strftime("%d/%m/%Y") %></p>
                            <% if answer.user.username.present? %>
                              <p class='answer-publication-user'><%= answer.user.username %></p>
                            <% else %>
                              <p class='answer-publication-user'><%= answer.user.name %></p>
                            <% end %>
                            <% if answer.photo.present? %>
                              <div class="row">
                                <%= cl_image_tag answer.photo.key, height: 300, crop: :fill, class: 'top center col-12 col-lg-6 mx-auto img-responsive p-bottom' %>
                              </div>
                            <% end %>
                              <p class='answer-publication-content bottom'><%= answer.content %></p>
                            <% if answer.link.present? %>
                              <p><%= answer.link %></p>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    function updateStatus() {
      $( "#publications" ).load(window.location.href + " #publications" );
    }
    setInterval(updateStatus, 60000);
  });
</script>
