<div class="offnavs"></div>
<div class="container top">
  <div class="row bottom">
    <div class="col-12 col-lg-9">
      <div class="card shadow publication-pack">
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <% @publications.sort_by(&:created_at).reverse.each do |publication| %>
    <% if publication.user == current_user && publication == current_user.publications.last %>
      <div class="row bottom" data-toggle="modal" data-target="#publication">
        <div class="col-12 col-lg-9">
          <div class="card shadow corner">
            <div class="wall-item">
              <% if publication.user.photo.present? %>
                <%= cl_image_tag publication.user.photo.key, class: 'avatar wall-avatar' %>
              <% else %>
                <%= cl_image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1636547916/Admin/Logo.png', class: 'avatar' %>
              <% end %>
                <p class='wall-publication-date'>le <%= publication.created_at.strftime("%d/%m/%Y") %></p>
              <% if publication.user.username.present? %>
                <p class='wall-publication-user'><%= publication.user.username %></p>
              <% else %>
                <p class='wall-publication-user'><%= publication.user.name %></p>
              <% end %>

              <% if publication.photo.present? %>
                <div class="row">
                  <%= cl_image_tag publication.photo.key, height: 300, crop: :fill, class: 'top center col-12 col-lg-6 mx-auto img-responsive p-bottom' %>
                </div>
              <% end %>

                <p class='wall-publication-content bottom'><%= publication.content %></p>
              <% if publication.link.present? %>
                <p><%= publication.link %></p>
              <% end %>
              <% if publication.video.present? %>
                <%= cl_video_tag(publication.video, :transformation=>[
                  {:gravity=>"auto"},
                  {:end_offset=>"7"},
                  {:width=>250, :height=>250, :radius=>"max", :crop=>"fill"},
                  {:quality=>"auto:eco"}
                  ])%>
              <% end %>
              <%= link_to new_publication_answer_path(publication) do  %>
                <div class="btn btn-ghost">commenter</div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="publication" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body shadow publication-pack">
              <%= simple_form_for publication do |f| %>
                <h4>Publication</h4>
                <div class="publication-form-control form-group">
                  <%= f.input :content, as: :string, required: false, label: false, autocomplete: 'off', class: "form-control string required" %>
                  <label class="publication-img">
                    <i class="fas fa-camera-retro"></i>
                    <span style="display:none;">
                      <%= f.input :photo, as: :file, required: false, multiple: true, name: 'picture' %>
                    </span>
                  </label>
                  <%= f.input :link, label: false %>
                  <label class="publication-video">
                    <i class="fas fa-video"></i>
                    <span style="display:none;">
                      <%= f.input :video, direct_upload: true, required: false, multiple: true, name: 'picture' %>
                    </span>
                  </label>
                  <%= f.button :submit, "Poster", class: "btn btn-ghost" %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row bottom">
        <div class="col-12 col-lg-9">
          <div class="card shadow corner">
            <div class="wall-item">
              <% if publication.user.photo.present? %>
                <%= cl_image_tag publication.user.photo.key, class: 'avatar wall-avatar' %>
              <% else %>
                <%= cl_image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1636547916/Admin/Logo.png', class: 'avatar' %>
              <% end %>
                <p class='wall-publication-date'>le <%= publication.created_at.strftime("%d/%m/%Y") %></p>
              <% if publication.user.username.present? %>
                <p class='wall-publication-user'><%= publication.user.username %></p>
              <% else %>
                <p class='wall-publication-user'><%= publication.user.name %></p>
              <% end %>
              <% if publication.photo.present? %>
                <div class="row">
                  <%= cl_image_tag publication.photo.key, height: 300, crop: :fill, class: 'top center col-12 col-lg-6 mx-auto img-responsive p-bottom' %>
                </div>
              <% end %>
                <p class='wall-publication-content bottom'><%= publication.content %></p>
              <% if publication.link.present? %>
                <p><%= publication.link %></p>
              <% end %>
              <% if publication.video.present? %>
                <%= cl_video_tag(publication.video, :transformation=>[
                  {:gravity=>"auto"},
                  {:end_offset=>"7"},
                  {:width=>250, :height=>250, :radius=>"max", :crop=>"fill"},
                  {:quality=>"auto:eco"}
                  ])%>
              <% end %>
              <%= link_to new_publication_answer_path(publication) do  %>
                <div class="btn btn-ghost">commenter</div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if publication.answers.present? %>
      <% publication.answers.sort_by(&:created_at).reverse.each do |answer| %>
        <div class="row bottom">
          <div class="col-10 col-offset-lg-2 col-lg-8">
            <div class="card green-shadow corner">
              <div class="answer-item">
                <% if answer.user.photo.present? %>
                  <%= cl_image_tag answer.user.photo.key, class: 'avatar answer-avatar' %>
                <% else %>
                  <%= cl_image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1636547916/Admin/Logo.png', class: 'avatar' %>
                <% end %>
                  <p class='answer-publication-date'>le <%= answer.created_at.strftime("%d/%m/%Y") %></p>
                <% if answer.user.username.present? %>
                  <p class='answer-publication-user'><%= answer.user.username %></p>
                <% else %>
                  <p class='answer-publication-user'><%= answer.user.name %></p>
                <% end %>
                <% if answer.photo.present? %>
                  <div class="row">
                    <%= cl_image_tag answer.photo.key, height: 300, crop: :fill, class: 'top center col-12 col-lg-6 mx-auto img-responsive p-bottom' %>
                  </div>
                <% end %>
                  <p class='answer-publication-content bottom'><%= answer.content %></p>
                <% if answer.link.present? %>
                  <p><%= answer.link %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

