<%= simple_form_for @article do |f| %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-lg-6">
        <%= f.input :title, required: false  %>
      </div>
      <div class="col-xs-6 col-sm-6 col-lg-6">
        <%= f.input :photo, as: :file, required: false  %>
      </div>
    </div>

    <%= f.input :content  %>

    <div class="infos">
      <%= f.button :submit, "Valider", class: "btn btn-flat log"  %>
    </div>
  </div>
<% end %>
