<div class="offnavs"></div>
<div class="container top">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-1"></div>
    <div class="col-xs-12 col-sm-12 col-lg-8">
      <div class="card space">
        <h1 class='page-title center'>Tous Les Articles</h1>
      </div>
      <div class="card space">
        <h2 class='header-text'>Les articles qui sont proposés ici se divisent en quatre thèmes principaux, <%= link_to 'les sciences et techniques', science_articles_path %>, <%= link_to "l'histoire" ,history_articles_path %>, les <%= link_to 'actualités', actu_articles_path %> du monde brassicole et <%= link_to "les notes d'intention", note_of_intent_articles_path %> qui accompagnent chacun des objectifs de l'atelier</h2>
      </div>
      <div class="row">
        <% @articles.each do |u| %>
          <div class="col-lg-6 col-sm-6 col-xs-12 index mx-auto">
            <%= render 'articles', article: u %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mx-auto col-xs-8 col-sm-12 col-lg-3 index">
      <%= render 'shared/social-networks' %>
      <div class="card sides bottom index-side">
        <h4 class="title-top">TARGET</h4>
        <% @beers.each do |b| %>
          <% if b.target? %>
            <%= link_to b do %>
              <div class="beer-link card-infos">
                <p class='beer-link-text'>Nom : <%= b.name %></p>
                <p class='beer-link-text'>Style : <%= b.style.name %></p>
                <div class="line"></div><br>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="card sides top bottom">
        <h4 class="title-top">A Lire</h4>
        <% @articles.each do |a| %>
          <%= link_to a do %>
            <div class="row article-link card-infos">
              <div class="col-lg-4"><%= cl_image_tag a.photo.key, class: 'avatar-square img-fluid' %></div>
              <div class="col-lg-8">
                <p class='article-link-text'><%= a.title %></p>
                <p class='article-link-text'><%= a.theme.name %></p>
                <p class='article-link-text'><%= a.created_at.strftime("%d/%m/%Y") %> </p>
                <div class="line center"></div><br>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
