<div class="offnavs"></div>
<div class="container top">
  <div class="row">
    <div class="mx-auto d-none d-lg-block index col-lg-3">
      <%= render 'shared/social-networks' %>
      <%= render 'articles/articles_side' %>
    </div>
    <div class="col-12 col-lg-9">
      <div class="card shadow" style='margin-bottom: 30px;'>
        <h1 class='title-top'><%= title 'Tous les articles' %></h1>
      </div>
      <div class="page-description">
        <p>Les articles qui sont proposés ici se divisent en quatre thèmes principaux, <%= link_to 'les sciences et techniques', science_articles_path %>, <%= link_to "l'histoire" ,history_articles_path %>, les <%= link_to 'actualités', actu_articles_path %> du monde brassicole et <%= link_to "les notes d'intention", note_of_intent_articles_path %> qui accompagnent chacun des objectifs de l'atelier</p>
      </div>
      <div class="row">
        <% @articles.each do |u| %>
          <div class="col-12 col-lg-4 mx-auto">
            <%= render 'articles', article: u %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
