<div class="offnavs"></div>
<div class="container top">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="title card center"><%= @article.theme.name.upcase %></h1>
    </div>
  </div>
</div>

<div class="container top bottom">
  <div class="row">
    <div class="col-lg-9">
      <div class="card">
        <h4 class='article-top-title top center'><%= title @article.title.upcase %></h4>
        <div class="article-top center">
          <p class="article-top-infos"><%= @article.created_at.strftime("%d/%m/%Y") %> | <%= @article.theme.name %> | par <%= @article.user.username %></p>
        </div>
        <% if @article.user == current_user && @article.user.admin? %>
          <% if current_user.store.present? %>
            <% if current_user.access != nil && current_user.access.code == current_user.store.privacy_code  %>
              <%= link_to edit_article_path(@article) do %>
                <%= cl_image_tag @article.photo.key, width: 900, crop: :fill, class: "img-fluid", alt: @article.title %>
              <% end %>
            <% else %>
              <%= cl_image_tag @article.photo.key, width: 900, crop: :fill, class: "img-fluid", alt: @article.title %>
            <% end %>
          <% end %>
        <% else %>
          <%= cl_image_tag @article.photo.key, width: 900, crop: :fill, class: "img-fluid", alt: @article.title %>
        <% end %>
        <% content = @article.content.split('  ') %>
        <% content.each do |text| %>
          <p class="content"><%= text %></p>
        <% end %>
        </p>
      </div>
    </div>

    <div class="col-lg-3 bottom">
      <div class="card bottom">
        <% if @article.user.photo.present? %>
          <%= cl_image_tag @article.user.photo.key, height: 250, width: 250, crop: :fill, class: 'show-img avatar-large' %>
        <% else %>
          <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1598020963/19_C2_B0_International_Jazz_Festival_of_Punta_del_Este_-_150111-2052-jikatu__2816077813707_29_drogug.jpg", class: 'show-img avatar-large', height: 250, width: 250, crop: :fill %>
        <% end %>
        <div class="show-infos">
          <div class="legend center col-lg-8 mx-auto">Auteur</div>
          <% if @article.user.username.present? %>
            <p class='profil'><%= @article.user.username %></p>
          <% else %>
            <p class='profil'><%=@article.user.email %></p>
          <% end %>


          <% if @article.user.activities.present? %>
            <div class="legend center col-lg-8 mx-auto">Activité(s)</div>
            <% @article.user.activities.each do |a| %>
              <p class='profil'><%= a.name %></p>
            <% end %>
          <% end %>


          <% if @article.user.website.present? %>
            <div class="legend center col-lg-8 mx-auto">Site Internet</div>
            <%= link_to @article.user.website, target: :blank do %>
              <p class='profil'>Mon site</p>
            <% end %>
          <% end %>
          <p>membre oui/non</p>
        </div>
      </div>
      <%= render 'articles/articles_side' %>
      <%= render 'beers/ales_side' %>
      <%= render 'beers/lagers_side' %>
    </div>
  </div>
</div>

