<div class="offnav"></div>
<div class="container top bottom">
  <h1>Conversation avec <%= @conversation.with(current_user).name %></h1>
  <div id="conversation-main">
    <div id="conversationBody">
      <%= render @conversation.personal_messages.sort_by(&:created_at) %>
    </div>
    <%= simple_form_for @personal_message do |f| %>
      <%= hidden_field_tag 'conversation_id', @conversation.id %>
      <%= f.input :body, as: :string, required: false, label: false, class: 'inputMessage' %>
      <p class='center'><%= f.button :submit, "Envoyer", class: 'btn btn-ghost bottom' %></p>
    <% end %>
  </div>
</div>
<script>
  $(document).ready(function(){
    const conversationBody = document.getElementById('conversationBody');

    function appendMessage() {
      const chatMessage = document.getElementsByClassName('chatMessage')[0];
      const newChatMessage = chatMessage.cloneNode(true);
      conversationBody.appendChild(newChatMessage);
    }

    function getConversationBody() {
      // Prior to getting your conversationBody.
      shouldScroll = conversationBody.scrollTop + conversationBody.clientHeight === conversationBody.scrollHeight;
      /*
       * Get your conversationBody, we'll just simulate it by appending a new one syncronously.
       */
      appendChatMessage();
      // After getting your conversationBody.
      if (!shouldScroll) {
        scrollToBottom();
      }
    }

    function scrollToBottom() {
      conversationBody.scrollTop = conversationBody.scrollHeight;
    }

    scrollToBottom();

    setInterval(getConversationBody, 100);
  });
</script>

<script type="text/javascript">
  function updateDiv()
  {
    $( "#conversationBody" ).load(window.location.href + " #conversationBody" );
  }
  setInterval('updateDiv()', 30000);
</script>
