<div class="offnav"></div>
<div class="container">
  <h1 class='page-title center p-top' id='chat-with'>Conversation avec <%= @conversation.with(current_user).name %></h1>
  <div id="conversation-main">
    <div id="conversationBody">
      <%= render @conversation.personal_messages.sort_by(&:created_at).reverse %>
    </div>
    <%= simple_form_for @personal_message do |f| %>
      <%= hidden_field_tag 'conversation_id', @conversation.id %>
      <div class="chat-form-control form-group">
        <%= f.input :body, as: :string, required: false, label: false, autocomplete: 'off', class: "form-control string required" %>
        <label class="photo">
          <i class="fas fa-camera-retro"></i>
          <span style="display:none;">
            <%= f.input :photo, as: :file, required: false, multiple: true, name: 'picture' %>
          </span>
        </label>
        <button name="button" type="submit" class="btn">
          <i class="fas fa-arrow-circle-up"></i>
        </button>
      </div>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    function updateDiv() {
      $( "#conversationBody" ).load(window.location.href + " #conversationBody" );
    }
    setInterval(updateDiv, 4000);
  });
</script>
