<div class="offnav"></div>
<div class="container bottom">
  <div class="row">
    <div class="col-lg-8 mx-auto form-login">
      <h2>Store</h2>
      <%= simple_form_for @store do |f| %>
        <div class="form-inputs">
          <%= f.input :name, required: false, label: 'Nom', input_html: { class: "center"} %>
          <%= f.input :city, required: false, label: 'Ville', input_html: { class: "center"} %>
          <%= f.input :address, required: false, label: 'Adresse', input_html: { class: "center"} %>
          <%= f.input :website, required: false, label: 'Site web', input_html: { class: "center"} %>
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <label class="control-label check_boxes optional">Bières</label>
              <input type="hidden" name="store[beer_ids][]" value="">
            </div>
            <div class="beer-choices col-lg-12">
              <% Beer.all.sort_by(&:name).each do |beer| %>
                <div class="col-lg-3">
                  <input type="checkbox" class="hidden" value="<%= beer.id %>" name="store[beer_ids][]" id="store_beer_ids_<%= beer.id %>">
                  <label class="beer-choice" for="store_beer_ids_<%= beer.id %>">
                    <div class="comp">
                      <%= cl_image_tag beer.photo.key, height: 200, width: 240, crop: :fill, class: 'img-fluid' %>
                      <%= beer.name %>
                    </div>
                  </label>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Valider", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $(".beer-choice").click(function(){
      $(this).toggleClass("active");
    });
  });
</script>
