<div class="offnavs"></div>
<div class="container top">
  <div class="row">
    <div class="col-12 col-lg-9">
      <div class="card space">
        <h1 class='page-title center'>
          Caves à Bières
        </h1>
      </div>
      <div class="card">
        <h2 class='header-text'>Bla bla bla</h2>
      </div>
      <div class="row">
        <% @stores.each do |b| %>
          <div class="mx-auto col-6 col-lg-4">
            <%= render 'store_card', store: b %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mx-auto col-xs-8 col-sm-12 col-lg-3">
      <%= render 'shared/social-networks' %>
      <div class="card sides bottom index-side">
        <h4 class="title-top">Targets</h4>
        <% @beers.each do |b| %>
          <% if b.target? %>
            <%= link_to b do %>
              <div class="beer-link card-infos">
                <p class='beer-link-text'>Nom : <%= b.name %></p>
                <p class='beer-link-text'>Style : <%= b.style.name %></p>
                <div class="line"></div><br>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <%= render 'articles/articles_side' %>
    </div>
  </div>
</div>
