<div class="offnavs"></div>
<% if @store.user == current_user %>
  <% if current_user.access != nil && current_user.access.code == current_user.store.privacy_code  %>
    <%= link_to edit_store_path(@store) do %>
      <h1 class='page-title center'>
        <%= @store.name %>
      </h1>
    <% end %>
  <% else %>
    <h1 class='page-title center'><%= title @store.name %></h1>
  <% end %>
<% else %>
  <h1 class='page-title center'><%= title @store.name %></h1>
<% end %>
<% if @store.beers.present? %>
  <div class="container">
    <div class="row">
      <% @store.beers.each do |beer| %>
        <div class="col-lg-3 mx-auto">
          <div class="card beers-shadow p-top">
            <%= link_to beer do  %>
              <%= cl_image_tag beer.photo.key, height: 250, width: 250, crop: :fill, class: 'beer-image card-img-top img-responsive' %>
              <div class="card-body">
                <h5 class="card-title"><%= beer.name.upcase %></h5>
                <% if beer.style.present? %>
                  <p class="card-text"><%= beer.style.name %></p>
                <% else %>
                  <p class="card-text"><%= beer.typical_beer.style.name %></p>
                <% end %>
                <% if @store.draftset.present? %>
                  <% @store.draftset.beers.each do |b| %>
                    <% if b.name == beer.name %>
                      <p class="card-text">Disponible à la pression</p>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<% if @store.user == current_user %>
  <% if current_user.access != nil && current_user.access.code == current_user.store.privacy_code  %>
    <%= link_to new_store_draftset_path(@store, @draft) do %>
      <div class="center">
        <p>"Bières à la pression"</p>
      </div>
    <% end %>
    <p class ='project-info center'><%= link_to "Delete #{@store.name}",
          store_path(@store),
          method: :delete,
          data: { confirm: "Are you sure?" }, class: 'btn btn-ghost bottom' %></p>
  <% end %>
<% end %>


