<div class="offnavs"></div>
<% if @store.user == current_user %>
  <% if current_user.access != nil && current_user.access.code == current_user.store.privacy_code  %>
    <h1 class='page-title center'><%= link_to @store.name, edit_store_path(@store) %></h1>
  <% else %>
    <h1 class='page-title center'><%= @store.name %></h1>
  <% end %>
<% else %>
  <h1 class='page-title center'><%= @store.name %></h1>
<% end %>
<% if @store.beers.present? %>
  <div class="container">
    <div class="row">
      <% @store.beers.each do |beer| %>
        <div class="col-lg-3 mx-auto">
          <%= render 'beers/beer_card', beer: beer %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<% if @store.user == current_user %>
  <% if current_user.access != nil && current_user.access.code == current_user.store.privacy_code  %>
    <p class ='project-info center'><%= link_to "Delete #{@store.name}",
          store_path(@store),
          method: :delete,
          data: { confirm: "Are you sure?" }, class: 'btn btn-ghost bottom' %></p>
  <% end %>
<% end %>
