<p class="side-cell shadow" style='margin-left: 25px; margin-right: 25px;' data-toggle="modal" data-target="#tasting_place">
  Enregistrer un lieu de dégustation
</p>
<div class="modal" id="tasting_place">
  <div class="modal-dialog">
    <div class="modal-content blackboard">
      <div class="modal-header">
        <h2 class="modal-title" style='color:white;'>Dégustation</h2>
        <button type="button" class="close cross" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for ([ @beer, @tasting_place ]) do |f| %>
          <div class="center">
            <%= f.input :active, as: :radio_buttons, label: 'Statue',
                  input_html: { class: "squaretag-selector" },
                  item_wrapper_class: 'squaretag-item', required: false %>
          </div>
          <div class="center">
            <select class="js-example-basic-single col-12" name="tasting_place[market_place_id]" value="">
              <% MarketPlace.all.sort_by(&:city).each do |market_place| %>
                <option value="<%= market_place.id %>">Brasserie <%= market_place.name %> à <%= market_place.city %> </option>
              <% end %>
            </select>
          </div>
          <p class='center'>
            <%= f.button :submit, "Valider", class: "btn btn-ghost bottom" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
