<div class="offnavs"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto form">
      <h1 class='page-title'><%= title 'Recette' %></h1>
      <%= simple_form_for [ @beer, @recipe ], remote: true do |f| %>
        <div class="form-inputs">
          <div class="row">
            <div class="col-lg-6"><%= f.input :step, required: false, input_html: { min: '1'} %></div>
            <div class="col-lg-6"><%= f.association :action, required: false %></div>
          </div>
          <div class="row">
            <div class="col-lg-6"><%= f.association :product_type, required: false %></div>
            <div class="col-lg-6"><%= f.input :product, required: false %></div>
          </div>
          <div class="row">
            <div class="col-lg-6"><%= f.input :quantity, required: false, input_html: { min: '1'} %></div>
            <div class="col-lg-6"><%= f.association :unit, required: false %></div>
          </div>
          <div class="row">
            <div class="col-lg-6"><%= f.input :duration, required: false, input_html: { min: '1'} %></div>
            <div class="col-lg-6"><%= f.association :duration_unit, required: false %></div>
          </div>
            <%= f.input :temperature, required: false, input_html: { min: '0'}  %>
          <div class="infos">
            <p class='center'><%= f.button :submit, "Valider l'étape", class: "btn btn-ghost bottom"  %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
