<div class="offnav"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto form">
      <h1 class='page-title'><%= title 'Sticker' %></h1>
      <%= simple_form_for @sticker do |f| %>
        <div class="form-inputs">
          <%= f.input :name, required: false  %>
          <%= f.input :photo, as: :file, required: false  %>
        </div>
        <div class="infos">
          <p class='center'><%= f.button :submit, "Valider", class: "btn btn-ghost bottom"  %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
