<h2>Profil</h2>
<%= simple_form_for @user do |f| %>
  <%= f.input :photo, as: :file %>
  <%= f.input :username %>
  <%= f.association :activities, as: :check_boxes %>
  <%= f.input :website %>
  <div class="infos">
    <%= f.button :submit, "Valider", class: "btn btn-flat log"  %>
  </div>
<% end %>

