<%= simple_form_for @user do |f| %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-lg-6">
        <%= f.input :username %>
      </div>
      <div class="col-xs-6 col-sm-6 col-lg-6">
        <%= f.input :age, input_html: { min: '18', max:'80'}, required: false  %>
      </div>
      <div class="col-xs-6 col-sm-6 col-lg-6">
        <%= f.input :photo, as: :file, required: false  %>
      </div>
    </div>
    <%= f.association :activities, as: :check_boxes,
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
    <%= f.input :website %>
  </div>
  <div class="infos">
    <p class='center'>
      <span>
        <%= f.button :submit, "Valider", class: "btn btn-ghost bottom" %>
      </span>
    </p>
  </div>
<% end %>
