<div class="design">
  <%= simple_form_for @user do |f| %>
    <div class="form-inputs">
      <div class="center">
        <label class="photo">
            Choisir une photo
          <span style="display:none;">
            <%= f.input :photo, as: :file, required: true, multiple: true, name: 'picture' %>
          </span>
        </label>
      </div>
      <div class="center">
        <%= f.input :username, required: false, label: "Nom d'utilisateur", input_html: { class: "center" } %>
      </div>
      <div class="center">
        <%= f.input :age, collection: 18..81, required: false, input_html: { class: "center" } %>
      </div>
      <div class="center">
        <%= f.association :sexe, required: false, as: :radio_buttons,
                    input_html: { class: "squaretag-block-selector center" },
                    item_wrapper_class: 'squaretag-block-item', label: 'SEXE' %>
      </div>
      <div class="center">
        <%= f.input :city, required: false, label: "Ville", input_html: { class: "center" } %>
      </div>
      <div class="center">
        <%= f.association :activities, as: :check_boxes, label: "Activités",
                    input_html: { class: "squaretag-block-selector center" },
                      item_wrapper_class: 'squaretag-block-item', label: 'ACTIVITÉ(S)' %>
      </div>
      <div class="center">
        <%= f.input :website, label: "Site Internet" %>
      </div>
      <div class="infos">
        <p class='center'>
          <%= f.button :submit, "Valider", class: "btn btn-alternative bottom" %>
        </p>
      </div>
    </div>
  <% end %>
</div>

