<div class="offnavs"></div>

<div class="container">
  <h2 class='center bottom top'> Les Membres </h2>
  <div class="row">
    <% @users.each do |u| %>
      <div class="col-lg-4 col-sm-6 index">
        <%= link_to u do %>
          <% unless u.photo.present? %>
            <div class="members">
              <div class="user-card"><%= cl_image_tag ('v1598080266/preservation_hall_jazz_band_isixvg.jpg'), class: " image img-fluid" %></div>
              <div class="middle">
                <p class='infos center'><%= u.email %></p>
              </div>
            </div>
          <% else %>
            <div class="members">
              <div class="user-card"><%= image_tag u.photo, class: "image img-fluid" %></div>
              <div class="middle">
                <p class='infos center'><%= u.email %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>



