<div class="offnavs"></div>
<div class="container top">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4 card-show bottom">
      <% if @user.photo.present? %>
        <%= cl_image_tag @user.photo.key, height: 250, width: 250, crop: :fill, class: 'show-img avatar-large' %>
      <% else %>
        <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1598020963/19_C2_B0_International_Jazz_Festival_of_Punta_del_Este_-_150111-2052-jikatu__2816077813707_29_drogug.jpg", class: "img-fluid profil-picture", height: 250, width: 250, crop: :fill %>
      <% end %>
      <div class="show-infos">
        <% if @user.username.present? %>
          <p> <%= @user.username %></p>
        <% end %>
        <p><%=@user.email %></p>

        <% if @user.website.present? %>
          <%= link_to 'mon site', @user.website, target: :blank %></p>
        <% end %>

        <% if @user.activities.present? %>
          <p>activité(s)</p>
          <% @user.activities.each do |a| %>
            <p> <%= a.name %></p>
          <% end %>
        <% end %>
        <% if @user.design.present? %>
          <% if @user.design.alcohol_shape.present? %>
            <%= @user.design.alcohol_shape.name %>
          <% end %>
          <% if @user.design.design_color.present? %>
            <%= @user.design.design_color.name %>
          <% end %>
          <% if @user.design.main_taste.present? %>
            <%= @user.design.main_taste.name %>
          <% end %>
          <% if @user.design.flavours.present? %>
            <% @user.design.flavours.each do |f| %>
              <%= f.name %>
            <% end %>
          <% end %>
          <% if @user.design.feelings.present? %>
            <% @user.design.feelings.each do |f| %>
              <%= f.name %>
            <% end %>
          <% end %>
        <% end %>
        <p>réservation</p>

        <p>membre oui/non</p>
        <% if current_user.admin == true %>
          <%= link_to "Administration", rails_admin_path, class: "dropdown-item" %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-6 card-show bottom">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#profil">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#beers">Bières</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#ideal">Idéal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#known">Connues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#unknown">à goûter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tips">à goûter</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active container" id="profil">
          <% if @user == current_user %>
            <%= render 'form' %>
          <% end %>
        </div>
        <div class="tab-pane container" id="beers">
          <% if @user == current_user %>
            <%= render 'beers/form', beer: @beer %>
          <% end %>
        </div>
        <div class="tab-pane container" id="ideal">
          <% if @user == current_user %>
            <%= render 'designs/form', design: @design %>
          <% end %>
        </div>
        <div class="tab-pane container" id="known">
          <% if @user.ratings.present?  %>
            <% @user.ratings.each do |b| %>
              <%= b.beer.name %>
              <%= b.stars %>
            <% end %>
          <% end %>

        </div>
        <div class="tab-pane container" id="unknown">
          <% ales = [] %>
          <% lagers = [] %>
          <% mixed_styles = [] %>
          <% yellow = [] %>
          <% blonde = [] %>
          <% golden = [] %>
          <% rousse = [] %>
          <% brune = [] %>
          <% black = [] %>
          <% very_strong_beers = [] %>
          <% strong_beers = [] %>
          <% regular_beers = [] %>
          <% light_beers = [] %>
          <% extra_malty = [] %>
          <% slighty_malty = [] %>
          <% balanced = [] %>
          <% slighty_hoppy = [] %>
          <% extra_hoppy = [] %>

          <% b = @beers %>
          <% b.each do |beer| %>
            <% if beer.style == 'Weizenbock' or 'Tripel'  or 'Belgian Dark Ale' or 'Russian Imperial Stout' or 'Eisbock' or 'Barley Wine'%>
              <% very_strong_beers << beer %>
            <% end %>
            <% if beer.style == 'Weizenbock' or 'Lambic'  or 'Gueuze' or 'Fruit Beer' or 'Oud Bruin' or 'Belgian Gold' or 'Tripel' or 'Saison'  or 'Belgian Dark Ale' or 'Dubbel' or 'India Pale Ale' or 'Sweet Stout' or 'Oatmeal Stout' or 'Foreign Extra Stout' or 'Imperial Stout' or 'Russian Imperial Stout' or 'Dortmunder' or 'Helles Bock' or 'Doppelbock' or 'Traditional Bock' or 'Eisbock'or 'Bière De Garde' or 'Oktoberfest' or 'Cream Ale' or 'Barley Wine' or 'Scotch Ale' or 'English Old Ale' %>
              <% strong_beers << beer %>
            <% end %>
            <% if beer.style == 'Belgian White' or 'American wheat'  or 'Weizenbier' or 'Dunkelweizen' or 'Lambic'  or 'Gueuze' or 'Fruit Beer'or 'Fruit Beer' or 'Flanders Red' or 'Oud Bruin' or 'Saison'  or 'Belgian Pale Ale' or 'Dubbel' or 'Sweet Stout' or 'Oatmeal Stout'  or 'India Pale Ale' or 'American Amber Ale' or 'Special Bitter' or 'Extra Special Bitter' or 'Scottish Heavy' or 'Scottish Export' or 'American Brown' or 'English Brown' or 'Brown Porter' or 'Robust Porter' or 'Dry Stout' or 'Sweet Stout' or 'Oatmeal Stout' or 'Foreign Extra Stout' or 'German Pilsner' or 'Bohemian Pilsner' or 'American Pilsner' or  'American Light' or 'American Standard' or 'American Premium' or 'American Dark' or 'Munich Helles' or 'Dortmunder' or 'Munich Dunkel' or 'Schwartzbier'  or 'Kölsch' or  'Altbier' or 'Bière De Garde' or 'Oktoberfest' or 'Vienna' or 'Cream Ale' or 'Steam Beer' or 'Rauchbier' %>
              <% regular_beers << beer %>
            <% end %>
            <% if beer.style == 'Berliner Weiss' or 'American Wheat'  or 'Belgian Pale Ale' or 'Dubbel' or 'Ordinary Bitter' or 'Special Bitter' or 'Extra Special Bitter' or 'Scottish Light'  or 'Scottish Heavy' or 'English Mild' or 'English Brown' or 'Brown Porter' or 'Dry Stout' or 'Sweet Stout' or 'Oatmeal Stout' or 'American Light' or 'Schwartzbier' or 'Steam Beer' %>
              <% light_beers << beer %>
            <% end %>
          <% end %>

          <% b.each do |beer| %>
            <% if beer.style == 'Berliner Weiss' or 'Tripel'  or 'American Wheat' or 'Saison' or 'Pale Ale' or 'Flanders Red' or 'Dubbel' or 'English Mild' or 'Sweet Stout' or 'Belgian Dark Ale' or 'Scottish Heavy' or 'Weizenbock' %>
              <% extra_malty << beer %>
            <% end %>
            <% if beer.style == 'Belgian Gold' or 'English Brown' or 'American Amber Ale' or 'Scottish Export' or 'Oud Bruin' or 'Robust Porter' or 'American Wheat' or 'Saison'  or 'Pale Ale' or 'Flanders Red' or 'Dubbel' or 'Scottish Light' or 'Sweet Stout' or 'English Mild' or 'Belgian Dark Ale' or 'Scottish Heavy' or 'Brown Porter' %>
              <% slighty_malty << beer %>
            <% end %>
            <% if beer.style == 'Belgian White' or 'Oud Bruin' or 'English Brown' or 'American Amber Ale' or 'Scottish Export' or 'Robust Porter' or 'American Wheat' or 'Saison' or 'Pale Ale' or 'Belgian Pale Ale' or 'American Pale Ale' or 'Scottish Light' or 'English Mild' or 'Sweet Stout' or 'Belgian Dark Ale' or 'Scottish Heavy' or 'Foreign Extra Stout' or 'Brown Porter' %>
              <% balanced << beer %>
            <% end %>
            <% if beer.style == 'English Brown' or 'American Amber Ale' or 'Scottish Export' or 'Robust Porter' or 'American Wheat' or 'Saison' or 'Pale Ale' or 'Imperial Stout' or 'Belgian Pale Ale' or 'American Pale Ale' or 'Ordinary Bitter' or 'Extra Special Bitter' or 'Scottish Light' or 'Sweet Stout' or 'English Mild' or 'Belgian Dark Ale' or 'Scottish Heavy' or 'Foreign Extra Stout' or 'Brown Porter' or 'India Pale Ale' or 'American Brown' or 'Special Bitter'%>
              <% slighty_hoppy<< beer %>
            <% end %>
            <% if beer.style ==  'English Brown' or 'American Amber Ale' or 'Scottish Export' or 'Robust Porter' or 'Imperial Stout' or 'Ordinary Bitter' or 'Extra Special Bitter' or 'English Mild' or 'Sweet Stout' or 'Dry Stout' or 'Oatmeal Stout' or 'Russian Imperial Stout' or 'Foreign Extra Stout' or 'India Pale Ale' or 'American Brown' or 'Special Bitter' %>
              <% extra_hoppy << beer %>
            <% end %>
          <% end %>

          <% b.each do |beer| %>
            <% if beer.style == 'Berliner Weiss' or 'Belgian White'  or 'American Wheat' or 'Weizenbier' or 'Lambic' or 'Gueuze' or 'Faro' or 'Belgian Gold' or 'Tripel' or 'Saison' or 'Belgian Pale Ale' or 'Pale Ale' or 'American Pale Ale' or 'German Pilsner' or 'Bohemian Pilsner' or 'American Pilsner' or 'American light' or 'American Standard' or 'American Premium' or 'Munich Helles' or 'Dortmunder' or 'Helles Bock' or 'Kölsch' or 'Bière de Garde'%>
              <% yellow << beer %>
            <% end %>
            <% if beer.style == 'American Wheat' or 'Weizenbier' or 'Lambic' or 'Gueuze' or 'Faro' or 'Belgian Gold' or 'Tripel' or 'Saison' or 'Belgian Pale Ale' or 'Belgian Dark Ale' or 'Pale Ale' or 'American Pale Ale' or 'India Pale Ale' or 'Ordinary Bitter' or 'Scottish Light' or 'American Pilsner' or 'American Standard' or 'American Premium' or 'Dortmunder' or 'Helles Bock' or 'Bière de Garde' or 'Oktoberfest' or 'Vienna' or 'Cream Ale' or 'Steam Beer' or 'Rauchbier' %>
              <% blonde << beer %>
            <% end%>
            <% if beer.style == 'Weizenbock' or 'Lambic' or 'Gueuze' or 'Faro' or 'Flanders Red' or 'Oud Bruin' or 'Belgian Pale Ale' or 'Belgian Dark Ale' or 'Dubbel' or 'Pale Ale' or 'American Pale Ale' or 'India Pale Ale' or 'American Amber Ale' or 'Ordinary Bitter' or 'Special Bitter' or 'Extra Special Bitter' or 'Scottish Light' or 'Scottish Heavy' or 'Scottish Export' or 'English Mild' or 'American Dark' or 'Doppelbock' or 'Altbier' or 'Bière de Garde' or 'Oktoberfest' or 'Vienna' or 'Cream Ale' or 'Steam Beer' or 'Barley Wine' or 'Scotch Ale' or 'English Old Ale' %>
              <% golden << beer #bières Ambrées %>
            <% end%>
            <% if beer.style == 'Dunkelweizen' or 'Weizenbock' or 'Flanders Red' or 'Oud Bruin' or 'Belgian Dark Ale' or 'Dubbel' or 'American Amber Ale' or 'Scottish Light' or 'Scottish Heavy' or 'Scottish Export' or 'English Mild' or 'American Brown' or 'English Brown' or 'American Dark' or 'Munich Dunkel' or 'Doppelbock' or 'Traditional Bock' or 'Eisbock' or 'Altbier' or 'Steam Beer' or 'Barley Wine' or 'Scotch Ale' or 'English Old Ale' %>
              <% rousse << beer #bières rousses %>
            <% end%>
            <% if beer.style == 'Weizenbock' or 'English Mild' or 'American Brown' or 'English Brown' or 'Brown Porter' or 'Munich Dunkel' or 'Schwartzbier' or 'Doppelbock' or 'Traditional Bock' or 'Eisbock' or 'Barley Wine' or 'Scotch Ale' %>
              <% brune << beer #bières brunes %>
            <% end%>
            <% if beer.style == 'Brown Porter' or 'Robust Porter' or 'Dry Stout' or 'Sweet Stout' or 'Oatmeal Stout' or 'Foreign Extra Stout' or 'Imperial Stout' or 'Russian Imperial Stout' or 'Schwartzbier' or 'Eisbock' or 'Scotch Ale' %>
              <% black << beer #bières noires %>
            <% end%>
          <% end %>

          <% b.each do |beer| %>
            <% if beer.style == 'Berliner Weiss' or 'Belgian White'  or 'American Wheat' or 'Weizenbier' or 'Dunkelweizen' or 'Weizenbock' or 'Lambic' or 'Gueuze' or 'Faro' or 'Fruit Beer' or 'Flanders Red' or 'Oud Bruin' or 'Belgian Gold' or 'Tripel' or 'Saison' or 'Belgian Pale Ale' or 'Belgian Dark Ale' or 'Dubbel' or 'Pale Ale' or 'American Pale Ale' or 'India Pale Ale' or 'American Amber Ale' or 'Ordinary Bitter' or 'Special Bitter' or 'Extra Special Bitter' or 'Scottish Light' or 'Scottish Heavy' or 'Scottish Export' or 'English Mild' or 'American Brown' or 'English Brown' or 'Brown Porter' or 'Robust Porter' or 'Dry Stout' or 'Sweet Stout' or 'Oatmeal Stout' or 'Foreign Extra Stout' or 'Imperial Stout' or 'Russian Imperial Stout' %>
              <% ales << beer #ales %>
            <% elsif beer.style == 'German Pilsner' or 'Bohemian Pilsner' or 'American Pilsner' or 'American Light' or 'American Standard' or 'American Premium' or 'American Dark' or 'Munich Helles' or 'Dortmunder' or 'Munich Dunkel' or 'Schwartzbier' or 'Helles Bock' or 'Doppelbock' or 'Traditional Bock' or 'Eisbock' %>
              <% lagers << beer #lagers %>
            <% else %>
              <% mixed_styles << beer #mixed_styles %>
            <% end%>
          <% end %>

          <% b.each do |beer| %>
          <% end %>
          <% yellow.each do |y| %>
          <p>à goûter absolument</p>
            <%= link_to y do %>
              <div class="beer-link">
                <%= y.name %>
                <%= y.style.name %>
              </div>
            <% end %>
          <% end %>
          <% blonde.each do |b| %>
          <p>à goûter forcément</p>
            <%= link_to b do %>
              <div class="beer-link">
                <%= b.name %>
                <%= b.style.name %>
              </div>
            <% end %>
          <% end %>
          <% ales.each do |a| %>
          <p>ales à goûter forcément</p>
            <%= link_to a do %>
              <div class="beer-link">
                <%= a.name %>
                <%= a.style.name %>
              </div>
            <% end %>
          <% end %>
          <p>à goûter très certainement</p>
          <p>à goûter probablement</p>
          <p>à découvrir sait-on jamais</p>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @user.beers.present? %>
  <div class="container top ">
    <div class="row">
      <div class="col-lg-1"></div>
      <h3>Vos bières</h3>
    </div>
  </div>
  <% @user.beers.each do |b| %>
    <%= link_to b do %>
      <div class="container top bottom">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-11 card-product">
            <%= cl_image_tag b.photo.key, height: 100, width: 80, crop: :fit %>
            <div class="card-product-infos">
              <%= b.name %>
              <%= b.style.name %>
              <%= b.alcohol_level %>
              <%= b.color %>
              <%= b.bitterness %>
              <%= b.description %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>


