<div class="offnavs"></div>
<div class="container top">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4 card-show">
      <% if @user.photo.present? %>
        <%= cl_image_tag @user.photo.key, height: 250, width: 250, crop: :fill, class: 'show-img avatar-large' %>
      <% else %>
        <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1598020963/19_C2_B0_International_Jazz_Festival_of_Punta_del_Este_-_150111-2052-jikatu__2816077813707_29_drogug.jpg", class: "img-fluid profil-picture", height: 250, width: 250, crop: :fill %>
      <% end %>
      <div class="show-infos">
        <% if @user.username.present? %>
          <p> <%= @user.username %></p>
        <% end %>
        <p><%=@user.email %></p>

        <% if @user.activities.present? %>
          <p>activité(s)</p>
          <% @user.activities.each do |a| %>
            <p> <%= a.name %></p>
          <% end %>
        <% end %>
        <p>réservation</p>
        <% if @user.beers.present? %>
          <p>Vos bières</p>
          <% @user.beers.each do |b| %>
            <%= b.name %>
          <% end %>
        <% end %>
        <p>membre oui/non</p>
      </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-6 card">



    </div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-6">
      <% if @user == current_user %>
        <%= render 'form' %>
        <%= link_to 'créer une bière', new_beer_path %>
      <% end %>


      <% if current_user.admin == true %>
        <%= link_to "Administration", rails_admin_path, class: "dropdown-item" %>
      <% end %>
    </div>
  </div>
</div>
