<div class="offnavs"></div>
<div class="container top">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4 card-show bottom">
      <% if @user.photo.present? %>
        <%= cl_image_tag @user.photo.key, height: 250, width: 250, crop: :fill, class: 'show-img avatar-large' %>
      <% else %>
        <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1598020963/19_C2_B0_International_Jazz_Festival_of_Punta_del_Este_-_150111-2052-jikatu__2816077813707_29_drogug.jpg", class: 'show-img avatar-large', height: 250, width: 250, crop: :fill %>
      <% end %>
      <div class="show-infos">
        <div class="user">Nom d'utilisateur</div>
        <% if @user.username.present? %>
          <p class='profil'><%= @user.username %></p>
        <% else %>
          <p class='profil'><%=@user.email %></p>
        <% end %>


        <% if @user.activities.present? %>
          <div class="user">Activité(s)</div>
          <% @user.activities.each do |a| %>
            <p class='profil'><%= a.name %></p>
          <% end %>
        <% end %>
        <% if @user.design.present? %>
          <div class="user">Style de bière recherché</div>
          <% if @user.design.category.present? %>
            <p class='profil'><%= @user.design.category.name %></p>
          <% end %>
          <% if @user.design.alcohol_shape.present? %>
            <p class='profil'><%= @user.design.alcohol_shape.name %></p>
          <% end %>
          <% if @user.design.design_color.present? %>
            <p class='profil'><%= @user.design.design_color.name %></p>
          <% end %>
          <% if @user.design.main_taste.present? %>
            <p class='profil'><%= @user.design.main_taste.name %></p>
          <% end %>
          <% if @user.design.flavours.present? %>
            <% @user.design.flavours.each do |f| %>
              <p class='profil'><%= f.name %></p>
            <% end %>
          <% end %>
          <% if @user.design.feelings.present? %>
            <% @user.design.feelings.each do |f| %>
              <%= f.name %>
            <% end %>
          <% end %>
        <% end %>

        <div class="user">réservation</div>

        <% if @user.website.present? %>
          <div class="user">Site Internet</div>
          <%= link_to @user.website, target: :blank do %>
            <p class='profil'>Mon site</p>
          <% end %>
        <% end %>
        <p>membre oui/non</p>
        <% if current_user.admin == true %>
          <%= link_to "Administration", rails_admin_path, class: "dropdown-item" %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-6 card-show bottom">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <% if @user == current_user %>
          <li class="nav-item">
            <a class="nav-link tabs active" data-toggle="tab" href="#profil">Profil</a>
          </li>
        <% end %>
        <% if @user == current_user && @user.admin? %>
          <% if @user.activities.present? %>
            <li class="nav-item">
              <a class="nav-link tabs" data-toggle="tab" href="#new_beer">Bières</a>
            </li>
          <% end %>
        <% end %>
        <% if @user == current_user %>
          <li class="nav-item">
            <a class="nav-link tabs" data-toggle="tab" href="#ideal">Style</a>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link tabs" data-toggle="tab" href="#known">Connues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tabs" data-toggle="tab" href="#advice">Conseil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tabs" data-toggle="tab" href="#journal">journal</a>
        </li>
        <% if @user == current_user && @user.admin? %>
          <li class="nav-item">
            <a class="nav-link tabs" data-toggle="tab" href="#new_article">Articles</a>
          </li>
        <% end %>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active container" id="profil">
          <% if @user == current_user %>
            <%= render 'form' %>
          <% end %>
        </div>
        <div class="tab-pane container" id="new_beer">
          <% if @user == current_user %>
            <%= render 'beers/user_form', beer: @beer %>
          <% end %>
        </div>
        <div class="tab-pane container" id="ideal">
          <% if @user == current_user %>
            <%= render 'designs/form', design: @design %>
          <% end %>
        </div>
        <div class="tab-pane container" id="known">
          <% if @user.ratings.present?  %>
            <% @user.ratings.each do |b| %>
              <p class='fancy-card-text'><%= b.beer.name %>
              <%=  %><%= ('<i class="fa fa-star" aria-hidden="true"></i>' * b.stars + '<i class="fa fa-star-o" aria-hidden="true"></i>' * (5 - b.stars)).html_safe %></p>
            <% end %>
          <% end %>
        </div>

        <div class="tab-pane container" id="journal">
          <% if @user.fancies.present? %>
            <% @user.fancies.each do |uf|%>
              <%= link_to uf.beer do %>
                <p class='fancy-card-text'><%= uf.beer.name %></p>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="tab-pane container" id="advice">
          <% ales = ['Berliner Weiss', 'Belgian White' , 'American Wheat', 'Weizenbier', 'Dunkelweizen', 'Weizenbock', 'Lambic', 'Gueuze', 'Faro', 'Fruit Beer', 'Flanders Red', 'Oud Bruin', 'Belgian Gold', 'Tripel', 'Saison', 'Belgian Pale Ale', 'Belgian Dark Ale', 'Dubbel', 'Pale Ale', 'American Pale Ale', 'India Pale Ale', 'American Amber Ale', 'Ordinary Bitter', 'Special Bitter', 'Extra Special Bitter', 'Scottish Light', 'Scottish Heavy', 'Scottish Export', 'English Mild', 'American Brown', 'English Brown', 'Brown Porter', 'Robust Porter', 'Dry Stout', 'Sweet Stout', 'Oatmeal Stout', 'Foreign Extra Stout', 'Imperial Stout', 'Russian Imperial Stout' ] %>

          <% lagers = ['German Pilsner', 'Bohemian Pilsner', 'American Pilsner', 'American Light', 'American Standard', 'American Premium', 'American Dark', 'Munich Helles', 'Dortmunder', 'Munich Dunkel', 'Schwartzbier', 'Helles Bock', 'Doppelbock', 'Traditional Bock', 'Eisbock'] %>

          <% mixed_styles = ['Kölsch', 'Altbier', 'Bière De Garde', 'Oktoberfest', 'Vienna', 'Ranchbier', 'English Strong Ale', 'Cream Ale', 'Barley Wine', 'Steam Beer', 'Scotch Ale'] %>

          <% very_strong_beers = ['Weizenbock', 'Tripel' , 'Belgian Dark Ale', 'Russian Imperial Stout', 'Eisbock', 'Barley Wine'] %>

          <% strong_beers = ['Weizenbock', 'Lambic' , 'Gueuze', 'Fruit Beer', 'Oud Bruin', 'Belgian Gold', 'Tripel', 'Saison' , 'Belgian Dark Ale', 'Dubbel', 'India Pale Ale', 'Sweet Stout', 'Oatmeal Stout', 'Foreign Extra Stout', 'Imperial Stout', 'Russian Imperial Stout', 'Dortmunder', 'Helles Bock', 'Doppelbock', 'Traditional Bock', 'Eisbock', 'Bière De Garde', 'Oktoberfest', 'Cream Ale', 'Barley Wine', 'Scotch Ale', 'English Old Ale' ] %>

          <% regular_beers = ['Belgian White', 'American wheat', 'Weizenbier', 'Dunkelweizen', 'Lambic', 'Gueuze', 'Fruit Beer', 'Fruit Beer', 'Flanders Red', 'Oud Bruin', 'Saison', 'Belgian Pale Ale', 'Dubbel', 'Sweet Stout', 'Oatmeal Stout', 'India Pale Ale', 'American Amber Ale' , 'Special Bitter', 'Extra Special Bitter', 'Scottish Heavy', 'Scottish Export', 'American Brown', 'English Brown', 'Brown Porter', 'Robust Porter' , 'Dry Stout' , 'Sweet Stout', 'Oatmeal Stout', 'F,eign Extra Stout', 'German Pilsner', 'Bohemian Pilsner', 'American Pilsner', 'American Light', 'American Standard', 'American Premium', 'American Dark', 'Munich Helles', 'Dortmunder' ,'Munich Dunkel', 'Schwartzbier', 'Kölsch' ,'Altbier' ,'Bière De Garde', 'Oktoberfest', 'Vienna', 'Cream Ale','Steam Beer', 'Rauchbier' ] %>

          <% light_beers = ['Berliner Weiss', 'American Wheat', 'Belgian Pale Ale', 'Dubbel', 'Ordinary Bitter' ,'Special Bitter' ,'Extra Special Bitter' ,'Scottish Light' , 'Scottish Heavy', 'English Mild', 'English Brown', 'Brown Porter', 'Dry Stout', 'Sweet Stout', 'Oatmeal Stout', 'American Light','Schwartzbier', 'Steam Beer'] %>

          <% yellow = ['Berliner Weiss', 'Belgian White' , 'American Wheat', 'Weizenbier', 'Lambic', 'Gueuze', 'Faro', 'Belgian Gold', 'Tripel', 'Saison', 'Belgian Pale Ale', 'Pale Ale', 'American Pale Ale', 'German Pilsner', 'Bohemian Pilsner', 'American Pilsner', 'American light', 'American Standard', 'American Premium', 'Munich Helles', 'Dortmunder', 'Helles Bock', 'Kölsch', 'Bière de Garde'] %>

          <% blonde = ['American Wheat', 'Weizenbier', 'Lambic', 'Gueuze', 'Faro', 'Belgian Gold', 'Tripel', 'Saison', 'Belgian Pale Ale', 'Belgian Dark Ale', 'Pale Ale', 'American Pale Ale', 'India Pale Ale', 'Ordinary Bitter', 'Scottish Light', 'American Pilsner', 'American Standard', 'American Premium', 'Dortmunder', 'Helles Bock', 'Bière de Garde', 'Oktoberfest', 'Vienna', 'Cream Ale', 'Steam Beer', 'Rauchbier'] %>

          <% golden = ['Weizenbock', 'Lambic', 'Gueuze', 'Faro', 'Flanders Red', 'Oud Bruin', 'Belgian Pale Ale', 'Belgian Dark Ale', 'Dubbel', 'Pale Ale', 'American Pale Ale', 'India Pale Ale', 'American Amber Ale', 'Ordinary Bitter', 'Special Bitter', 'Extra Special Bitter', 'Scottish Light', 'Scottish Heavy', 'Scottish Export', 'English Mild', 'American Dark', 'Doppelbock', 'Altbier', 'Bière de Garde', 'Oktoberfest', 'Vienna', 'Cream Ale', 'Steam Beer', 'Barley Wine', 'Scotch Ale', 'English Old Ale'] %>

          <% rousse = ['Dunkelweizen', 'Weizenbock', 'Flanders Red', 'Oud Bruin', 'Belgian Dark Ale', 'Dubbel', 'American Amber Ale', 'Scottish Light', 'Scottish Heavy', 'Scottish Export', 'English Mild', 'American Brown', 'English Brown', 'American Dark', 'Munich Dunkel', 'Doppelbock', 'Traditional Bock', 'Eisbock', 'Altbier', 'Steam Beer', 'Barley Wine', 'Scotch Ale', 'English Old Ale'] %>

          <% brune = ['Weizenbock', 'English Mild', 'American Brown', 'English Brown', 'Brown Porter', 'Munich Dunkel', 'Schwartzbier', 'Doppelbock', 'Traditional Bock', 'Eisbock', 'Barley Wine', 'Scotch Ale' ] %>

          <% black = ['Brown Porter', 'Robust Porter', 'Dry Stout', 'Sweet Stout', 'Oatmeal Stout', 'Foreign Extra Stout', 'Imperial Stout', 'Russian Imperial Stout', 'Schwartzbier', 'Eisbock', 'Scotch Ale'] %>

          <% extra_malty = ['Berliner Weiss', 'Tripel' , 'American Wheat', 'Saison', 'Pale Ale', 'Flanders Red', 'Dubbel', 'English Mild', 'Sweet Stout', 'Belgian Dark Ale', 'Scottish Heavy', 'Weizenbock', 'American Pilsner', 'American Light', 'American Standard', 'American Premium', 'Munich Dunkel', 'Helles Bock', 'Doppelbock', 'Traditional Bock', 'Eisbock', 'Scotch Ale', 'Bière De Garde', 'English old Ale', 'Cream Ale' ] %>

          <% slighty_malty = ['Belgian Gold', 'English Brown', 'American Amber Ale', 'Scottish Export', 'Oud Bruin', 'Robust Porter', 'American Wheat', 'Saison' , 'Pale Ale', 'Flanders Red', 'Dubbel', 'Scottish Light', 'Sweet Stout', 'English Mild', 'Belgian Dark Ale', 'Scottish Heavy', 'Brown Porter',' American Pilsner', 'American Standard', 'American Premium', 'American Dark', 'Munich Helles', 'Dortmunder', 'Munich Dunkel', 'Schwartzbier', 'Helles Bock', 'Traditional Bock', 'Eisbock', 'Rauchbier', 'Bière De Garde', 'Oktoberfest', 'Vienna', 'Cream Ale', 'Steam Beer', 'Scotch Ale'] %>

          <% balanced = ['Belgian White', 'Oud Bruin', 'English Brown', 'American Amber Ale', 'Scottish Export', 'Robust Porter', 'American Wheat', 'Saison', 'Pale Ale', 'Belgian Pale Ale', 'American Pale Ale', 'Scottish Light', 'English Mild', 'Sweet Stout', 'Belgian Dark Ale', 'Scottish Heavy', 'Foreign Extra Stout', 'Brown Porter', 'German Pilsner', 'American Pilsner', 'American Dark', 'Munich Helles', 'Dortmunder', 'Schwartzbier', 'Helles Bock', 'Eisbock', 'Rauchbier', 'Kölsch', 'Altbier' , 'Oktoberfest', 'Barley Wine', 'Cream Ale', 'Steam Beer', 'Scotch Ale' ] %>

          <% slighty_hoppy = ['English Brown', 'American Amber Ale', 'Scottish Export', 'Robust Porter', 'American Wheat', 'Saison', 'Pale Ale', 'Imperial Stout', 'Belgian Pale Ale', 'American Pale Ale', 'Ordinary Bitter', 'Extra Special Bitter', 'Scottish Light', 'Sweet Stout', 'English Mild', 'Belgian Dark Ale', 'Scottish Heavy', 'Foreign Extra Stout', 'Brown Porter', 'India Pale Ale', 'American Brown', 'Special Bitter', 'German Pilsner', 'American Pilsner', 'Schwartzbier', 'Kölsch', 'Altbier', 'Barley Wine', 'Cream Ale' ] %>

          <% extra_hoppy = ['English Brown', 'American Amber Ale', 'Scottish Export', 'Robust Porter', 'Imperial Stout', 'Ordinary Bitter', 'Extra Special Bitter', 'English Mild', 'Sweet Stout', 'Dry Stout', 'Oatmeal Stout', 'Russian Imperial Stout', 'Foreign Extra Stout', 'India Pale Ale', 'American Brown', 'Special Bitter', 'German Pilsner', 'American Pilsner', 'Kölsch', 'Altbier', 'Barley Wine'] %>

          <% sour = ['Berliner Weiss', 'Belgian White', 'Lambic', 'Gueuze', 'Faro', 'Fruit', 'Flanders Red', 'Oud Bruins' ] %>

          <% neutral = ['American Wheat', 'American Light', 'American Standard', 'American Premium', 'American Dark'] %>

          <% sweet = ['Weizenbier', 'Dunkelweizen', 'Weizenbock', 'Scottish Light', 'Scottish Heavy', 'Scottish Export', 'English Mild', 'American Brown', 'Brown Porter', 'Robust Porter', 'Helles Bock', 'Doppelbock', 'Traditional Bock', 'Eisbock', 'Altbier', 'Bière De Garde', 'Oktoberfest', 'Vienna', 'Ranchbier', 'English Strong Ale', 'Cream Ale', 'Barley Wine', 'Steam Beer', 'Scotch Ale' ] %>

          <% bitter = ['Pale Ale', 'American Pale Ale', 'India Pale Ale', 'American Amber Ale', 'Ordinary Bitter', 'Special Bitter', 'Extra Special Bitter', 'Dry Stout', 'Sweet Stout', 'Oatmeal Stout', 'Foreign Extra Stout', 'Imperial Stout', 'Russian Imperial Stout', 'German Pilsner', 'Bohemian Pilsner', 'American Pilsner'] %>
          <% plural = ['Belgian Gold', 'Saison', 'Belgian Pale', 'Belgian Dark Ale', 'Dubbel', 'Munich Helles', 'Dortmunder', 'Munich Dunkel', 'Schwartzbier'] %>
          <% results =[] %>


          <% if @user.design.present? %>
            <% if @user.design.category.present? %>
              <% if @user.design.category.name == 'Ales' %>
                <% results << ales %>
              <% end %>
              <% if @user.design.category.name == 'Lagers' %>
                <% results << lagers %>
              <% end %>
              <% if @user.design.category.name == 'Mixed Styles' %>
                <% results << mixed_styles %>
              <% end %>
            <% end %>
            <% if @user.design.alcohol_shape.present? %>
              <% if @user.design.alcohol_shape.name == '9°≤ Très forte ' %>
                <% results << very_strong_beers %>
              <% end %>
              <% if @user.design.alcohol_shape.name == '6°≤ Forte ≤ 9°'%>
                <% results << strong_beers %>
              <% end %>
              <% if @user.design.alcohol_shape.name == '4° ≤ Classique ≤ 6°' %>
                <% results << regular_beers %>
              <% end %>
              <% if @user.design.alcohol_shape.name == '1° ≤ Légère ≤ 4°' %>
                <% results << light_beers %>
              <% end %>
            <% end %>
            <% if @user.design.balance.present? %>
              <% if @user.design.balance.name == 'très houblonnée' %>
                <% results << extra_hoppy %>
              <% end %>
              <% if @user.design.balance.name == 'houblonnée' %>
                <% results << slighty_hoppy %>
              <% end %>
              <% if @user.design.balance.name == 'équilibrée' %>
                <% results << balanced %>
              <% end %>
              <% if @user.design.balance.name == 'maltée' %>
                <% results << slighty_malty %>
              <% end %>
              <% if @user.design.balance.name == 'très maltée' %>
                <% results << extra_malty %>
              <% end %>
            <% end %>
            <% if @user.design.design_color.present? %>
              <% if @user.design.design_color.name == 'Blanche' %>
                <% results << yellow %>
              <% end %>
              <% if @user.design.design_color.name == 'Blonde' %>
                <% results << blonde %>
              <% end %>
              <% if @user.design.design_color.name == 'Ambrée' %>
                <% results << golden %>
              <% end %>
              <% if @user.design.design_color.name == 'Rousse' %>
                <% results << rousse %>
              <% end %>
              <% if @user.design.design_color.name == 'Brune' %>
                <% results << brune %>
              <% end %>
              <% if @user.design.design_color.name == 'Noire' %>
                <% results << black %>
              <% end %>
            <% end %>
            <% if @user.design.main_taste.present? %>
              <% if @user.design.main_taste.name == 'Acide' %>
                <% results << sour %>
              <% end %>
              <% if @user.design.main_taste.name == 'Neutre' %>
                <% results << neutral %>
              <% end %>
              <% if @user.design.main_taste.name == 'Sucrée' %>
                <% results << sweet %>
              <% end %>
              <% if @user.design.main_taste.name == 'Amère' %>
                <% results << bitter %>
              <% end %>
              <% if @user.design.main_taste.name == 'Pluriel' %>
                <% results << plural %>
              <% end %>
            <% end %>
          <% end %>


          <% must = results.flatten.group_by(&:itself) %>
          <% sorted_must = must.map{|k, v| [k, v.length]}.to_h.sort_by {|_key, value| value}.to_h %>
          <% first_choices = sorted_must.select! { |key, value| value == 5 } %>
          <% if !first_choices.nil? %>
            <% five_stars = first_choices.keys %>
            <% if five_stars != [] %>
              <p class='user first-tab'>à goûter absolument</p>
              <% five_stars.each do |f| %>
                <p class='profil'><%= f %></p>
              <% end %>
            <% end %>
          <% end %>

          <% must = results.flatten.group_by(&:itself) %>
          <% sorted_must = must.map{|k, v| [k, v.length]}.to_h.sort_by {|_key, value| value}.to_h %>
          <% second_choices = sorted_must.select! { |key, value| value == 4 } %>
          <% if !second_choices.nil? %>
            <% four_stars = second_choices.keys %>
            <% if four_stars != [] %>
              <p class='user first-tab'>à goûter très certainement</p>
              <% four_stars.each do |f| %>
                <p class='profil'><%= f %></p>
              <% end %>
            <% end %>
          <% end %>

          <% must = results.flatten.group_by(&:itself) %>
          <% sorted_must = must.map{|k, v| [k, v.length]}.to_h.sort_by {|_key, value| value}.to_h %>
          <% third_choices = sorted_must.select! { |key, value| value == 3 } %>
          <% if !third_choices.nil? %>
            <% three_stars = third_choices.keys %>
            <% if three_stars != [] %>
              <p class='user first-tab'>à goûter évidemment</p>
              <% three_stars.each do |f| %>
                <p class='profil'><%= f %></p>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="tab-pane container" id="new_article">
          <% if @user == current_user %>
            <%= render 'articles/form', article: @article %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




