<div class="app_footer d-lg-none ">
  <%= link_to new_public_search_path do %>
    <div class="mobile-link">
      <i class="fas fa-search footer-link"></i>
      <p>Tracker</p>
    </div>
  <% end %>
  <%= link_to market_places_path do %>
    <div class="mobile-link">
      <i class="fas fa-store footer-link"></i>
      <p>Caves</p>
    </div>
  <% end %>
  <%= link_to articles_path do %>
    <div class="mobile-link">
      <i class="fas fa-newspaper footer-link"></i>
      <p>Articles</p>
    </div>
  <% end %>
  <%= link_to stickers_path do %>
    <div class="mobile-link">
      <i class="fas fa-list footer-link"></i>
      <p>Stickers</p>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to publications_path do %>
      <div class="mobile-link">
        <i class="fas fa-users footer-link"></i>
        <p>Salon</p>
      </div>
    <% end %>
  <% else %>
    <%= link_to target_beers_path do %>
      <div class="mobile-link">
        <i class="fas fa-bullseye footer-link"></i>
        <p>Targets</p>
      </div>
    <% end %>
  <% end %>
</div>
