<div class="app_footer d-lg-none ">
  <%= link_to new_public_search_path do %>
    <div class="mobile-link">
      <i class="fas fa-search footer-link"></i>
      <p>Tracker</p>
    </div>
  <% end %>
  <%= link_to beers_path do %>
    <div class="mobile-link">
      <i class="fas fa-beer footer-link"></i>
      <p>Bières</p>
    </div>
  <% end %>
  <%= link_to typical_beers_path do %>
    <div class="mobile-link">
      <i class="fas fa-list footer-link"></i>
      <p>Styles</p>
    </div>
  <% end %>
  <%= link_to market_places_path do %>
    <div class="mobile-link">
      <i class="fas fa-store footer-link"></i>
      <p>Caves</p>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to publications_path do %>
      <div class="mobile-link">
        <i class="fas fa-users footer-link"></i>
        <p>Salon</p>
      </div>
    <% end %>
  <% else %>
      <%= link_to articles_path do %>
      <div class="mobile-link">
        <i class="far fa-newspaper footer-link"></i>
        <p>Infos</p>
      </div>
    <% end %>
  <% end %>
</div>
