<div class="footer">
  <div class="footer-copyright d-none d-lg-block">
    Cabinet Target 2021 <i class="far fa-copyright"></i>
  </div>
  <div class="d-none d-lg-block">
    <a href="#"><i class="fab fa-instagram nav-link-2"></i></a>
    <a href="#"><i class="fab fa-youtube nav-link-2"></i></a>
    <a href="#"><i class="fab fa-linkedin nav-link-2"></i></a>
  </div>
  <div class="d-lg-none ">
    <%= link_to new_public_search_path do %>
      <i class="fas fa-search footer-link"></i>
    <% end %>
  </div>
  <div class="d-lg-none ">
    <%= link_to beers_path do %>
      <i class="fas fa-beer footer-link"></i>
    <% end %>
  </div>
  <div class="d-lg-none ">
    <%= link_to typical_beers_path do %>
      <i class="fas fa-list footer-link"></i>
    <% end %>
  </div>
  <div class="d-lg-none ">
    <%= link_to market_places_path do %>
      <i class="fas fa-store footer-link"></i>
    <% end %>
  </div>
  <div class="d-lg-none">
    <%= link_to articles_path do %>
      <i class="far fa-newspaper footer-link"></i>
    <% end %>
  </div>
  <div class="d-lg-none">
    <%= link_to target_beers_path do %>
      <i class="fas fa-bullseye footer-link"></i>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <% if current_user.store.nil? %>
      <div class="d-lg-none">
        <%= link_to users_path do %>
          <i class="fas fa-users footer-link"></i>
        <% end %>
      </div>
    <% else %>
      <% if current_user.access != nil && current_user.access.code == current_user.store.privacy_code  %>
        <div class="d-lg-none">
          <%= link_to users_path do %>
            <i class="fas fa-users footer-link"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="d-lg-none">
      <%= link_to users_path do %>
        <i class="fas fa-users footer-link"></i>
      <% end %>
    </div>
  <% end %>
</div>


