<div class="footer">
  <div class="footer-copyright d-none d-lg-block">
    Cabinet Target 2021 <i class="far fa-copyright"></i>
  </div>
  <div class="d-none d-lg-block">
    <a href="#"><i class="fab fa-instagram nav-link-2"></i></a>
    <a href="#"><i class="fab fa-youtube nav-link-2"></i></a>
    <a href="#"><i class="fab fa-linkedin nav-link-2"></i></a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
    </button>
  </div>
  <div class="d-lg-none ">
    <%= link_to new_public_search_path do %>
      <i class="fas fa-search footer-link"></i>
    <% end %>
  </div>
  <div class="d-lg-none ">
    <%= link_to typical_beers_path do %>
      <i class="fas fa-beer footer-link"></i>
    <% end %>
  </div>
  <div class="d-lg-none">
    <%= link_to articles_path do %>
      <i class="far fa-newspaper footer-link"></i>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div class="d-lg-none">
      <%= link_to stickers_path do %>
        <i class="far fa-sticky-note footer-link"></i>
      <% end %>
    </div>
    <div class="d-lg-none">
      <%= link_to projects_path do %>
        <i class="fas fa-tasks footer-link"></i>
      <% end %>
    </div>
  <% end %>
  <div class="d-lg-none">
    <%= link_to target_beers_path do %>
      <i class="fas fa-bullseye footer-link"></i>
    <% end %>
  </div>
  <div class="d-lg-none">
    <% if user_signed_in? %>
      <%= link_to current_user do %>
        <i class="fas fa-user footer-link"></i>
      <% end %>
    <% else %>
      <%= link_to user_session_path do %>
        <i class="fas fa-user footer-link"></i>
      <% end %>
    <% end %>
  </div>
</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= link_to 'Styles de bière', typical_beers_path  %>
        <%= link_to 'Bières', beers_path %>
        <%= link_to 'Articles', articles_path %>
        <%= link_to 'Stickers', stickers_path %>
        <%= link_to 'Stores', stores_path %>
        <%= link_to 'Projets', projects_path %>
        <%= link_to 'Nouveau styles de bière', new_typical_beer_path %>
        <%= link_to 'Nouvelle bière', new_beer_path %>
        <%= link_to 'Nouveau projet', new_project_path %>
        <% if user_signed_in? %>
          <%= link_to 'Compte', user_path(current_user) %>
          <% if current_user.admin? %>
            <%= link_to 'Admin', rails_admin_path %>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
