<div class="footer">
  <div class="footer-copyright d-none d-lg-block">
    Atelier Target 2021 <i class="far fa-copyright"></i>
  </div>
  <div class="d-none d-lg-block">
    <a href="#"><i class="fab fa-instagram nav-link-2"></i></a>
    <a href="#"><i class="fab fa-youtube nav-link-2"></i></a>
    <a href="#"><i class="fab fa-linkedin nav-link-2"></i></a>
  </div>
  <div class="d-lg-none ">
    <%= link_to new_public_search_path do %>
      <div class="mobile-link">
        <i class="fas fa-search footer-link"></i>
        <p>Tracker</p>
      </div>
    <% end %>
  </div>
  <div class="d-lg-none ">
    <%= link_to beers_path do %>
      <div class="mobile-link">
        <i class="fas fa-beer footer-link"></i>
        <p>bières</p>
      </div>
    <% end %>
  </div>
  <div class="d-lg-none ">
    <%= link_to market_places_path do %>
      <div class="mobile-link">
        <i class="fas fa-store footer-link"></i>
        <p>Caves</p>
      </div>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <% if current_user.store.nil? %>
      <div class="d-lg-none">
        <%= link_to users_path do %>
          <div class="mobile-link">
            <i class="fas fa-users footer-link"></i>
            <p>Users</p>
          </div>
        <% end %>
      </div>
    <% else %>
      <% if current_user.access != nil && current_user.access.code == current_user.store.privacy_code  %>
        <div class="d-lg-none">
          <%= link_to users_path do %>
            <div class="mobile-link">
              <i class="fas fa-users footer-link"></i>
              <p>Users</p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="d-lg-none">
      <%= link_to users_path do %>
        <div class="mobile-link">
          <i class="fas fa-users footer-link"></i>
          <p>Users</p>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="d-lg-none">
    <%= link_to articles_path do %>
      <div class="mobile-link">
        <i class="far fa-newspaper footer-link"></i>
        <p>Infos</p>
      </div>
    <% end %>
  </div>
</div>


