<div class="navbar navbar-expand-lg navbar-light navbar-lewagon fixed-top">
  <i class="fas fa-bars" data-toggle="collapse"></i>
  <div class="collapse navbar-collapse brand", id= "navbarDropdown">Les Créations Du Cabinet Target</div>
  <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
    <div class="nav-title">Les Bières</div>
    <%= link_to 'Toutes les Bières', beers_path, class: 'dropdown-item browse'  %>
    <%= link_to 'Les Lagers', lagers_beers_path, class: 'dropdown-item browse'  %>
    <%= link_to 'Les Ales', ales_beers_path, class: 'dropdown-item browse'  %>
    <%= link_to 'Les Styles Mixtes', mixed_beers_path, class: 'dropdown-item browse'  %>
    <%= link_to 'Les Targets', target_beers_path, class: 'dropdown-item browse'  %>
    <%= link_to 'Collection Printemps/été', spring_beers_path, class: 'dropdown-item browse'  %>
    <%= link_to 'Collection Automne/hiver', autumn_beers_path, class: 'dropdown-item browse'  %>
    <%= link_to 'Members', users_path, class: 'dropdown-item browse' %>
    <div class="nav-title">Les Articles</div>
    <%= link_to 'Derniers Articles', articles_path, class: 'dropdown-item browse'  %>
    <%= link_to 'Actualités', actu_articles_path, class: 'dropdown-item browse'  %>
    <%= link_to "Notes d'intention", note_of_intent_articles_path, class: 'dropdown-item browse'  %>
    <%= link_to 'Science & Techniques', science_articles_path, class: 'dropdown-item browse'  %>
    <%= link_to 'Histoire', history_articles_path, class: 'dropdown-item browse'  %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item browse" %>
    <div class="nav-title">Liens Utiles</div>
    <a class="dropdown-item browse" href="https://www.littlebock.fr/">Little Bock</a>
    <a class="dropdown-item browse" href="http://univers-biere.net/">Univers bière</a>
    <a class="dropdown-item browse" href="https://www.lecomptoirdubrasseur.fr/">Comptoir du Brasseur</a>
    <a class="dropdown-item browse" href="https://justbeerapp.com/">Just beer App</a>
    <a class="dropdown-item browse" href="https://www.happybeertime.com/">HappyBeerTime</a>
  </div>
  <div class="" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if current_user.photo.present? %>
            <%= link_to current_user do %>
              <%= cl_image_tag current_user.photo.key, class: "avatar" %>
            <% end %>
          <% else %>
            <%= link_to current_user do %>
              <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1614174132/logo_la_chope_gqgs3l.png", class: "avatar" %>
            <% end %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Connexion", new_user_session_path, class: "btn btn-ghost" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<script>
  $(document).ready(function(){
    $(".fa-bars").click(function(){
      $(".dropdown-menu").toggle();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $(".fa-bars").hover(function(){
      $(".dropdown-menu").show();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $(".dropdown-menu").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>
