<div class="navbar navbar-expand-lg navbar-light navbar-lewagon fixed-top">
  <i class="mr-auto fas fa-bars d-lg-none" data-toggle="modal" data-target="#details-modal">
  </i>
  <%= link_to root_path, alt: 'Home' do %>
    <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1667300910/Black_trackr_ik3gwk.png", class: 'business-avatar', id: 'brand_root', alt: 'logo' %>
  <% end %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item d-none d-lg-block">
      <%= link_to 'Recherche', new_public_search_path, class: 'second-nav-link', id: 'root' %><i class="fas fa-caret-right" aria-hidden="true"></i>
    </li>
    <li class="nav-item d-none d-lg-block">
      <a class="second-nav-link" data-toggle="pill" id="styles-link"> Styles <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item d-none d-lg-block">
      <a class="second-nav-link" data-toggle="pill" id="beers-link"> Bières <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item d-none d-lg-block">
      <a class="second-nav-link" data-toggle="pill" id="spots-link"> Spots <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item d-none d-lg-block">
      <a class="second-nav-link" data-toggle="pill" id="articles-link"> Articles <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item d-none d-lg-block">
      <a class="second-nav-link" data-toggle="pill" id="feed-link"> Feed <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item d-none d-lg-block">
      <a class="second-nav-link" data-toggle="pill" id="targets-link"> Targets <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    </li>
  </ul>

  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% mailbox = [] %>
        <% unread = [] %>
        <li class="nav-item dropdown" data-toggle="modal" data-target="#actions">
          <% if current_user.photo.present? %>
            <%= cl_image_tag current_user.photo.key, fetch_format: :auto, alt: 'photo-profil', class: "avatar" %>
          <% else %>
            <i class="far fa-user"></i>
          <% end %>
        </li>
        <% conversations.each do |c| %>
          <% if c.participates?( current_user ) %>
            <% mailbox << c %>
          <% end %>
        <% end %>
        <% if mailbox != [] %>
          <% mailbox.each do |l| %>
            <% if l.personal_messages.last.read == false && l.personal_messages.last.user != current_user %>
              <% unread << l %>
            <% end %>
          <% end %>
        <% end %>
        <% if unread != [] %>
          <div class="notification"> <%= unread.count %></div>
        <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path do %>
            <i class= 'far fa-user connexion'></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="tab-content second-nav">
  <div class="tab-pane container" id="search">
    <div class="card p-top">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <%= form_tag(typical_beers_path, method: :get) do %>
            <%= text_field_tag :search, nil, placeholder: 'Type de bière ?', class: 'center search' %>
            <%= submit_tag 'Rechercher', style: "display: none;" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane container" id="beers">
    <div class="card p-top p-bottom shadow">
      <div class="row">
        <div class="col-2">
          <%= link_to 'Blanches', white_beers_path, class: 'side-link' %>
        </div>
        <div class="col-2">
          <%= link_to 'Blondes', gold_beers_path, class: 'side-link' %>
        </div>
        <div class="col-2">
          <%= link_to 'Ambrées', amber_beers_path, class: 'side-link' %>
        </div>
        <div class="col-2">
          <%= link_to 'Brunes', brown_beers_path, class: 'side-link' %>
        </div>
        <div class="col-2">
          <%= link_to 'Ruby', ruby_beers_path, class: 'side-link' %>
        </div>
        <div class="col-2">
          <%= link_to 'Noires', black_beers_path, class: 'side-link' %>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mx-auto">
          <%= link_to 'Sans alcool', alcohol_free_beers_path, class: 'side-link' %>
        </div>
        <div class="col-2 mx-auto">
          <%= link_to 'Légères', light_beers_path, class: 'side-link' %>
        </div>
        <div class="col-2 mx-auto">
          <%= link_to 'Classiques', regular_beers_path, class: 'side-link' %>
        </div>
        <div class="col-2 mx-auto">
          <%= link_to 'Fortes', strong_beers_path, class: 'side-link' %>
        </div>
        <div class="col-2 mx-auto">
          <%= link_to 'Très fortes', very_strong_beers_path, class: 'side-link' %>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mx-auto">
          <%= link_to 'Ales', ales_beers_path, class: 'side-link' %>
        </div>
        <div class="col-2 mx-auto">
          <%= link_to 'Lagers', lagers_beers_path, class: 'side-link' %>
        </div>
        <div class="col-2 mx-auto">
          <%= link_to 'Spontanées', spontaneous_beers_path, class: 'side-link' %>
        </div>
        <div class="col-2 mx-auto">
          <%= link_to 'Mixtes', mixed_beers_path, class: 'side-link' %>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane container" id="styles">
    <div class="card p-top p-bottom shadow">
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-2">
          <div class="link">
            <p class="text-link-title">ALLEMAGNE</p>
          </div>
          <% @typical_beers.sort_by(&:name).each do |tb| %>
            <% if tb.origin.present? && tb.origin.name == 'Allemagne' %>
              <%= link_to "#{tb.name}", typical_beer_path(tb), class: 'side-link'  %>
            <% end %>
          <% end %>
        </div>
        <div class="col-2">
          <div class="link">
            <p class="text-link-title">BELGIQUE</p>
          </div>
          <% @typical_beers.sort_by(&:name).each do |tb| %>
            <% if tb.origin.present? && tb.origin.name == 'Belgique' %>
              <%= link_to "#{tb.name}", typical_beer_path(tb), class: 'side-link'  %>
            <% end %>
          <% end %>
        </div>
        <div class="col-2">
          <div class="link">
            <p class="text-link-title">ÎLES ANGLO-CELTES</p>
          </div>
          <% @typical_beers.sort_by(&:name).each do |tb| %>
            <% if tb.origin.present? && tb.origin.name == 'Îles Anglo-celtes ' %>
              <%= link_to "#{tb.name}", typical_beer_path(tb), class: 'side-link'  %>
            <% end %>
          <% end %>
        </div>
        <div class="col-2">
          <div class="link">
            <p class="text-link-title"> U.S.A </p>
          </div>
          <% @typical_beers.sort_by(&:name).each do |tb| %>
            <% if tb.origin.present? && tb.origin.name == 'U.S.A' %>
              <%= link_to "#{tb.name}", typical_beer_path(tb), class: 'side-link'  %>
            <% end %>
          <% end %>
        </div>
        <div class="col-2">
          <div class="link">
            <p class="text-link-title"> AUTRES </p>
          </div>
          <% @typical_beers.sort_by(&:name).each do |tb| %>
            <% if tb.origin.present? && tb.origin.name == 'Autres' %>
              <%= link_to "#{tb.name}", typical_beer_path(tb), class: 'side-link'  %>
            <% end %>
          <% end %>
        </div>
        <div class="col-1"></div>
      </div>
    </div>

  </div>
  <div class="tab-pane container" id="spots">
    <div class="card p-top p-bottom">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-2"><%= link_to 'Caves', caves_market_places_path, class: 'side-link' %></div>
        <div class="col-lg-2"><%= link_to 'Bars', bars_market_places_path, class: 'side-link' %></div>
        <div class="col-lg-2"><%= link_to 'Brasseries', breweries_market_places_path, class: 'side-link' %></div>
        <div class="col-lg-2"><%= link_to 'Tous', market_places_path, class: 'side-link' %></div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div>
  <div class="tab-pane container" id="articles">
    <div class="card p-top">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
          <%= link_to articles_path do %>
            <div class="link">
              <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1622019082/fabrication-biere2_scvgnn.webp", alt: 'derniers-articles', class: 'mx-auto avatar-nav' %>
              <p class="text-link-title">Derniers Articles</p>
            </div>
          <% end %>
        </div>
        <div class="col-lg-2">
          <%= link_to actu_articles_path do %>
            <div class="link">
              <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1622019082/fabrication-biere2_scvgnn.webp", alt: 'actualités', class: 'mx-auto avatar-nav' %>
              <p class="text-link-title">Actualités</p>
            </div>
          <% end %>
        </div>
        <div class="col-lg-2 ">
          <%= link_to note_of_intent_articles_path do %>
            <div class="link">
              <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1622019082/fabrication-biere2_scvgnn.webp", alt: "notes d'intention", class: 'mx-auto avatar-nav' %>
              <p class="text-link-title">Note d'intention</p>
            </div>
          <% end %>
        </div>
        <div class="col-lg-2">
          <%= link_to science_articles_path do %>
            <div class="link">
              <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1622019082/fabrication-biere2_scvgnn.webp", alt: 'technique', class: 'mx-auto avatar-nav' %>
              <p class="text-link-title">Technique</p>
            </div>
          <% end %>
        </div>
        <div class="col-lg-2">
          <%= link_to history_articles_path do %>
            <div class="link">
              <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1622019082/fabrication-biere2_scvgnn.webp", alt: 'histoire', class: 'mx-auto avatar-nav'%>
              <p class="text-link-title">Histoire</p>
            </div>
          <% end %>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </div>
  <div class="tab-pane container" id="feed">
    <div class="card p-top">
      <div class="row">
        <% @feeds.sample(4).each do |f| %>
          <%= link_to feeds_path do %>
            <div class="col-lg-2 mx-auto">
              <%= cl_image_tag f.photo.key, class: 'img-fluid'%>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="tab-pane container" id="targets">
    <div class="card p-top">
      <div class="row">
        <% @beers.where(target: true).sample(4).each do |f| %>
          <div class="col-lg-2 mx-auto">
            <%= cl_image_tag f.photo.key, height: 86, width: 130, crop: :fill, class: 'img-fluid'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="actions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-black">
      <div class="modal-header">
        <h5 class="modal-title-black" id="exampleModalLabel">Actions</h5>
        <button type="button" class="close cross" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bottle-available">
        <% if user_signed_in? && current_user.store.nil? %>
          <div class="col-12">
            <%= link_to market_places_path do %>
              <p class="btn-nav-modern center"><i class="fas fa-store"></i>Créer un Beermarket</p>
            <% end %>
          </div>
          <div class="col-12">
            <%= link_to new_beer_path do %>
              <p class="btn-nav-modern center"><i class="fas fa-beer"></i> Ajouter une bière au catalogue</p>
            <% end %>
          </div>
          <div class="col-12">
            <%= link_to new_public_search_path do %>
              <p class="btn-nav-modern center"><i class="fas fa-beer"></i> Trouve ton style de bière</p>
            <% end %>
          </div>
          <div class="col-12">
            <%= link_to new_store_path do %>
              <p class="btn-nav-modern center"><i class="fas fa-map-marker-alt"></i> Créé ta cave</p>
            <% end %>
          </div>
          <div class="col-12">
            <%= link_to target_beers_path do %>
              <p class="btn-nav-modern center"><i class="fas fa-map-marker-alt"></i> Consulte des recettes</p>
            <% end %>
          </div>
          <div class="col-12">
            <%= link_to publications_path do %>
              <p class="btn-nav-modern center"><i class="fas fa-newspaper"></i> Publications</p>
            <% end %>
          </div>
          <div class="col-12">
            <%= link_to new_sticker_path do %>
              <p class="btn-nav-modern center"><i class="fas fa-beer"></i> BeerStickr</p>
            <% end %>
          </div>
          <div class="col-12">
            <%= link_to new_project_path do %>
              <p class="btn-nav-modern center"><i class="fas fa-list"></i> Créer un Projet Target</p>
            <% end %>
          </div>
          <div class="col-12">
            <%= link_to user_path(current_user) do %>
              <p class="btn-nav-modern center"><i class="fas fa-user"></i> Compte personnel</p>
            <% end %>
          </div>
          <div class="col-12">
            <%= link_to conversations_path, class: 'admin' do %>
              <p class="btn-nav-modern center"><i class="fas fa-envelope"></i> Messagerie</p>
            <% end %>
          </div>
          <div class="col-12">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <p class="btn-nav-modern center"><i class="fas fa-sign-out-alt"></i> Déconnexion</p>
            <% end %>
          </div>
          <% if current_user.admin? %>
            <div class="col-12">
              <%= link_to rails_admin_path do %>
                <p class="btn-nav-modern center"><i class="fas fa-lock"></i> Administration</p>
              <% end %>
            </div>
          <% end %>
        <% elsif user_signed_in? && current_user.store.present? %>
          <% unless current_user.access != nil && current_user.access.code != current_user.store.privacy_code  %>
            <div class="col-12">
              <%= link_to market_places_path do %>
                <p class="btn-nav-modern center"><i class="fas fa-store"></i>Créer un Beermarket</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to new_beer_path do %>
                <p class="btn-nav-modern center"><i class="fas fa-beer"></i> Ajouter une bière au catalogue</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to new_public_search_path do %>
                <p class="btn-nav-modern center"><i class="fas fa-beer"></i> Trouve ton style de bière</p>
              <% end %>
            </div>
            <% if current_user.store.present? %>
              <div class="col-12">
                <%= link_to current_user.store do %>
                  <p class="btn-nav-modern center"><i class="fas fa-map-marker-alt"></i> Mettre sa cave à jour</p>
                <% end %>
              </div>
            <% end %>
            <div class="col-12">
              <%= link_to target_beers_path do %>
                <p class="btn-nav-modern center"><i class="fas fa-map-marker-alt"></i> Consulte des recettes</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to publications_path do %>
                <p class="btn-nav-modern center"><i class="fas fa-newspaper"></i> Publications</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to new_sticker_path do %>
                <p class="btn-nav-modern center"><i class="fas fa-beer"></i> BeerStickr</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to new_project_path do %>
                <p class="btn-nav-modern center"><i class="fas fa-list"></i> Créer un Projet Target</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to user_path(current_user) do %>
                <p class="btn-nav-modern center"><i class="fas fa-user"></i> Compte personnel</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to conversations_path, class: 'admin' do %>
                <p class="btn-nav-modern center"><i class="fas fa-envelope"></i> Messagerie</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <p class="btn-nav-modern center"><i class="fas fa-sign-out-alt"></i> Déconnexion</p>
              <% end %>
            </div>
            <% if current_user.admin? %>
              <div class="col-12">
                <%= link_to rails_admin_path do %>
                  <p class="btn-nav-modern center"><i class="fas fa-lock"></i> Administration</p>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <div class="col-12">
              <%= link_to user_path(current_user) do %>
                <p class="btn-nav-modern center"><i class="fas fa-user"></i> Compte personnel</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to new_public_search_path do %>
                <p class="btn-nav-modern center"><i class="fas fa-beer"></i> Beertrackr</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to market_places_path do %>
                <p class="btn-nav-modern center"><i class="fas fa-store"></i> Beermarkets</p>
              <% end %>
            </div>
            <% if current_user.store.present? %>
              <div class="col-12">
                <%= link_to current_user.store do %>
                  <p class="btn-nav-modern center"><i class="fas fa-map-marker-alt"></i> visiter ma cave</p>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id='details-modal'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Trouver des bières par</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'shared/intra_links'%>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#root").hover(function(){
      $("#styles").hide();
    });
  });
</script>


<script>
  $(document).ready(function(){
    $("#styles-link").hover(function(){
      $("#styles").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#styles-link").hover(function(){
      $("#beers").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#styles").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>


<script>
  $(document).ready(function(){
    $("#beers-link").hover(function(){
      $("#beers").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#beers-link").hover(function(){
      $("#styles").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#beers-link").hover(function(){
      $("#spots").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#beers").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#spots-link").hover(function(){
      $("#spots").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#spots-link").hover(function(){
      $("#beers").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#spots-link").hover(function(){
      $("#articles").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#spots").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#articles-link").hover(function(){
      $("#articles").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#articles-link").hover(function(){
      $("#spots").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#articles-link").hover(function(){
      $("#feed").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#articles").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#feed-link").hover(function(){
      $("#feed").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#feed-link").hover(function(){
      $("#articles").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#feed-link").hover(function(){
      $("#targets").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#feed").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#targets-link").hover(function(){
      $("#targets").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#targets-link").hover(function(){
      $("#feed").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#targets").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>
