<div class="offnav"></div>
<ul class="navbar navbar-expand nav nav-pills nav-justified navbar-lewagon-2 menu">
  <li class="nav-item">
    <a class="second-nav-link" data-toggle="pill" id="beers-link"><i class="far fa-heart"></i> Bières</a>
  </li>
  <li class="nav-item">
    <a class="second-nav-link" data-toggle="pill" id="articles-link"><i class="far fa-newspaper"></i> Articles</a>
  </li>
  <li class="nav-item">
    <a class="second-nav-link" data-toggle="pill" href="#mails"><i class="far fa-envelope"></i> Mails</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content second-nav">
  <div class="tab-pane container" id="beers">
    <div class="card p-top">
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-lg-2">
          <div class="link">
            <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1616096642/vuyawlk6cgj26cr2m014xhdew8d8.jpg" ,height: 80, width: 150, crop: :fill, class: 'img-responsive mx-auto rounded' %>
            <p class="text-link-title"> Ales </p>
            <p class="text-link">Wheat beers</p>
            <p class="text-link"> Lambics & Sours</p>
            <p class="text-link"> Belgian Ales </p>
            <p class="text-link"> Pale Ales </p>
            <p class="text-link"> Bitters </p>
            <p class="text-link"> Scottish Ales </p>
            <p class="text-link"> Brown Ales </p>
            <p class="text-link"> Porters </p>
            <p class="text-link"> Stouts </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2">
          <div class="link">
            <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1616096642/vuyawlk6cgj26cr2m014xhdew8d8.jpg" ,height: 80, width: 150, crop: :fill, class: 'img-responsive mx-auto rounded' %>
            <p class="text-link-title"> Lagers </p>
            <p class="text-link"> Pilsner </p>
            <p class="text-link"> American Lager</p>
            <p class="text-link"> European Lager </p>
            <p class="text-link"> Bock </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2 ">
          <div class="link">
            <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1616096642/vuyawlk6cgj26cr2m014xhdew8d8.jpg" ,height: 80, width: 150, crop: :fill, class: 'img-responsive mx-auto rounded' %>
            <p class="text-link-title"> Mixed </p>
            <p class="text-link"> Alt </p>
            <p class="text-link"> French Ale</p>
            <p class="text-link"> German Amber </p>
            <p class="text-link"> American Special </p>
            <p class="text-link"> Smoked Beer </p>
            <p class="text-link"> Strong Ale </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2 ">
          <div class="link">
            <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1616096642/vuyawlk6cgj26cr2m014xhdew8d8.jpg" ,height: 80, width: 150, crop: :fill, class: 'img-responsive mx-auto rounded' %>
            <p class="text-link-title"> Targets </p>
            <% if beers.present? %>
              <% beers.each do |beer| %>
                <% if beer.target? %>
                  <p class="text-link"><%= beer.name %> </p>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2 ">
          <div class="link">
            <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1614876232/Target_xaorog.jpg", height: 80, width: 150, crop: :fill, class: 'img-responsive mx-auto rounded' %>
            <p class="text-link-title"> Collection Printemps/été </p>
            <p class="text-link"> Repas de Famille </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2 ">
          <div class="link">
            <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1616096642/vuyawlk6cgj26cr2m014xhdew8d8.jpg" ,height: 80, width: 150, crop: :fill, class: 'img-responsive mx-auto rounded'  %>
            <p class="text-link-title"> Collection Automne/hiver </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane container" id="articles">
    <div class="card p-top">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2 link">
          <%= link_to articles_path do %>
            <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1616096642/vuyawlk6cgj26cr2m014xhdew8d8.jpg" ,height: 80, width: 150, crop: :fill, class: 'img-responsive mx-auto rounded' %>
            <p class="text-link-title">Derniers Articles</p>
          <% end %>
          <% if articles.present? %>
            <%= link_to articles.last do %>
              <p class="text-link"><%= articles.last.title %> </p>
            <% end %>
          <% end %>
        </div>
        <div class="col-lg-2 link">
          <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1616096642/vuyawlk6cgj26cr2m014xhdew8d8.jpg" ,height: 80, width: 150, crop: :fill, class: 'img-responsive mx-auto rounded' %>
          <p class="text-link-title"> <%= link_to 'Actualités', actu_articles_path %></p>
        </div>
        <div class="col-lg-2 link">
          <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1616096642/vuyawlk6cgj26cr2m014xhdew8d8.jpg" ,height: 80, width: 150, crop: :fill, class: 'img-responsive mx-auto rounded' %>
          <p class="text-link-title"> <%= link_to "Note d'intention", note_of_intent_articles_path %></p>
        </div>
        <div class="col-lg-2 link">
          <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1616096642/vuyawlk6cgj26cr2m014xhdew8d8.jpg" ,height: 80, width: 150, crop: :fill, class: 'img-responsive mx-auto rounded' %>
          <p class="text-link-title"> <%= link_to 'Technique', science_articles_path %></p>
        </div>
        <div class="col-lg-2 link">
          <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1616096642/vuyawlk6cgj26cr2m014xhdew8d8.jpg" ,height: 80, width: 150, crop: :fill, class: 'img-responsive mx-auto rounded' %>
          <p class="text-link-title"> <%= link_to 'Histoire', history_articles_path %></p>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </div>
  <div class="tab-pane container" id="mails">
    <% unless user_signed_in? %>
      <%= link_to 'Connexion', new_user_session_path %>
    <% else %>
      <%= link_to 'Conversation', conversations_path %>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#beers-link").hover(function(){
      $("#beers").show();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#beers-link").click(function(){
      $("#beers").toggle();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#beers-link").hover(function(){
      $("#articles").hide();
    });
  });
</script>


<script>
  $(document).ready(function(){
    $("#beers").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#articles-link").hover(function(){
      $("#articles").show();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#articles-link").click(function(){
      $("#articles").toggle();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#articles-link").hover(function(){
      $("#beers").hide();
    });
  });
</script>


<script>
  $(document).ready(function(){
    $("#articles").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>

