<div class="navbar navbar-expand-lg navbar-light navbar-lewagon fixed-top">
  <i class="fas fa-bars" data-toggle="collapse"></i>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item d-none d-lg-block">
      <%= link_to 'Accueil', root_path, class: 'second-nav-link', id: 'root' %>
    </li>
    <li class="nav-item d-none d-lg-block">
      <a class="second-nav-link" data-toggle="pill" id="beers-link">Bières <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item d-none d-lg-block">
      <a class="second-nav-link" data-toggle="pill" id="articles-link"></i> Articles <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item d-none d-lg-block">
      <a class="second-nav-link" data-toggle="pill" id="mails-link"> Mails <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    </li>
  </ul>
  <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
    <div class="nav-title">Les Bières</div>
    <%= link_to 'Toutes les Bières', beers_path, class: 'dropdown-item browse' %>
    <%= link_to 'Les Lagers', lagers_beers_path, class: 'dropdown-item browse' %>
    <%= link_to 'Les Ales', ales_beers_path, class: 'dropdown-item browse'%>
    <%= link_to 'Les Styles Mixtes', mixed_beers_path, class: 'dropdown-item browse'%>
    <%= link_to 'Les Targets', target_beers_path, class: 'dropdown-item browse'%>
    <%= link_to 'Collection Printemps/été', spring_beers_path, class: 'dropdown-item browse'%>
    <%= link_to 'Collection Automne/hiver', autumn_beers_path, class: 'dropdown-item browse'%>
    <%= link_to 'Members', users_path, class: 'dropdown-item browse' %>
    <div class="nav-title">Les Articles</div>
    <%= link_to 'Derniers Articles', articles_path, class: 'dropdown-item browse'%>
    <%= link_to 'Actualités', actu_articles_path, class: 'dropdown-item browse'%>
    <%= link_to "Notes d'intention", note_of_intent_articles_path, class: 'dropdown-item browse'%>
    <%= link_to 'Science & Techniques', science_articles_path, class: 'dropdown-item browse'%>
    <%= link_to 'Histoire', history_articles_path, class: 'dropdown-item browse'%>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item browse" %>
    <div class="nav-title">Liens Utiles</div>
    <a class="dropdown-item browse" href="https://www.littlebock.fr/">Little Bock</a>
    <a class="dropdown-item browse" href="http://univers-biere.net/">Univers bière</a>
    <a class="dropdown-item browse" href="https://www.lecomptoirdubrasseur.fr/">Comptoir du Brasseur</a>
    <a class="dropdown-item browse" href="https://justbeerapp.com/">Just beer App</a>
    <a class="dropdown-item browse" href="https://www.happybeertime.com/">HappyBeerTime</a>
  </div>
  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if current_user.photo.present? %>
            <%= link_to current_user do %>
              <%= cl_image_tag current_user.photo.key, class: "avatar" %>
            <% end %>
          <% else %>
            <%= link_to current_user do %>
              <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1614174132/logo_la_chope_gqgs3l.png", class: "avatar" %>
            <% end %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Connexion", new_user_session_path, class: "btn btn-ghost" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<script>
  $(document).ready(function(){
    $(".fa-bars").click(function(){
      $(".dropdown-menu").toggle();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $(".fa-bars").hover(function(){
      $(".dropdown-menu").show();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $(".dropdown-menu").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>

<div class="tab-content second-nav">
  <div class="tab-pane container" id="beers">
    <div class="card p-top shadow">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-xs-6 col-sm-4 col-lg-2">
          <%= link_to ales_beers_path do %>
            <div class="link">
              <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/s--dYPnXHfW--/q_jpegmini/v1618324375/TYPES-OF-ALES_caruvc.jpg" , class: 'mx-auto avatar-nav' %>
              <p class="text-link-title"> ALES </p>
              <div class="cell"><%= link_to 'Wheat beers', wheat_beers_typical_beers_path, class: 'text-link' %></div>
              <div class="cell"><%= link_to 'Lambics & Sours', lambics_typical_beers_path, class: 'text-link' %></div>
              <div class="cell"><%= link_to 'Belgian Ales', belgian_ales_typical_beers_path, class: 'text-link' %> </div>
              <div class="cell"><%= link_to 'Pale Ales', pale_ales_typical_beers_path, class: 'text-link' %> </div>
              <div class="cell"><%= link_to 'Bitters', bitters_typical_beers_path, class: 'text-link' %> </div>
              <div class="cell"><%= link_to 'Scottish Ales', scottish_ales_typical_beers_path, class: 'text-link' %> </div>
              <div class="cell"><%= link_to 'Brown Ales', brown_ales_typical_beers_path, class: 'text-link' %> </div>
              <div class="cell"><%= link_to 'Porters', porters_typical_beers_path, class: 'text-link' %> </div>
              <div class="cell"><%= link_to 'Stouts', stouts_typical_beers_path, class: 'text-link' %> </div>
            </div>
          <% end %>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2">
          <%= link_to lagers_beers_path do %>
            <div class="link">
              <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/s--s_3dEzRG--/q_jpegmini/v1618324165/30_LevureLager_r0wjpl.jpg", class: 'mx-auto avatar-nav' %>
              <p class="text-link-title"> LAGERS </p>
              <div class="cell"><%= link_to 'Pilsner', pilsners_typical_beers_path, class: 'text-link' %> </div>
              <div class="cell"><%= link_to 'American Lager', american_lagers_typical_beers_path, class: 'text-link' %></div>
              <div class="cell"><%= link_to 'European Lager', european_lagers_typical_beers_path, class: 'text-link' %> </div>
              <div class="cell"><%= link_to 'Bock ', bocks_typical_beers_path, class: 'text-link' %></div>
            </div>
          <% end %>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2 ">
          <%= link_to mixed_beers_path do %>
            <div class="link">
              <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/s--kTqldfEU--/q_jpegmini/v1617977570/deguster-sa-biere_c1oxoq.jpg", class: 'mx-auto avatar-nav' %>
              <p class="text-link-title"> STYLES MIXTES </p>
              <div class="cell"><%= link_to 'Alt', alts_typical_beers_path, class: 'text-link' %></div>
              <div class="cell"><%= link_to 'French Ale', french_ales_typical_beers_path, class: 'text-link' %></div>
              <div class="cell"><%= link_to 'German Amber', german_ambers_typical_beers_path, class: 'text-link' %></div>
              <div class="cell"><%= link_to 'American Special', american_specials_typical_beers_path, class: 'text-link' %></div>
              <div class="cell"><%= link_to 'Smoked Beer', smoked_beers_typical_beers_path, class: 'text-link' %></div>
              <div class="cell"><%= link_to 'Strong Ale', strong_ales_typical_beers_path, class: 'text-link' %></div>
            </div>
          <% end %>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2 ">
          <%= link_to target_beers_path do %>
            <div class="link">
              <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1616096642/vuyawlk6cgj26cr2m014xhdew8d8.jpg" , class: 'mx-auto avatar-nav' %>
              <p class="text-link-title"> TARGETS </p>
              <% if beers.present? %>
                <% beers.each do |beer| %>
                  <% if beer.target? %>
                    <div class="cell"><%= link_to "#{beer.name}", beer , class: 'text-link' %></div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2 ">
          <div class="link">
            <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1614876232/Target_xaorog.jpg", class: 'mx-auto avatar-nav' %>
            <%= link_to spring_beers_path do %>
              <p class="text-link-title"> COLLECTION SUNNY </p>
              <div class="cell">
                <div class='text-link'>Repas de Famille </div>
              </div>
              <% if beers.present? %>
                <% beers.each do |beer| %>
                  <% if beer.spring_collection? %>
                    <div class="cell"><%= link_to "#{beer.name}", beer , class: 'text-link' %></div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="link">
            <%= link_to autumn_beers_path do %>
              <p class="text-link-title"> COLLECTION CLOUDY </p>
              <% if beers.present? %>
                <% beers.each do |beer| %>
                  <% if beer.autumn_collection? %>
                    <div class="cell"><%= link_to "#{beer.name}", beer , class: 'text-link' %></div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane container" id="articles">
    <div class="card p-top">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
          <%= link_to articles_path do %>
            <div class="link">
              <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1616096642/vuyawlk6cgj26cr2m014xhdew8d8.jpg", class: 'mx-auto avatar-nav' %>
              <p class="text-link-title">Derniers Articles</p>
            </div>
          <% end %>
          <% if articles.present? %>
            <%= link_to articles.last do %>
              <p class="text-link"><%= articles.last.title %> </p>
            <% end %>
          <% end %>
        </div>
        <div class="col-lg-2">
          <%= link_to actu_articles_path do %>
            <div class="link">
              <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1616096642/vuyawlk6cgj26cr2m014xhdew8d8.jpg", class: 'mx-auto avatar-nav' %>
              <p class="text-link-title">Actualités</p>
            </div>
          <% end %>
        </div>
        <div class="col-lg-2 ">
          <%= link_to note_of_intent_articles_path do %>
            <div class="link">
              <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1616096642/vuyawlk6cgj26cr2m014xhdew8d8.jpg", class: 'mx-auto avatar-nav' %>
              <p class="text-link-title">Note d'intention</p>
            </div>
          <% end %>
        </div>
        <div class="col-lg-2">
          <%= link_to science_articles_path do %>
            <div class="link">
              <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1616096642/vuyawlk6cgj26cr2m014xhdew8d8.jpg", class: 'mx-auto avatar-nav' %>
              <p class="text-link-title">Technique</p>
            </div>
          <% end %>
        </div>
        <div class="col-lg-2">
          <%= link_to history_articles_path do %>
            <div class="link">
              <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1616096642/vuyawlk6cgj26cr2m014xhdew8d8.jpg", class: 'mx-auto avatar-nav'%>
              <p class="text-link-title">Histoire</p>
            </div>
          <% end %>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </div>
  <div class="tab-pane container" id="mails">
    <div class="card p-top">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <% unless user_signed_in? %>
            <%= link_to 'Connexion', new_user_session_path %>
          <% else %>
            <%= link_to 'Conversation', conversations_path %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#beers-link").hover(function(){
      $("#beers").show();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#beers-link").click(function(){
      $("#beers").toggle();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#beers-link").hover(function(){
      $("#articles").hide();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#beers").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#articles-link").hover(function(){
      $("#articles").show();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#articles-link").click(function(){
      $("#articles").toggle();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#articles-link").hover(function(){
      $("#beers").hide();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#articles").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#mails-link").hover(function(){
      $("#mails").show();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#mails-link").click(function(){
      $("#mails").toggle();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#mails-link").hover(function(){
      $("#articles").hide();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#articles-link").hover(function(){
      $("#mails").hide();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#mails").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#root").hover(function(){
      $("#beers").hide();
    });
  });
</script>

