<div class="navbar navbar-expand navbar-light navbar-lewagon">
  <i class="fas fa-bars", id= "navbarDropdown", data-toggle="dropdown"></i>
  <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
    <div class="nav-title">Les Amis Du Cabinet</div>
    <%= link_to 'Members', users_path, class: 'dropdown-item browse' %>
    <div class="nav-title">Créations Du Cabinet</div>
    <%= link_to 'Le Cabinet Target', concept_path, class: 'dropdown-item browse' %>
    <%= link_to 'Les Target Beers', target_beers_path, class: 'dropdown-item browse' %>
    <%= link_to "Collection Printemps/été", spring_beers_path, class: 'dropdown-item browse' %>
    <%= link_to 'Collection Automne/Hiver', autumn_beers_path, class: 'dropdown-item browse' %>
    <%= link_to 'Les Designs en cours', featuring_beers_path, class: 'dropdown-item browse' %>
    <%= link_to 'Les Différentes Bières', beers_path, class: 'dropdown-item browse' %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item browse" %>
    <div class="nav-title">Liens Utiles</div>
    <a class="dropdown-item browse" href="https://www.littlebock.fr/">Little Bock</a>
    <a class="dropdown-item browse" href="http://univers-biere.net/">Univers bière</a>
    <a class="dropdown-item browse" href="https://www.lecomptoirdubrasseur.fr/">Comptoir du Brasseur</a>
    <a class="dropdown-item browse" href="https://www.youtube.com/channel/UCwzxu1j19ICnfW5zrBvUw-w">Une bière et Jivay</a>
    <a class="dropdown-item browse" href="https://www.happybeertime.com/">HappyBeerTime</a>
  </div>
  <%= link_to "Les Créations Du Cabinet Target", root_path, class: "brand" %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if current_user.photo.present? %>
            <%= link_to current_user do %>
              <%= cl_image_tag current_user.photo.key, class: "avatar" %>
            <% end %>
          <% else %>
            <%= link_to current_user do %>
              <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1614174132/logo_la_chope_gqgs3l.png", class: "avatar" %>
            <% end %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Connexion", new_user_session_path, class: "btn-flat" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<script>
  $(document).ready(function(){
    $(".fa-bars").on({
      mouseenter: function(){
        $(".dropdown-menu").show();
      },
    });
  });
</script>
<script>
  $(document).ready(function(){
    $(".dropdown-menu").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>
