<div class="navbar navbar-expand-lg navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, alt: 'Home' do %>
    <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1649340010/beertrackr/Beertrackr_2.webp", class: 'business-avatar', id: 'brand_root', alt: 'logo' %>
  <% end %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item d-none d-lg-block">
      <%= link_to 'Recherche', new_public_search_path, class: 'second-nav-link', id: 'root' %><i class="fa fa-caret-down" aria-hidden="true"></i>
    </li>
    <li class="nav-item d-none d-lg-block">
      <a class="second-nav-link" data-toggle="pill" id="beers-link"> Styles <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item d-none d-lg-block">
      <a class="second-nav-link" data-toggle="pill" id="articles-link"> Articles <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item d-none d-lg-block">
      <a class="second-nav-link" data-toggle="pill" id="stickers-link"> Stickers <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item d-none d-lg-block">
      <a class="second-nav-link" data-toggle="pill" id="projects-link"> Projects <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item d-none d-lg-block">
      <a class="second-nav-link" data-toggle="pill" id="contact-link"> Contact <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    </li>
  </ul>

  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% mailbox = [] %>
        <% unread = [] %>
        <li class="nav-item dropdown" data-toggle="modal" data-target="#actions">
          <% if current_user.photo.present? %>
            <%= cl_image_tag current_user.photo.key, fetch_format: :auto, alt: 'photo-profil', class: "avatar" %>
          <% else %>
            <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1614174132/logo_la_chope_gqgs3l.png", alt: 'Logo' , class: "avatar" %>
          <% end %>
        </li>
        <% conversations.each do |c| %>
          <% if c.participates?( current_user ) %>
            <% mailbox << c %>
          <% end %>
        <% end %>
        <% if mailbox != [] %>
          <% mailbox.each do |l| %>
            <% if l.personal_messages.last.read == false && l.personal_messages.last.user != current_user %>
              <% unread << l %>
            <% end %>
          <% end %>
        <% end %>
        <% if unread != [] %>
          <div class="notification"> <%= unread.count %></div>
        <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to "Connexion", new_user_session_path, class: "btn btn-ghost" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="tab-content second-nav">
  <div class="tab-pane container" id="search">
    <div class="card p-top">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <%= form_tag(typical_beers_path, method: :get) do %>
            <%= text_field_tag :search, nil, placeholder: 'Type de bière ?', class: 'center search' %>
            <%= submit_tag 'Rechercher', style: "display: none;" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane container" id="beers">
    <div class="card p-top shadow">
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-2">
          <div class="link">
            <p class="text-link-title">ALLEMAGNE</p>
          </div>
          <% allemagne = [] %>
          <% @typical_beers.each do |tb| %>
            <% if tb.origin.present? && tb.origin.name == 'Allemagne' %>
              <% allemagne << tb %>
              <% allemagne.sort_by(&:name).each do |a| %>
                <div class="cell">
                  <%= link_to "#{a.name}", typical_beer_path(a), class: 'side-link'  %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="col-2">
          <div class="link">
            <p class="text-link-title">BELGIQUE</p>
          </div>
          <% belgique = [] %>
          <% @typical_beers.each do |tb| %>
            <% if tb.origin.present? && tb.origin.name == 'Belgique' %>
              <% belgique << tb %>
              <% belgique.sort_by(&:name).each do |a| %>
                <div class="cell">
                  <%= link_to "#{a.name}", typical_beer_path(a), class: 'side-link'  %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div class="col-2">
          <div class="link">
            <p class="text-link-title">ÎLES ANGLO-CELTES</p>
          </div>
          <% islands = [] %>
          <% @typical_beers.each do |tb| %>
            <% if tb.origin.present? && tb.origin.name == 'Îles Anglo-celtes ' %>
              <% islands << tb %>
              <% islands.sort_by(&:name).each do |a| %>
                <div class="cell">
                  <%= link_to "#{a.name}", typical_beer_path(a), class: 'side-link'  %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="col-2">
          <div class="link">
            <p class="text-link-title"> U.S.A </p>
          </div>
          <% usa = [] %>
          <% @typical_beers.each do |tb| %>
            <% if tb.origin.present? && tb.origin.name == 'U.S.A' %>
              <% usa << tb %>
              <% usa.sort_by(&:name).each do |a| %>
                <div class="cell">
                  <%= link_to "#{a.name}", typical_beer_path(a), class: 'side-link'  %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>


        <div class="col-2">
          <div class="link">
            <p class="text-link-title"> AUTRES </p>
          </div>
          <% other = [] %>
          <% @typical_beers.each do |tb| %>
            <% if tb.origin.present? && tb.origin.name == 'Autres' %>
              <% other << tb %>
              <% other.sort_by(&:name).each do |a| %>
                <div class="cell">
                  <%= link_to "#{a.name}", typical_beer_path(a), class: 'side-link'  %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>
  <div class="tab-pane container" id="articles">
    <div class="card p-top">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
          <%= link_to articles_path do %>
            <div class="link">
              <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1622019082/fabrication-biere2_scvgnn.webp", alt: 'derniers-articles', class: 'mx-auto avatar-nav' %>
              <p class="text-link-title">Derniers Articles</p>
            </div>
          <% end %>
        </div>
        <div class="col-lg-2">
          <%= link_to actu_articles_path do %>
            <div class="link">
              <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1622019082/fabrication-biere2_scvgnn.webp", alt: 'actualités', class: 'mx-auto avatar-nav' %>
              <p class="text-link-title">Actualités</p>
            </div>
          <% end %>
        </div>
        <div class="col-lg-2 ">
          <%= link_to note_of_intent_articles_path do %>
            <div class="link">
              <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1622019082/fabrication-biere2_scvgnn.webp", alt: "notes d'intention", class: 'mx-auto avatar-nav' %>
              <p class="text-link-title">Note d'intention</p>
            </div>
          <% end %>
        </div>
        <div class="col-lg-2">
          <%= link_to science_articles_path do %>
            <div class="link">
              <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1622019082/fabrication-biere2_scvgnn.webp", alt: 'technique', class: 'mx-auto avatar-nav' %>
              <p class="text-link-title">Technique</p>
            </div>
          <% end %>
        </div>
        <div class="col-lg-2">
          <%= link_to history_articles_path do %>
            <div class="link">
              <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1622019082/fabrication-biere2_scvgnn.webp", alt: 'histoire', class: 'mx-auto avatar-nav'%>
              <p class="text-link-title">Histoire</p>
            </div>
          <% end %>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </div>
  <div class="tab-pane container" id="stickers">
    <div class="card p-top p-bottom">
      <div class="row">
        <div class="col-lg-1"></div>
        <% if stickers.present? %>
          <% stickers.sample(5).each do |s| %>
            <div class="col-lg-2 ">
              <%= link_to s do %>
                <div class="link">
                  <%= cl_image_tag s.photo.key, fetch_format: :auto, alt: s.name, class: 'mx-auto avatar-nav' %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="tab-pane container" id="projects">
    <div class="card p-top">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <% if projects.present? %>
            <div class="row">
              <% projects.sample(3).each do |s| %>
                <div class="col-4 mx-auto">
                  <%= link_to s do %>
                    <%= render 'projects/nav_project_card', project: s %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane container" id="contact">
    <div class="card p-top">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <p>Association 1901 l'atelier target </p>
          <p>3, place de la Chapelle, 33550 Langoiran</p>
            <p><%= link_to 'envoyer un message', new_personal_message_path(receiver_id: @u), class: 'btn-ghost' %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="actions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bottle-available">
        <% if user_signed_in? && current_user.store.nil? %>
          <div class="col-12">
            <%= link_to user_path(current_user) do %>
              <p class="btn-nav-modern center"><i class="fas fa-user"></i> Compte personnel</p>
            <% end %>
          </div>
          <div class="col-12">
            <%= link_to conversations_path, class: 'admin' do %>
              <p class="btn-nav-modern center"><i class="fas fa-envelope"></i> Messagerie</p>
            <% end %>
          </div>
          <div class="col-12">
            <%= link_to new_public_search_path do %>
              <p class="btn-nav-modern center"><i class="fas fa-beer"></i> Beertrackr</p>
            <% end %>
          </div>
          <div class="col-12">
            <%= link_to publications_path do %>
              <p class="btn-nav-modern center"><i class="fas fa-newspaper"></i> Beernews</p>
            <% end %>
          </div>
          <div class="col-12">
            <%= link_to market_places_path do %>
              <p class="btn-nav-modern center"><i class="fas fa-store"></i> Beermarkets</p>
            <% end %>
          </div>
          <div class="col-12">
            <%= link_to new_store_path do %>
              <p class="btn-nav-modern center"><i class="fas fa-map-marker-alt"></i> Créer sa cave</p>
            <% end %>
          </div>
          <div class="col-12">
            <%= link_to new_beer_path do %>
              <p class="btn-nav-modern center"><i class="fas fa-beer"></i> Ajouter une bière au catalogue</p>
            <% end %>
          </div>
          <div class="col-12">
            <%= link_to new_sticker_path do %>
              <p class="btn-nav-modern center"><i class="fas fa-beer"></i> BeerStickr</p>
            <% end %>
          </div>
          <div class="col-12">
            <%= link_to new_project_path do %>
              <p class="btn-nav-modern center"><i class="fas fa-list"></i> Créer un Projet Target</p>
            <% end %>
          </div>
          <div class="col-12">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <p class="btn-nav-modern center"><i class="fas fa-sign-out-alt"></i> Déconnexion</p>
            <% end %>
          </div>
          <% if current_user.admin? %>
            <div class="col-12">
              <%= link_to rails_admin_path do %>
                <p class="btn-nav-modern center"><i class="fas fa-lock"></i> Administration</p>
              <% end %>
            </div>
          <% end %>
        <% elsif user_signed_in? && current_user.store.present? %>
          <% unless current_user.access != nil && current_user.access.code != current_user.store.privacy_code  %>
            <div class="col-12">
              <%= link_to user_path(current_user) do %>
                <p class="btn-nav-modern center"><i class="fas fa-user"></i> Compte personnel</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to conversations_path, class: 'admin' do %>
                <p class="btn-nav-modern center"><i class="fas fa-envelope"></i> Messagerie</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to new_public_search_path do %>
                <p class="btn-nav-modern center"><i class="fas fa-beer"></i> Beertrackr</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to publications_path do %>
                <p class="btn-nav-modern center"><i class="fas fa-newspaper"></i> Beernews</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to market_places_path do %>
                <p class="btn-nav-modern center"><i class="fas fa-store"></i> Beermarkets</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to store_path(current_user.store) do %>
                <p class="btn-nav-modern center"><i class="fas fa-map-marker-alt"></i> Mettre sa cave à jour</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to new_beer_path do %>
                <p class="btn-nav-modern center"><i class="fas fa-beer"></i> Ajouter une bière au catalogue</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to new_sticker_path do %>
                <p class="btn-nav-modern center"><i class="fas fa-beer"></i> BeerStickr</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to new_project_path do %>
                <p class="btn-nav-modern center"><i class="fas fa-list"></i> Créer un Projet Target</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <p class="btn-nav-modern center"><i class="fas fa-sign-out-alt"></i> Déconnexion</p>
              <% end %>
            </div>
            <% if current_user.admin? %>
              <div class="col-12">
                <%= link_to rails_admin_path do %>
                  <p class="btn-nav-modern center"><i class="fas fa-lock"></i> Administration</p>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <div class="col-12">
              <%= link_to user_path(current_user) do %>
                <p class="btn-nav-modern center"><i class="fas fa-user"></i> Compte personnel</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to new_public_search_path do %>
                <p class="btn-nav-modern center"><i class="fas fa-beer"></i> Beertrackr</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to market_places_path do %>
                <p class="btn-nav-modern center"><i class="fas fa-store"></i> Beermarkets</p>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to store_path(current_user.store) do %>
                <p class="btn-nav-modern center"><i class="fas fa-map-marker-alt"></i> visiter ma cave</p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#root").hover(function(){
      $("#beers").hide();
    });
  });
</script>


<script>
  $(document).ready(function(){
    $("#beers-link").hover(function(){
      $("#beers").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#beers-link").hover(function(){
      $("#articles").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#beers").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>


<script>
  $(document).ready(function(){
    $("#articles-link").hover(function(){
      $("#articles").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#articles-link").hover(function(){
      $("#beers").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#articles-link").hover(function(){
      $("#stickers").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#articles").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#stickers-link").hover(function(){
      $("#stickers").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#stickers-link").hover(function(){
      $("#articles").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#stickers-link").hover(function(){
      $("#projects").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#stickers").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#projects-link").hover(function(){
      $("#projects").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#projects-link").hover(function(){
      $("#stickers").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#projects-link").hover(function(){
      $("#contact").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#projects").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#contact-link").hover(function(){
      $("#contact").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#contact-link").hover(function(){
      $("#projects").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#contact").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>


