<div class="offnav"></div>
<div class="container top bottom">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-lg-4 mx-auto form-login">
      <h1 class='page-title'>Point de vente</h1>
      <%= simple_form_for (@market_place) do |f| %>`
        <%= f.input :name, required: false, input_html: { class: 'center'}  %>
        <%= f.input :city, required: false, input_html: { class: 'center'}   %>
        <%= f.input :zipcode, required: false, input_html: { class: 'center'}   %>
        <%= f.input :website, required: false, input_html: { class: 'center'}   %>
        <%= f.button :submit, 'valider', class: 'btn btn-ghost' %>
      <% end %>
    </div>
  </div>
</div>
