<div class="offnavs"></div>
<div class="container concept">
  <div class="row">
  <!-- About Section -->
    <div class="col-xs-4 col-lg-6 portrait">
     <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1544549071/redwv10k9nm0xtzemtb5.jpg", class: 'img-responsive', width: 400 %>
    </div>

    <div class="col-xs-8 col-lg-6 shadow">
      <h1 class="center">LE CABINET TARGET</h1><br>
      <h5 class="center">Pico Brasserie</h5>
      <p class="large">Le Cabinet Target... c'est d'abord l'élaboration d'une pico brasserie afin de pouvoir mettre en place tous les processus de l'élaboration d'une bière de qualité à la maison. L'avènement du bio indique une réelle volonté de bien consommer, mais pour autant, tous les labels du monde ne sauraient égaler le Do It Yourself ou encore les circuits très courts. C'est donc par la volonté de maîtriser encore plus ce qui a attrait au plaisir alimentaire que le Cabinet Target est né</p>
      <h5 class="center">Une démarche artitistique</h5>
      <p class="large">Il ne s'agit pas pour nous d'élaborer une autre brasserie artisanale, même si c'est le genre d'initiative qui a le vent en poupe aujourd'hui. En effet, l'objectif est de s'adresser autant à l'intellect qu'aux sens. Tout d'abord mettre en place une note d'intention pour l'élaboration d'une target, puis l'intégrer à une note d'intention plus générale pour créer une collection unique comme le ferait un grand couturier. La collection s'incrit dans une saisonnalité et dans une quantité limitée.
      <h5 class="center">Un Collectif</h5>
      <p class="large">Le cabinet Target est à l'image de ceux qui aiment la bière, celles et ceux qui la boivent, la font, s'interessent aux principes physiques et biologiques, qui la vendent et j'en passe. Nous avons tous une bonne raison de partager quelque chose autour de la bière</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-8 col-lg-6 shadow">
      <h1 class="center">Les Possibilités</h1>
      <h5 class="center">Des articles</h5>
      <p class="large">Découvrez des articles classés selon différentes rubriques
        <%= link_to 'Actualités', actu_articles_path  %>,
        <%= link_to "Notes d'intention", note_of_intent_articles_path  %>,
        <%= link_to 'Science & Techniques', science_articles_path  %> et
        <%= link_to 'Histoire', history_articles_path  %>
      </p>
      <h5 class="center">Des Bières</h5>
      <p class="large">Bien évidemment, vous retrouvererez les bières Targets et les différentes collections mais également les bières des membres du cabinet</p>
      <%= link_to target_beers_path do %>
        <p class="large">Les Target beers</p>
      <% end %>
      <h5 class="center">Des Recettes</h5>
      <p class="large">Retrouvez les recettes des bières des membres, pour les refaire ou même aller les goûter.
      <h5 class="center">Des Conseils de dégustations</h5>
      <p class="large">Créez votre bière idéale avec des termes courant pour être orienté vers des styles de bière en particulier</p>
      <h5 class="center">Etablissez votre journal de dégustations faites et à venir</h5>
      <p class="large">Faîtes des rapports de dégustation, mettez de côté les bières que vous souhaitez goûter et notez celles que vous avez déjà testées</p>
      <h5 class="center">Collaborez avec d'autres membres du collectif</h5>
      <p class="large"></p>Faîtes des design collectifs, créez une brasserie artisanale ou un circuit ultra court ou des design spéciaux pour des satisfaire des requêtes
      <h5 class="center">Parlez de votre activité</h5>
    </div>

    <div class="col-xs-4 col-lg-6 portrait">
      <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1614174132/logo_la_chope_gqgs3l.png", class: 'img-responsive', width: 400 %>
    </div>
  </div>
  <hr>
  <div class="row">
  <!-- About Section -->
    <div class="col-xs-4 col-lg-6 portrait">
     <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1614174132/logo_la_chope_gqgs3l.png", class: 'img-responsive', width: 400 %>
    </div>

    <div class="col-xs-8 col-lg-6 shadow">
      <h1 class="center">About Me</h1><br>
       <% @beers.each do |b| %>
        <% if b.category.name == 'Target' %>
          <%= b.style.name %>
        <% end %>
      <% end %>
      <br>
      <%= link_to target_beers_path do %>
        <h4>Les Target beers</h4>
      <% end %>
      <p class="text-grey">Les bières de toute saison, celles qu'on aime boire et partager pour profiter du moment</p><br>

      <%= link_to spring_beers_path do %>
        <h4>Collection Printemps/été 2021</h4>
      <% end %>
      <p class="text-grey">Les bières assez légères aux arômes floraux et agrumes avec une amertume souple pour le côté rafraichissant</p><br>
      <%= link_to autumn_beers_path do %>
        <h4>Collection Automne/Hiver 2021</h4>
      <% end %>
      <p class="text-grey">Les bières plus fortes et plus lourde en bouche, elles nous rappellent les pubs et que les jours raccoursissent</p><br>
      <%= link_to autumn_beers_path do %>
        <h4>Bières Designées 2021</h4>
      <% end %>
      <p class="text-grey">C'est que nos palais demandent, des expérimentations, l'utilisation dans un même brassin de techniques et houblons qui n'auraient pas pu coexister avant le XXème siècle</p><br>
    </div>
  </div>

  <hr>
</div>

