<div class="offnav"></div>
  <!-- Masthead -->
<header class="banner text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-12 mx-auto">
        <div class="square-left">
          <%= link_to new_public_search_path do %>
            <h1 class="home-title"><%= title 'DÉCOUVRE LE BEERTRACKR' %></h1>
          <% end %>
          <p class="slogan">Il existe forcément une bière à ton goût.</p>
          <%= link_to 'Trouve ta bière!', new_public_search_path, class: 'btn btn-home' %>
        </div>
      </div>
      <div class="col-lg-1 d-none d-lg-block"></div>
      <div class="col-lg-6 col-12 mx-auto">
        <div class="square-right">
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1649843769/beertrackr/white_cross.svg', class: 'design-element-1' %>
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1649843769/beertrackr/Black_circle.svg', class: 'design-element-2' %>
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1649850862/beertrackr/beertracker_model_right.webp', class: 'design-element-3' %>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex ">
            <i class="fas fa-beer m-auto" aria-hidden="true"></i>
          </div>
          <div class="goodies">
            <h3>Découvre des styles à explorer</h3>
          </div>
          <p>Remplis les critères sur le BEERTRACKR et retrouve des exemples de bières et de styles qui correspondent à tes goûts </p>
          <%= link_to "BEERTRACKR", new_public_search_path, alt: 'Recherche' , class: 'btn btn-homepage' %>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fa fa-store m-auto" aria-hidden="true"></i>
          </div>
          <div class="goodies">
            <h3>Trouve un point de vente </h3>
          </div>
          <p>Consulte ou ajoute un point de vente de bière qu'on pourra y fasse un tour à l'occasion. On aime les découvertes </p>
          <%= link_to "BEERMARKETS", market_places_path, alt: 'Brasseries artisanales' , class: 'btn btn-homepage' %>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-heart m-auto" aria-hidden="true"></i>
          </div>
          <div class="goodies">
            <h3>Tiens ton carnet de dégustations</h3>
          </div>
          <p>Enregistre tes dégustations en fonction du contexte et affine le BEERTRACKR. Deviens Zythologue de la communauté</p>
          <%= link_to "INSCRIPTION", new_user_registration_path, alt: 'Inscription' , class: 'btn btn-homepage' %>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="features-icons-item mx-auto mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-newspaper m-auto" aria-hidden="true"></i>
          </div>
          <div class="goodies">
            <h3>Consulte les actualités du réseau</h3>
          </div>
          <p>Si un festival de bière ou une nouvelle brasserie ouvre pas loin de chez toi, tu veux sans doute être au courant non?</p>
          <%= link_to "ACTUALITÉS", publications_path, alt: 'Publications' , class: 'btn btn-homepage' %>
        </div>
      </div>
    </div>
  </div>
</section>




