<div class="offnav"></div>
  <!-- Masthead -->

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="4000">
      <div class="first-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_center,h_1000,w_2400/v1667301980/missy-fant-OMIgwm1i_NY-unsplash_c01def.webp);">
        <div class="carousel-caption hook">
          <h1 class="home-title" id='first-title'>BEERTRACKR</h1>
          <p>DES BIÈRES ET DES STYLES À EXPLORER</p>
          <div class="couple">
            <%= link_to new_public_search_path do %>
              <div class='btn btn-carousel-2'>DÉCOUVRIR</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-interval="4000">
      <div class="first-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_center,h_1000,w_2400/v1667304062/alban-martel-nhX8QhXMBkM-unsplash_hsbokx.webp);">
        <div class="carousel-caption hook">
          <h1 class="home-title">BEERTRACKR</h1>
          <p>DES BARS, DES CAVES & DES BRASSERIES</p>
          <div>
            <%= link_to market_places_path do %>
              <div class='btn btn-carousel-2'>EXPLORER</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-interval="4000">
      <div class="first-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_center,h_1000,w_2400/v1667305032/mary-rebecca-elliott--V-ENAd192g-unsplash_cnpacp.webp);">
        <div class="carousel-caption hook">
          <h1 class="home-title">BEERTRACKR</h1>
          <p>UN UNIVERS DE CONNAISSEURS & D'AMATEURS </p>
          <div>
            <%= link_to new_user_registration_path do %>
              <div class='btn btn-carousel-2'>S'INSCRIRE</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<section class="home-action">
  <div class="container">
    <h2 class='on-white'>LES UNIVERS DE LA BIERE</h2>
    <div class="row straight" id="projets">
      <div class="column">
        <div class="element">
          <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_scale,w_1000/v1678542752/beertrackr/daniel-lee-c3YF1RU1tis-unsplash.webp" style="width:100%">
          <div class="img-column-layer"></div>
          <p class='element-text'>BEERTRACKER</p>
        </div>
        <div class="element">
          <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_center,h_667,w_1000/v1678544516/kyle-wagner-RLsSeG9KzL0-unsplash_vibzqm.webp" style="width:100%">
          <div class="img-column-layer"></div>
          <p class='element-text'>ARTICLES</p>
        </div>
      </div>
      <div class="column">
        <div class="element">
          <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_scale,h_667,w_1000/v1678542751/beertrackr/tatiana-rodriguez-D_Rfjj3XV8M-unsplash.webp" style="width:100%">
          <div class="img-column-layer"></div>
          <p class='element-text'>STYLES</p>
        </div>
        <div class="element">
          <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_scale,w_1000/v1677098227/josh-olalde--Ygu9Qx309s-unsplash_zfvkv1.webp" style="width:100%">
          <div class="img-column-layer"></div>
          <p class='element-text'>PUBLICATIONS</p>
        </div>
      </div>
      <div class="column">
        <div class="element">
          <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_scale,w_1000/v1678542751/beertrackr/george-bakos-83HwuZirc-c-unsplash.webp" style="width:100%">
          <div class="img-column-layer"></div>
          <p class='element-text'>BIERES</p>
        </div>
        <div class="element">
          <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_scale,w_1000/v1677098227/wil-stewart-UErWoQEoMrc-unsplash_zs1i7x.webp" style="width:100%">
          <div class="img-column-layer"></div>
          <p class='element-text'>FEED</p>
        </div>
      </div>
      <div class="column">
        <div class="element">
          <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_scale,w_1000/v1671396091/jdhxxgok05c7ii4r6h9tp9ofqzgi.webp" style="width:100%">
          <div class="img-column-layer"></div>
          <p class='element-text'>SPOTS</p>
        </div>
        <div class="element">
          <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_scale,w_1000/v1678542751/beertrackr/adam-wilson-6ZZh8kOyW-4-unsplash.webp" style="width:100%">
          <div class="img-column-layer"></div>
          <p class='element-text'>RECETTES</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="decision">
  <div class="container">
    <h2 class='on-black'>REJOINS LA COMMUNAUTÉ</h2>
    <div class="row">
      <div class="col-9 col-sm-8 col-md-6 col-lg-4 mx-auto">
        <div class="decision-wrapper">
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1667337302/brittani-burns-7FOVFdONpYQ-unsplash_rtxxfj.webp', class: 'img-fluid img-decision' %>
          <div class="img-decision-layer"></div>
        </div>
      </div>
      <div class="col-9 col-sm-8 col-md-6 col-lg-4 mx-auto">
        <div class="decision-wrapper">
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1678552841/lorenzo-rui-NfjfNQV47OU-unsplash_eorwp6.webp', class: 'img-fluid img-decision' %>
          <div class="img-decision-layer"></div>
        </div>
      </div>
      <div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto">
        <p class='usp'>Créés des bières dans le catalogue</p>
        <p class='usp'>Indique les lieux où la bière est bonne</p>
        <p class='usp'>Créés ton journal de dégustation</p>
        <p class='usp'>Construis ta wishlist de bière à goûter</p>
        <p class='usp'>Créés une cave à bière pour toi ou tes clients</p>
        <p class='usp'>Indique les bons plans à ne pas louper</p>
        <p class='usp'>Partage tes moments bière dans le feed</p>
        <div class="btn btn-mobile">INSCRIS-TOI</div>
      </div>
    </div>
  </div>
</section>

<header class="banner text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 mx-auto">
        <div class="square-left">
          <div class="row">
            <div class='col-6 mx-auto'>
              <%= link_to users_path do %>
                <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1670186297/Composant_1_1_pkzo67.webp', class: 'img-fluid universe' %>
                <p id='universe-legend'>Les membres</p>
              <% end %>
            </div>
            <div class='col-6 mx-auto'>
              <%= link_to articles_path do %>
                <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1670186297/Composant_2_1_jdx5m4.webp', class: 'img-fluid universe' %>
                <p id='universe-legend'>Les articles</p>
              <% end %>
            </div>
            <div class='col-6 mx-auto'>
              <%= link_to target_beers_path do %>
                <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1670186297/Composant_3_1_lhi51e.webp', class: 'img-fluid universe' %>
                <p id='universe-legend'>Les recettes</p>
              <% end %>
            </div>
            <div class='col-6 mx-auto'>
              <%= link_to publications_path do %>
                <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1670186297/Composant_4_1_rfarsk.webp', class: 'img-fluid universe' %>
                <p id='universe-legend'>Bon plans</p>
              <% end %>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-1 d-none d-lg-block"></div>
      <div class="col-lg-5 col-12 mx-auto">
        <div class="square-right">
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1667330610/Groupe_10_zc2ivh.webp', class: 'design-element-1' %>
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1649843769/beertrackr/Black_circle.svg', class: 'design-element-2' %>
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1649850862/beertrackr/beertracker_model_right.webp', class: 'design-element-3' %>
        </div>
      </div>
    </div>
  </div>
</header>

<%= render 'shared/footer' %>

<script>
$(document).ready(function () {
    $('.element').bind('click', function() {
        // add active class to clicked element
        $(this).toggleClass('active');
    });
});
</script>
