<div class="offnav"></div>
  <!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-9 mx-auto">
        <%= link_to new_public_search_path do %>
          <h1 class="home-title">BEERTRACKR</h1>
        <% end %>
        <h2 class="slogan">Découvre des bières, leurs styles, des caves et les Targets</h2>
        <div><%= link_to 'Cliquez ICI', new_public_search_path, class: 'btn btn-home' %></div>
      </div>
    </div>
  </div>
</header>
<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex ">
            <i class="fas fa-beer m-auto" aria-hidden="true"></i>
          </div>
          <h3 class='goodies'>Découvre des styles à explorer</h3>
          <p>Remplis les critères sur le BEERTRACKR et retrouve des exemples de bières et de styles qui correspondent à tes goûts </p>
          <%= link_to "BEERTRACKR", new_public_search_path, class: 'btn btn-modern' %>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fa fa-store m-auto" aria-hidden="true"></i>
          </div>
          <h3 class='goodies'>Trouve une Brasserie ou un point de vente </h3>
          <p>Consulte ou ajoute un point de vente de bière qu'on pourra y fasse un tour à l'occasion. On aime les découvertes </p>
          <%= link_to "BEERMARKETS", market_places_path, class: 'btn btn-modern' %>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-heart m-auto" aria-hidden="true"></i>
          </div>
          <h3 class='goodies'>Tiens un carnet de dégustations</h3>
          <p>Enregistre tes dégustations en fonction du contexte et affine le BEERTRACKR. Deviens Zythologue de la communauté</p>
          <%= link_to "INSCRIPTION", new_user_registration_path, class: 'btn btn-modern' %>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-newspaper m-auto" aria-hidden="true"></i>
          </div>
          <h3 class='goodies'>Consulte les actualités du réseau</h3>
          <p>Si un festival de bière ou une nouvelle brasserie ouvre pas loin de chez toi, tu veux sans doute être au courant non?</p>
          <%= link_to "ACTUALITÉS", publications_path, class: 'btn btn-modern' %>
        </div>
      </div>
    </div>
  </div>
</section>




