<div class="offnav"></div>
  <!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="">Atelier Target</h1>
        <h4 class="">Brassins Artistiques Sur-mesure</h4>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <p class="card-text"><%= link_to "Inscription", new_user_registration_path, class: 'btn btn-ghost' %><%= link_to "Connexion", new_user_session_path, class: 'btn btn-ghost' %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div id="search-bar">
          <%= form_tag(typical_beers_path, method: :get) do %>
            <%= text_field_tag :search, nil, class: "search-form", placeholder: raw("&#xF002;"), style: "font-family: 'FontAwesome';" %>
            <%= submit_tag 'Search', style: "display: none;" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex ">
            <i class="fa fa-recycle m-auto" aria-hidden="true"></i>
          </div>
          <h3>Artiste brasseur de village</h3>
          <p class="lead mb-0">Au Cabinet Target, on ne brasse pas une gamme de recettes de bière. On adapte chaque brassin à la saisonnalité.</p>
          <%= link_to "En apprendre plus sur les familles et types de bière", new_user_registration_path, class: 'btn btn-ghost' %>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fa fa-cogs m-auto" aria-hidden="true"></i>
          </div>
          <h3>Assistance bièrologique</h3>
          <p class="lead mb-0">Développez votre palet et votre connaissance de l'univers brassicole grâce à l'algorythme de découverte des bières et aux articles</p>
          <%= link_to "Découvrir votre type de bière de prédilection et découvrez les autres", new_user_registration_path, class: 'btn btn-ghost' %>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fa fa-recycle m-auto" aria-hidden="true"></i>
          </div>
          <h3>Circuit Court et responsable</h3>
          <p class="lead mb-0">Retrouvez les recettes et ingrédients de chacun des brassins et ne vous contentez plus d'un label</p>
          <%= link_to "Découvrir les targets bières et leurs recettes", new_user_registration_path, class: 'btn btn-ghost' %>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container top">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
      <h2 class='center'>Exemples</h2>
      <div class="row">
        <% @beers.sample(3).each do |b| %>
          <div class="mx-auto col-xs-8 col-sm-6 col-lg-4 index">
            <%= link_to b do %>
              <div class="card beers-shadow">
                <%= cl_image_tag b.photo.key, height: 200, width: 300, crop: :fill ,class: 'beer-image card-img-top img-responsive' %>
                <div class="card-body">
                  <h5 class="card-title"><%= b.name.upcase %></h5>
                  <p class="card-text"><%= b.style.name %></p>
                  <p class="card-text"><%= b.category.name %></p>
                  <% if b.user.photo.present? %>
                    <%= cl_image_tag b.user.photo.key, height: 70, width: 70, crop: :fill, class: "avatar-bordered-beers beer-user img-responsive" %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container top bottom">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12 mx-auto">
      <p class="card-text"><%= link_to "connaître mon style de bière", new_user_registration_path, class: 'btn btn-ghost' %></p>
    </div>
  </div>
</div>
<!-- Image Showcases -->
<section class="showcase top">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://res.cloudinary.com/da2krghvd/image/upload/v1617901359/bieres-beers_dd7sqm.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Devenez membre</h2>
        <p class="lead mb-0">Participez à l'élaboration de brassins uniques que vous soyez amateur, brasseur ou professionnel intéressé par la production d'un produit unique</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('https://res.cloudinary.com/da2krghvd/image/upload/v1617977570/deguster-sa-biere_c1oxoq.jpg');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Contruisez votre journal</h2>
        <p class="lead mb-0">Tenez à jour un journal de dégustations et développez votre appréciation de chaque type de bière, en fonction des contextes</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://res.cloudinary.com/da2krghvd/image/upload/v1617976492/L1eCgorNibKd0irk9M9l1zFZNSOp8O6TOLh9C-eY8sR0kkpKl6uTlHW0mHGyEAIRJfqWMN9NykCGXKV7urqxQzG2iMEXzvPqB_zsiGqIkkx1z1kIiStuU1Ywys5wpz64q43Wbja1f-T2iJ8vNylMyXcBbpL19ZF3uBrugFlv_ueaX23iEgVZQpKHii-PsNk_fgocrh.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Louer mes services</h2>
        <p class="lead mb-0">Designons ensemble une bière selon vos goûts et mettons en place sa production du design au flacon</p>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">Qui participe?</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
          <h5>Juliette D</h5>
          <p class="font-weight-light mb-0">"J'adore la Green DRY HOPPING !"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
          <h5>Lilian M.</h5>
          <p class="font-weight-light mb-0">"On a élaboré ensemble une recette de Lager, en prenant le temps de discuter et déguster plusieurs bières avant pour bien définir l'objectif. Résultat SUPER! Je recommande"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
          <h5>Mathilde R.</h5>
          <p class="font-weight-light mb-0">"Régulièrement servie aux repas du midi en famille, On n'se lasse pas de découvrir toujours de nouvelles bières"</p>
        </div>
      </div>
    </div>
  </div>
</section>

