<div class="offnav"></div>
  <!-- Masthead -->

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="4000">
      <div class="first-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_center,h_1000,w_2400/v1667301980/missy-fant-OMIgwm1i_NY-unsplash_c01def.webp);">
        <div class="carousel-caption hook">
          <h1 class="home-title">BEERTRACKR</h1>
          <p>DES BIÈRES ET DES STYLES À EXPLORER</p>
          <div class="couple">
            <%= link_to new_public_search_path do %>
              <div class='btn btn-carousel-2'>DÉCOUVRIR</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-interval="4000">
      <div class="first-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_center,h_1000,w_2400/v1667304062/alban-martel-nhX8QhXMBkM-unsplash_hsbokx.webp);">
        <div class="carousel-caption hook">
          <h1 class="home-title">BEERTRACKR</h1>
          <p>DES BARS, DES CAVES & DES BRASSERIES</p>
          <div>
            <%= link_to market_places_path do %>
              <div class='btn btn-carousel-2'>EXPLORER</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-interval="4000">
      <div class="first-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_center,h_1000,w_2400/v1667305032/mary-rebecca-elliott--V-ENAd192g-unsplash_cnpacp.webp);">
        <div class="carousel-caption hook">
          <h1 class="home-title">BEERTRACKR</h1>
          <p>UN UNIVERS DE CONNAISSEURS & D'AMATEURS </p>
          <div>
            <%= link_to new_user_registration_path do %>
              <div class='btn btn-carousel-2'>S'INSCRIRE</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<header class="banner text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 mx-auto">
        <div class="square-left">
          <div class="row">
            <div class='col-6 mx-auto'>
              <%= link_to users_path do %>
                <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1670186297/Composant_1_1_pkzo67.webp', class: 'img-fluid universe' %>
                <p id='universe-legend'>Les membres</p>
              <% end %>
            </div>
            <div class='col-6 mx-auto'>
              <%= link_to articles_path do %>
                <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1670186297/Composant_2_1_jdx5m4.webp', class: 'img-fluid universe' %>
                <p id='universe-legend'>Les articles</p>
              <% end %>
            </div>
            <div class='col-6 mx-auto'>
              <%= link_to target_beers_path do %>
                <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1670186297/Composant_3_1_lhi51e.webp', class: 'img-fluid universe' %>
                <p id='universe-legend'>Les recettes</p>
              <% end %>
            </div>
            <div class='col-6 mx-auto'>
              <%= link_to publications_path do %>
                <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1670186297/Composant_4_1_rfarsk.webp', class: 'img-fluid universe' %>
                <p id='universe-legend'>Bon plans</p>
              <% end %>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-1 d-none d-lg-block"></div>
      <div class="col-lg-5 col-12 mx-auto">
        <div class="square-right">
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1667330610/Groupe_10_zc2ivh.webp', class: 'design-element-1' %>
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1649843769/beertrackr/Black_circle.svg', class: 'design-element-2' %>
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1649850862/beertrackr/beertracker_model_right.webp', class: 'design-element-3' %>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Button trigger modal -->

<section class="decision">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-4 mx-auto">
        <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1667337302/brittani-burns-7FOVFdONpYQ-unsplash_rtxxfj.webp', class: 'img-fluid img-decision' %>
      </div>
      <div class="col-12 col-sm-6 col-lg-6">
        <h3 class="decision-action-text">AJOUTE TA PREMIÈRE BIÈRE AU CATALOGUE</h3>
        <div class="col-12 col-lg-6 mx-auto">
          <div class="btn btn-mobile">S'INSCRIRE</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="home-action">
  <div class="container">
    <div class="row straight" id="projets">
      <div class="column">
        <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,h_1432,w_2160/v1641474656/Portfolio/Beertrackr.webp" class='element' style="width:100%">
        <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_faces,h_568,w_850/v1641393677/Portfolio/12096476_10206742720078070_4145122384275427656_n.webp" class='element' style="width:100%">
      </div>
      <div class="column">
        <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,h_862,w_1300/v1545402774/Admin/modern_box_home.webp" class='element' style="width:100%">

        <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_center,h_534,w_800/v1641395108/Portfolio/501_116180681.webp" class='element' style="width:100%">
      </div>
      <div class="column">
        <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_north_east,h_1088,w_1640/v1641475108/Portfolio/17991474_633801330156375_8251513696756050330_o.jpg.webp" class='element' style="width:100%">
        <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,h_3274,w_4900/v1641386801/Portfolio/WRE.webp" class='element' style="width:100%">

      </div>
      <div class="column">
        <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1641393427/Portfolio/giphy_3.gif"  class='element' style="width:100%">
        <img src="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,h_174,w_260/v1641394270/Portfolio/dbbtc2huoopchc6zw99s.webp" class='element' style="width:100%">
      </div>
    </div>
  </div>
</section>
<%= render 'shared/footer' %>

<!-- Modal -->
<script>
$(document).ready(function () {
    $('.element').bind('click', function() {
        // add active class to clicked element
        $(this).toggleClass('active');
    });
});
</script>
