<div class="offnavs"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto form">
      <h2 class='center'>Project</h2>
      <%= simple_form_for @project do |f| %>
        <div class="form-inputs">
          <div class="row">
            <div class="col-lg-12">
              <%= f.input :name, required: false %>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <label class="control-label check_boxes optional">Pack</label>
              <input type="hidden" name="project[pack_id]" value="">
              <div class="pack-available">
                <% Pack.all.each do |pack| %>
                  <div class="col-lg-4">
                    <div class="form-check">
                      <input class="hidden" type="hidden" value="<%= pack.id %>" name="project[pack_id]" id="project_pack_id_<%= pack.id %>">
                      <label class="pack-choice" for="project_pack_id_<%= pack.id %>">
                        <div class=" ">
                          <%= cl_image_tag pack.bottle.photo.key, height: 160, width: 160, crop: :fill, class: 'img-fluid' %>
                          <div class="card-body">
                            <h5 class="card-title"><%= pack.name %></h5>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <label class="control-label check_boxes optional">Sticker</label>
              <input type="hidden" name="project[sticker_id]" value="">
              <div class="sticker-available">
                <% Sticker.all.each do |sticker| %>
                  <div class="col-lg-4">
                    <div class="form-check">
                      <input class="hidden" type="hidden" value="<%= sticker.id %>" name="project[sticker_id]" id="project_sticker_id_<%= sticker.id %>">
                      <label class="sticker-choice" for="project_sticker_id_<%= sticker.id %>">
                        <div class=" ">
                          <%= cl_image_tag sticker.photo.key, height: 160, width: 160, crop: :fill, class: 'img-fluid' %>
                          <div class="card-body">
                            <h5 class="card-title"><%= sticker.name %></h5>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <label class="control-label check_boxes optional">Capsules</label>
              <input type="hidden" name="project[bottle_top_id]" value="">
              <div class="bottle_top-available">
                <% BottleTop.all.each do |bottle_top| %>
                  <div class="col-lg-4">
                    <div class="form-check">
                      <input class="hidden" type="hidden" value="<%= bottle_top.id %>" name="project[bottle_top_id]" id="project_bottle_top_id_<%= bottle_top.id %>">
                      <label class="bottle_top-choice" for="project_bottle_top_id_<%= bottle_top.id %>">
                        <div class=" ">
                          <%= cl_image_tag bottle_top.photo.key, height: 160, width: 160, crop: :fill, class: 'img-fluid' %>
                          <div class="card-body">
                            <h5 class="card-title"><%= bottle_top.color %></h5>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <label class="control-label check_boxes optional">Bière de référence</label>
              <input type="hidden" name="project[typical_beer_id]" value="">
              <div class="typical_beer-available">
                <% TypicalBeer.all.each do |typical_beer| %>
                  <div class="col-lg-4">
                    <div class="form-check">
                      <input class="hidden" type="hidden" value="<%= typical_beer.id %>" name="project[typical_beer_id]" id="project_typical_beer_id_<%= typical_beer.id %>">
                      <label class="typical_beer-choice" for="project_typical_beer_id_<%= typical_beer.id %>">
                        <div class=" ">
                          <% if typical_beer.photo.present? %>
                            <%= cl_image_tag typical_beer.photo.key, height: 160, width: 160, crop: :fill, class: 'img-fluid' %>
                          <% else %>
                            <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/s--3VS66tIf--/c_fill,h_450,q_jpegmini,w_450/v1622028586/glass-cold-beer-bottoms-up-with-beautiful-bokeh-friends-drink-beer-together-dark-tone_34939-279_ldvuqt.jpg", height: 160, width: 160, crop: :fill, class: 'img-fluid' %>
                          <% end %>
                          <div class="card-body">
                            <h5 class="card-title"><%= typical_beer.name %></h5>
                            <p class="card-text"><%= typical_beer.style.name %></p>
                            <p class="card-text"><%= typical_beer.balance.name %></p>
                            <p class="card-text"><%= typical_beer.design_color.name %></p>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-lg-12 mx-auto">
            <%= f.input :batch, collection: 5..20, required: false  %>
          </div>
          <div class="infos">
            <p class='center'><%= f.button :submit, "Valider", class: "btn btn-ghost bottom"  %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
$(document).ready(function () {
    $('.sticker-choice').bind('click', function() {
        // remove the active class from all elements with active class
        $('.picked').removeClass('picked')
        // add picked class to clicked element
        $(this).addClass('picked');
    });
});
</script>

<script>
$(document).ready(function () {
    $('.pack-choice').bind('click', function() {
        // remove the active class from all elements with active class
        $('.choosen').removeClass('choosen')
        // add choosen class to clicked element
        $(this).addClass('choosen');
    });
});
</script>

<script>
$(document).ready(function () {
    $('.bottle_top-choice').bind('click', function() {
        // remove the active class from all elements with active class
        $('.taken').removeClass('taken')
        // add taken class to clicked element
        $(this).addClass('taken');
    });
});
</script>

<script>
$(document).ready(function () {
    $('.typical_beer-choice').bind('click', function() {
        // remove the active class from all elements with active class
        $('.on').removeClass('on')
        // add on class to clicked element
        $(this).addClass('on');
    });
});
</script>
