<div class="offnavs"></div>
<div class="container top">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-9">
      <div class="card space">
        <h1 class='page-title center'>Tous Les Projets de brassins</h1>
      </div>
      <div class="card space">
        <h2 class='header-text'>Trouvez ici l'ensemble des projets de l'atelier, il peut s'agir de travaux en cours, de requêtes des membres ou d'idées à developper. <%= link_to 'Cliquez ici', new_project_path %> si vous souhaitez créer un projet de bières sur mesure</h2>
      </div>
      <div class="row">
        <% @projects.each do |s| %>
          <div class="mx-auto col-lg-6 col-sm-6 space">
            <%= link_to s do %>
              <%= render 'project_card', project: s %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mx-auto col-xs-8 col-sm-12 col-lg-3">
      <%= render 'shared/social-networks' %>
      <div class="card sides bottom index-side">
        <h4 class="title-top">Targets</h4>
        <% @beers.each do |b| %>
          <% if b.target? %>
            <%= link_to b do %>
              <div class="beer-link card-infos">
                <p class='beer-link-text'>Nom : <%= b.name %></p>
                <p class='beer-link-text'>Style : <%= b.style.name %></p>
                <div class="line"></div><br>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="card sides top bottom">
        <h4 class="title-top">A Lire</h4>
        <% @articles.each do |a| %>
          <%= link_to a do %>
            <div class="row article-link card-infos">
              <div class="col-lg-4"><%= cl_image_tag a.photo.key, class: 'avatar-square img-fluid' %></div>
              <div class="col-lg-8">
                <p class='article-link-text'><%= a.title %></p>
                <p class='article-link-text'><%= a.theme.name %></p>
                <p class='article-link-text'><%= a.created_at.strftime("%d/%m/%Y") %> </p>
                <div class="line center"></div><br>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
