<%= link_to typical_beer do  %>
  <div class="card beers-shadow">
    <% if typical_beer.photo.present? %>
      <%= cl_image_tag typical_beer.photo.key, height: 400, width: 300, crop: :fill ,class: 'beer-image card-img-top img-responsive' %>
    <% else %>
      <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/s--kTqldfEU--/q_jpegmini/v1617977570/deguster-sa-biere_c1oxoq.jpg", height: 200, width: 300, crop: :fill ,class: 'beer-image card-img-top img-responsive' %>
    <% end %>
    <div class="card-body">
      <h3 class="card-title"><%= typical_beer.name.upcase %></h3>
      <% if typical_beer.category.present? %>
        <h4 class="card-text">Type: <%= typical_beer.category.name %></h4>
      <% end %>
      <% if typical_beer.alcohol_shape.present? %>
        <h4 class="card-text"><%= typical_beer.alcohol_shape.name %></h4>
      <% end %>
      <% if typical_beer.beer_family.present? %>
        <h4 class="card-text">Famille: <%= typical_beer.beer_family.name %></h4>
      <% end %>
    </div>
  </div>
<% end %>
