<div class="offnavs"></div>
<div class="container top">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-8">
      <div class="card space">
        <h1 class="page-title center"><%= @title %></h1>
      </div>
      <div class="card">
        <h2 class='header-text'><%= @header %></h2>
      </div>
      <div class="row">
        <% @typical_beers.each do |tb| %>
          <div class="mx-auto col-xs-8 col-sm-6 col-lg-6 index">
            <%= render 'typical_beer_card', typical_beer: tb %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mx-auto col-xs-8 col-sm-12 col-lg-3 index">
      <%= render 'articles/articles_side' %>
      <%= render 'beers/ales_side' %>
      <%= render 'beers/mixed_side' %>
    </div>
  </div>
</div>
