<div class="offnavs"></div>
<div class="container top">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-9">
      <div class="card space shadow">
        <h1 class='page-title center'>
          Styles De Bière
        </h1>
      </div>
      <%= form_tag(typical_beers_path, method: :get) do %>
        <div class="search-form-control form-group">
          <i class="fas fa-search search-img"></i>
          <%= text_field_tag :search, nil, class: "form-control string required", autocomplete: 'off'%>
          <button name="button" type="submit" class="btn btn-ghost-2">
            Allons-y
          </button>
        </div>
      <% end %>
      <div class="card shadow">
        <h2 class='header-text'>Les styles définit ici répondent à des critères précis utilisés en concours de manière à identifier si le brasseur est en phase avec son intention. À l'atelier, ces stylesl servent plutôt d'indicateur pour définir un projet et de socle pour la compréhension d'un style. Ces styles appartiennent aux familles plus larges.</h2>
      </div>
      <div class="row">
        <% @typical_beers.each do |b| %>
          <div class="mx-auto col-6 col-lg-4">
            <%= render 'typical_beer_card', typical_beer: b %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mx-auto col-xs-8 col-sm-12 col-lg-3">
      <%= render 'shared/social-networks' %>
      <%= render 'shared/intra_links' %>
      <div class="card sides bottom index-side">
        <h4 class="title-top">Target</h4>
        <% @beers.each do |b| %>
          <% if b.target? %>
            <%= link_to b do %>
              <div class="beer-link card-infos">
                <p class='beer-link-text'>Nom : <%= b.name %></p>
                <p class='beer-link-text'>Style : <%= b.style.name %></p>
                <div class="line"></div><br>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <%= render 'articles/articles_side' %>
    </div>
  </div>
</div>
