<div class="offnavs"></div>
<div class="container top">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-1"></div>
    <div class="col-xs-12 col-sm-12 col-lg-8">
      <div class="card space">
        <h1 class='page-title center'>
          BIÈRES CLASSIQUES
        </h1>
      </div>
      <div class="card">
        <h2 class='header-text'>Les bières classiques sont les bières représentatives d'un style ; on trouve facilement les marques citées en exemple dans le commerce ; elles participent à l'histoire et à l'évolution d'un ou de plusieurs styles de bières. À l'atelier, elle servent d'indicateur pour définir un projet et de socle pour la compréhension d'un style. Ces styles appartiennent aux familles plus larges suivantes: <%= link_to 'bières de blé', wheat_beers_typical_beers_path %>, <%= link_to 'bières de fermentation spontanée', lambics_typical_beers_path %>, <%= link_to 'ales belges', belgian_ales_typical_beers_path %>, <%= link_to 'pale ale', pale_ales_typical_beers_path %>, <%= link_to 'bitters', bitters_typical_beers_path %>, <%= link_to 'ales écossaises', scottish_ales_typical_beers_path %>, <%= link_to 'brown ales', brown_ales_typical_beers_path %>, <%= link_to 'porters', porters_typical_beers_path %>, <%= link_to 'stouts', stouts_typical_beers_path %>, <%= link_to 'pilsners', pilsners_typical_beers_path %>, <%= link_to 'lagers américaines', american_lagers_typical_beers_path %>, <%= link_to 'lagers européennes', european_lagers_typical_beers_path %>, <%= link_to 'bocks', bocks_typical_beers_path %>, <%= link_to 'altbier', alts_typical_beers_path %>, <%= link_to 'bières de garde', french_ales_typical_beers_path %>, <%= link_to 'ambrées allemandes', german_ambers_typical_beers_path %>, <%= link_to 'américaines spéciales', american_specials_typical_beers_path %>, <%= link_to 'bières fumées', smoked_beers_typical_beers_path %>, <%= link_to 'ales fortes', strong_ales_typical_beers_path %></h2>
      </div>
      <div class="row">
        <% @typical_beers.each do |b| %>
          <div class="mx-auto col-xs-8 col-sm-6 col-lg-6">
            <%= render 'typical_beer_card', typical_beer: b %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mx-auto col-xs-8 col-sm-12 col-lg-3">
      <%= render 'shared/social-networks' %>
      <div class="card sides bottom index-side">
        <h4 class="title-top">TARGET</h4>
        <% @beers.each do |b| %>
          <% if b.target? %>
            <%= link_to b do %>
              <div class="beer-link card-infos">
                <p class='beer-link-text'>Nom : <%= b.name %></p>
                <p class='beer-link-text'>Style : <%= b.style.name %></p>
                <div class="line"></div><br>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="card sides top bottom">
        <h4 class="title-top">A Lire</h4>
        <% @articles.each do |a| %>
          <%= link_to a do %>
            <div class="row article-link card-infos">
              <div class="col-lg-4"><%= cl_image_tag a.photo.key, class: 'avatar-square img-fluid' %></div>
              <div class="col-lg-8">
                <p class='article-link-text'><%= a.title %></p>
                <p class='article-link-text'><%= a.theme.name %></p>
                <p class='article-link-text'><%= a.created_at.strftime("%d/%m/%Y") %> </p>
                <div class="line center"></div><br>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
