<div class="offnavs"></div>
<div class="container top">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <h1 class="title card center">Bière Emblématique du style <%= @typical_beer.style.name %></h1>
    </div>
  </div>
</div>

<div class="container top bottom">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-8">
      <div class="card">
        <h2 class='article-top-title top center'><%= @typical_beer.name.upcase %></h2>
        <% if current_user.admin? %>
          <%= link_to edit_typical_beer_path(@typical_beer) do %>
            <% if @typical_beer.photo.present? %>
              <%= cl_image_tag @typical_beer.photo.key, width: 800, crop: :fill, class: "img-fluid" %>
            <% else %>
              <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/s--kTqldfEU--/q_jpegmini/v1617977570/deguster-sa-biere_c1oxoq.jpg", width: 800, crop: :fill, class: "img-fluid" %>
            <% end %>
          <% end %>
        <% else %>
          <% if @typical_beer.photo.present? %>
            <%= cl_image_tag @typical_beer.photo.key, width: 800, crop: :fill, class: "img-fluid" %>
          <% else %>
            <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/s--kTqldfEU--/q_jpegmini/v1617977570/deguster-sa-biere_c1oxoq.jpg", width: 800, crop: :fill, class: "img-fluid" %>
          <% end %>
        <% end %>
        <% if @typical_beer.beer_family.present? %>
          <h4 class='content'><%= @typical_beer.beer_family.name %></h4>
          <h6 class='content'>PROFIL
            <% if @typical_beer.balance.present? %>
              <%= @typical_beer.balance.name.capitalize %>
            <% end %>
            <% if @typical_beer.design_color.present? %>
              <%= @typical_beer.design_color.name %>
            <% end %>
            <% if @typical_beer.alcohol_shape.present? %>
              <%= @typical_beer.alcohol_shape.name %>
            <% end %>
            <% if @typical_beer.main_taste.present? %>
              <%= @typical_beer.main_taste.name %>
            <% end %>
            <% if @typical_beer.flavours.present? %>
              <% @typical_beer.flavours.each do |n| %>
                <%= n.name %>
              <% end %>
            <% end %>
            <% if @typical_beer.feelings.present? %>
              <% @typical_beer.feelings.each do |n| %>
                <%= n.name %>
              <% end %>
            <% end %>
          </h6>
        <% end %>
        <% if @final_description.present? %>
          <% @final_description.each do |content| %>
            <p class='content'><%= content %></p>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-lg-3 bottom">
      <div class="card bottom">
        <% if @typical_beer.user.photo.present? %>
          <%= cl_image_tag @typical_beer.user.photo.key, height: 250, width: 250, crop: :fill, class: 'show-img avatar-large' %>
        <% else %>
          <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1598020963/19_C2_B0_International_Jazz_Festival_of_Punta_del_Este_-_150111-2052-jikatu__2816077813707_29_drogug.jpg", class: 'show-img avatar-large', height: 250, width: 250, crop: :fill %>
        <% end %>
        <div class="show-infos">
          <div class="legend center col-lg-8 mx-auto">Auteur</div>
          <% if @typical_beer.user.username.present? %>
            <p class='profil'><%= @typical_beer.user.username %></p>
          <% else %>
            <p class='profil'><%=@typical_beer.user.email %></p>
          <% end %>
        </div>
      </div>
      <%= render 'articles/articles_side' %>
      <%= render 'beers/ales_side' %>
      <%= render 'beers/lagers_side' %>
    </div>
  </div>
</div>
