<div class="offnavs"></div>
<div class="container top bottom">
  <div class="row">
    <div class="d-none d-lg-block col-lg-3 bottom">
      <%= render 'articles/articles_side' %>
      <%= render 'shared/intra_links' %>
    </div>
    <div class="col-lg-9">
      <div class="card shadow bottom">
        <h1 class='title-top'><%= @typical_beer.name.upcase %></h1>
      </div>
      <div class="card bottom">
        <% if user_signed_in? %>
          <% if current_user.admin? && current_user.store.present? %>
            <% if current_user.access != nil && current_user.access.code == current_user.store.privacy_code  %>
              <%= link_to edit_typical_beer_path(@typical_beer) do %>
                <% if @typical_beer.photo.present? %>
                  <div class="center"><%= cl_image_tag @typical_beer.photo.key, height: 400 ,width: 300, crop: :fill, class: "img-fluid" %></div>
                <% else %>
                  <div class="center"><%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/s--kTqldfEU--/q_jpegmini/v1617977570/deguster-sa-biere_c1oxoq.jpg", height: 400 ,width: 300, crop: :fill, class: "img-fluid" %></div>
                <% end %>
              <% end %>
            <% else %>
              <% if @typical_beer.photo.present? %>
                <div class="center"><%= cl_image_tag @typical_beer.photo.key, height: 400 ,width: 300, crop: :fill, class: "img-fluid" %></div>
              <% else %>
                <div class="center"><%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/s--kTqldfEU--/q_jpegmini/v1617977570/deguster-sa-biere_c1oxoq.jpg", height: 400 ,width: 300, crop: :fill, class: "img-fluid" %></div>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <% if @typical_beer.photo.present? %>
            <div class="center"><%= cl_image_tag @typical_beer.photo.key, height: 400 ,width: 300, crop: :fill, class: "img-fluid" %></div>
          <% else %>
            <div class="center"><%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/s--kTqldfEU--/q_jpegmini/v1617977570/deguster-sa-biere_c1oxoq.jpg", height: 400 ,width: 300, crop: :fill, class: "img-fluid" %></div>
          <% end %>
        <% end %>
        <% if @typical_beer.style.present? %>
          <h4 class='content'>Caractéristiques principales des <%= @typical_beer.name %></h4>
          <h6 class='content'>PROFIL: </h6>
          <% if @typical_beer.category.present? %>
            <p class="id_card">Fermentation: <%= @typical_beer.category.name.capitalize %></p>
          <% end %>
          <% if @typical_beer.balance.present? %>
            <p class="id_card">Équilibre: <%= @typical_beer.balance.name.capitalize %></p>
          <% end %>
          <% if @typical_beer.design_color.present? %>
            <p class="id_card">Couleur: <%= @typical_beer.design_color.name %></p>
          <% end %>
          <% if @typical_beer.alcohol_shape.present? %>
            <p class="id_card">Niveau d'Alcool: <%= @typical_beer.alcohol_shape.name %></p>
          <% end %>
          <% if @typical_beer.main_taste.present? %>
            <p class="id_card">Palais: <%= @typical_beer.main_taste.name %></p>
          <% end %>
          <% if @typical_beer.flavours.present? %>
            <p class="id_card">Arômes:
              <% @typical_beer.flavours.each do |n| %>
                |<%= n.name %>|
              <% end %>
            </p>
          <% end %>
          <% if @typical_beer.feelings.present? %>
            <p class="id_card">Corps & Caractéristiques:
              <% @typical_beer.feelings.each do |n| %>
                |<%= n.name %>|
              <% end %>
            </p>
          <% end %>
        <% end %>
        <% if @typical_beer.description.present? %>
          <% description = @typical_beer.description.split('&&') %>
          <% description.each do |text| %>
            <p class="content"><%= text %></p>
          <% end %>
        <% end %>
      </div>
      <% beer_instances = [] %>
      <% @beers.each do |bi| %>
        <% if @typical_beer == bi.typical_beer %>
          <% beer_instances << bi %>
        <% end %>
      <% end %>
      <div class="row">
        <% beer_instances.each do |t| %>
          <div class="col-6 col-lg-4">
            <%= link_to t do %>
              <div class="card beers-shadow p-top">
                <% if user_signed_in? == t.user || current_user %>
                  <%= link_to beer_path(t), data: { method: :delete, confirm: "Are you sure?"} do %>
                    <div class="destroy-icon">
                      <i class="fas fa-window-close"></i>
                    </div>
                  <% end %>
                <% end %>
                <%= link_to t do %>
                  <%= cl_image_tag t.photo.key, height: 250, width: 250, crop: :fill, fetch_format: :auto, class: 'beer-image card-img-top img-responsive' %>
                <% end %>
                <div class="card-body">
                  <% if user_signed_in? %>
                    <%= link_to toggle_favorite_beer_path(t), remote: true, method: :post do %>
                      <%= render 'beers/like_button', beer: t %>
                    <% end %>
                  <% else %>
                    <div class="like-icon">
                      <i class='far fa-heart' data-toggle="modal" data-target="#sign_in"></i>
                    </div>
                  <% end %>
                  <h5 class="card-title"><%= t.name.upcase %></h5>
                  <p class="card-text"><%= t.typical_beer.style.name %></p>
                  <p class="card-text"><%= t.typical_beer.category.name %></p>
                </div>
                <div class="card-infos">
                  <% if t.ratings.present? %>
                    <p class='card-text center'>Moyenne des notes: <%= t.average_stars %></p>
                  <% end %>
                </div>
              </div>

              <div class="modal" tabindex="-1" role="dialog" id='sign_in'>
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title center">Créez un compte pour sélectionner vos bières</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <%= link_to new_user_registration_path do %>
                      <div class="center">
                        <div class="btn btn-alternative">Créer un compte</div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
