<div class="offnavs"></div>
<div class="container top bottom">
  <div class="row">
    <div class="d-none d-lg-block col-lg-3 bottom">
      <%= render 'articles/articles_side' %>
      <%= render 'shared/intra_links' %>
    </div>
    <div class="col-lg-9">
      <div class="card shadow bottom">
        <h1 class='title-top'><%= @typical_beer.name.upcase %></h1>
      </div>
      <div class="card bottom">
        <% if user_signed_in? %>
          <% if current_user.admin? && current_user.store.present? %>
            <% if current_user.access != nil && current_user.access.code == current_user.store.privacy_code  %>
              <%= link_to edit_typical_beer_path(@typical_beer) do %>
                <% if @typical_beer.photo.present? %>
                  <div class="center"><%= cl_image_tag @typical_beer.photo.key, height: 400 ,width: 300, crop: :fill, class: "img-fluid" %></div>
                <% else %>
                  <div class="center"><%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/s--kTqldfEU--/q_jpegmini/v1617977570/deguster-sa-biere_c1oxoq.jpg", height: 400 ,width: 300, crop: :fill, class: "img-fluid" %></div>
                <% end %>
              <% end %>
            <% else %>
              <% if @typical_beer.photo.present? %>
                <div class="center"><%= cl_image_tag @typical_beer.photo.key, height: 400 ,width: 300, crop: :fill, class: "img-fluid" %></div>
              <% else %>
                <div class="center"><%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/s--kTqldfEU--/q_jpegmini/v1617977570/deguster-sa-biere_c1oxoq.jpg", height: 400 ,width: 300, crop: :fill, class: "img-fluid" %></div>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <% if @typical_beer.photo.present? %>
            <div class="center"><%= cl_image_tag @typical_beer.photo.key, height: 400 ,width: 300, crop: :fill, class: "img-fluid" %></div>
          <% else %>
            <div class="center"><%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/s--kTqldfEU--/q_jpegmini/v1617977570/deguster-sa-biere_c1oxoq.jpg", height: 400 ,width: 300, crop: :fill, class: "img-fluid" %></div>
          <% end %>
        <% end %>
        <% if @typical_beer.style.present? %>
          <h4 class='content'>Caractéristiques principales des <%= @typical_beer.name %></h4>
          <h6 class='content'>PROFIL: </h6>
          <% if @typical_beer.category.present? %>
            <p class="id_card">Fermentation: <%= @typical_beer.category.name.capitalize %></p>
          <% end %>
          <% if @typical_beer.balance.present? %>
            <p class="id_card">Équilibre: <%= @typical_beer.balance.name.capitalize %></p>
          <% end %>
          <% if @typical_beer.design_color.present? %>
            <p class="id_card">Couleur: <%= @typical_beer.design_color.name %></p>
          <% end %>
          <% if @typical_beer.alcohol_shape.present? %>
            <p class="id_card">Niveau d'Alcool: <%= @typical_beer.alcohol_shape.name %></p>
          <% end %>
          <% if @typical_beer.main_taste.present? %>
            <p class="id_card">Palais: <%= @typical_beer.main_taste.name %></p>
          <% end %>
          <% if @typical_beer.flavours.present? %>
            <p class="id_card">Arômes:
              <% @typical_beer.flavours.each do |n| %>
                |<%= n.name %>|
              <% end %>
            </p>
          <% end %>
          <% if @typical_beer.feelings.present? %>
            <p class="id_card">Corps & Caractéristiques:
              <% @typical_beer.feelings.each do |n| %>
                |<%= n.name %>|
              <% end %>
            </p>
          <% end %>
        <% end %>
        <% if @typical_beer.description.present? %>
          <% description = @typical_beer.description.split('&&') %>
          <% description.each do |text| %>
            <p class="content"><%= text %></p>
          <% end %>
        <% end %>
      </div>
      <% beer_instances = [] %>
      <% @beers.each do |bi| %>
        <% if @typical_beer == bi.typical_beer %>
          <% beer_instances << bi %>
        <% end %>
      <% end %>
      <div class="row">
        <% beer_instances.each do |t| %>
          <div class="col-6 col-lg-4">
            <%= link_to t do %>
              <div class="card sides top bottom shadow">
                <div class="col-8 mx-auto p-top"><%= cl_image_tag t.photo.key, height: 400, width: 300, crop: :fill, fetch_format: :auto, class: 'card-img-top img-responsive beer-image' %></div>
                <div class="beer-link card-infos">
                  <p class='beer-link-text'>Nom : <%= t.name %></p>
                  <p class="beer-link-text"><%= t.typical_beer.style.name %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
