<div class="offnavs"></div>
<div class="container bottom top">
  <div class="row">
    <div class="card col-lg-8 mx-auto">
      <%= simple_form_for ([ @beer, @tasting ]) do |f| %>
        <%= f.input :date, required: false %>
        <%= f.input :global_rating, input_html:{ min: '0', max:'5'}, required: false %>
        <%= f.association :flavours, as: :check_boxes,
                        input_html: { class: "tag-selector" },
                        item_wrapper_class: 'tag-item', required: false %>

        <%= f.association :balance, as: :radio_buttons,
                input_html: { class: "tag-selector" },
                item_wrapper_class: 'tag-item', required: false %>
        <%= f.association :main_taste, as: :radio_buttons,
                input_html: { class: "tag-selector" },
                item_wrapper_class: 'tag-item', required: false %>

        <%= f.association :design_color, as: :radio_buttons,
                input_html: { class: "tag-selector" },
                item_wrapper_class: 'tag-item', required: false %>

        <%= f.association :weather, as: :radio_buttons,
                input_html: { class: "tag-selector" },
                item_wrapper_class: 'tag-item', required: false %>

        <%= f.association :context, as: :radio_buttons,
                input_html: { class: "tag-selector" },
                item_wrapper_class: 'tag-item', required: false %>

        <%= f.association :feelings, as: :check_boxes,
                        input_html: { class: "tag-selector" },
                        item_wrapper_class: 'tag-item', required: false %>

        <p class='center'>
          <%= f.button :submit, "Valider", class: "btn btn-ghost bottom" %>
        </p>
      <% end %>
    </div>
  </div>
</div>
