<h3 class="title-top">Familles de Styles Ales</h3>
<div class="card bottom box">
  <%= link_to 'Wheat beers', wheat_beers_typical_beers_path, class: 'side-cell shadow' %>
  <%= link_to 'Belgian Ales', belgian_ales_typical_beers_path, class: 'side-cell shadow' %>
  <%= link_to 'Pale Ales', pale_ales_typical_beers_path, class: 'side-cell shadow' %>
  <%= link_to 'Bitters', bitters_typical_beers_path, class: 'side-cell shadow' %>
  <%= link_to 'Scottish Ales', scottish_ales_typical_beers_path, class: 'side-cell shadow' %>
  <%= link_to 'Brown Ales', brown_ales_typical_beers_path, class: 'side-cell shadow' %>
  <%= link_to 'Porters', porters_typical_beers_path, class: 'side-cell shadow' %>
  <%= link_to 'Stouts', stouts_typical_beers_path, class: 'side-cell shadow' %>
</div>
