<div class="card shadow">
  <h5 class='center target-top-title'><%= beer.name.upcase %></h5>
  <%= link_to beer.typical_beer do  %>
    <p class='center'> | <%= beer.typical_beer.name %> | </p>
  <% end %>
  <%= cl_image_tag beer.photo.key, class: 'card-img-top img-responsive beer-image' %>
  <div class="card-infos">
    <p class='card-text center'>Category: <%= beer.typical_beer.category.name %></p>
    <p class='card-text center'>Alcool: <%= beer.typical_beer.alcohol_shape.name %></p>
    <p class='card-text center'>Color: <%= beer.typical_beer.design_color.name %></p>
    <p class='card-text center'>Bitterness: <%= beer.typical_beer.balance.name %></p>
    <p class='card-text center'>Moyenne des notes: <%= beer.average_stars %></p>
  </div>
</div>
