<div class="card beers-shadow p-top">
  <%= link_to beer do %>
    <%= cl_image_tag beer.photo.key, height: 250, width: 250, crop: :fill, fetch_format: :auto, class: 'beer-image card-img-top img-responsive' %>
    <div class="card-body">
      <h5 class="card-title"><%= beer.name.upcase %></h5>
      <% if beer.style.present? %>
        <p class="card-text"><%= beer.style.name %></p>
      <% else %>
        <p class="card-text"><%= beer.typical_beer.style.name %></p>
      <% end %>
    </div>
  <% end %>
  <% if beer.market_places.present? %>
    <% beer.market_places.each do |n| %>
      <a href="https://maps.google.com/?ll=<%= n.latitude %>,<%= n.longitude %>" target="_blank"><p class="card-text"><%= n.name %></p></a>
    <% end %>
  <% end %>
  <div class="card-infos">
    <% if beer.ratings.present? %>
      <p class='card-text center'>Moyenne des notes: <%= beer.average_stars %></p>
    <% end %>
    <% if user_signed_in? %>
      <% if beer.fancies.blank? %>
        <%= simple_form_for ([ beer, @fancy ]) do |f| %>
          <fieldset class="form-group radio_buttons optional fancy_heart hidden">
            <input type="hidden" name="fancy[heart]" value="">
            <input class="form-check-input radio_buttons optional squaretag-selector hidden" type="radio" value="true" checked="checked" name="fancy[heart]" id="fancy_heart_true">
            <label class="form-check-label collection_radio_buttons hidden" for="fancy_heart_true"></label>
          </fieldset>
          <div class="center">
            <%= f.button :button do %>
              <i class="far fa-heart"></i>
            <% end %>
          </div>
        <% end %>
      <% elsif beer.fancies.any? %>
        <% beer.fancies.each do |fancy| %>
          <% if fancy.user == current_user %>
            <% if fancy.heart == true %>
              <%= simple_form_for ([ beer, fancy ]) do |f| %>
                <fieldset class="form-group radio_buttons optional fancy_heart hidden">
                  <input type="hidden" name="fancy[heart]" value="">
                  <input class="form-check-input radio_buttons optional squaretag-selector hidden" type="radio" value="false" checked="checked" name="fancy[heart]" id="fancy_heart_false">
                  <label class="form-check-label collection_radio_buttons hidden" for="fancy_heart_false"></label>
                </fieldset>
                <div class="center">
                  <%= f.button :button do %>
                    <i class="fas fa-heart wanted"></i>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              <%= simple_form_for ([ beer, fancy ]) do |f| %>
                <fieldset class="form-group radio_buttons optional fancy_heart hidden">
                  <input type="hidden" name="fancy[heart]" value="">
                  <input class="form-check-input radio_buttons optional squaretag-selector hidden" type="radio" value="true" checked="checked" name="fancy[heart]" id="fancy_heart_true">
                  <label class="form-check-label collection_radio_buttons hidden" for="fancy_heart_true"></label>
                </fieldset>
                <div class="center">
                  <%= f.button :button do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

