<div class="card shadow p-bottom">
  <h5 class='target-top-title center'><%= beer.name.upcase %></h5>
  <% if user_signed_in? && @beer.user == current_user %>
    <% if current_user.store.present? %>
      <% if current_user.access != nil && current_user.access.code == current_user.store.privacy_code %>
        <%= link_to edit_beer_path (beer) do  %>
          <%= cl_image_tag beer.photo.key, fetch_format: :auto, class: 'card-img-top img-responsive beer-image' %>
        <% end %>
      <% else %>
        <%= cl_image_tag beer.photo.key, fetch_format: :auto, class: 'card-img-top img-responsive beer-image' %>
      <% end %>
    <% else %>
      <%= link_to edit_beer_path (beer) do  %>
        <%= cl_image_tag beer.photo.key, fetch_format: :auto, class: 'card-img-top img-responsive beer-image' %>
      <% end %>
    <% end %>
  <% elsif user_signed_in? && current_user.admin? %>
    <%= link_to edit_beer_path (beer) do  %>
      <%= cl_image_tag beer.photo.key, fetch_format: :auto, class: 'card-img-top img-responsive beer-image' %>
    <% end %>
  <% else %>
    <%= cl_image_tag beer.photo.key, fetch_format: :auto, class: 'card-img-top img-responsive beer-image' %>
  <% end %>
  <% if user_signed_in? %>
    <%= render 'tastings/form' %>
  <% end %>
  <%= render 'tasting_places/form' %>
</div>




