<div class="card shadow">
  <p class='center target-top-title card-text'><%= beer.name.upcase %></p>
  <p class='center card-link'><%= beer.style.name %> | by : <%= beer.user.username %></p>
  <%= cl_image_tag beer.photo.key, height: 300, width: 400, crop: :fill, class: 'card-img-top img-responsive beer-image' %>
  <div class="card-infos">
    <p class='card-text center'>Category: <%= beer.category.name %></p>
    <p class='card-text center'>Alcool: <%= beer.alcohol_level %> % Vol</p>
    <p class='card-text center'>Color: <%= beer.color %> EBC</p>
    <p class='card-text center'>Bitterness: <%= beer.bitterness %> IBU</p>
    <p class='card-text center'>Moyenne des notes: <%= beer.average_stars %></p>
  </div>
</div>
