<div class="offnavs"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto form">
      <h1 class="page-title center">C'EST QUOI CETTE BIÈRE ?</h1>
      <%= simple_form_for @beer, remote: true do |f| %>
        <div class="form-inputs">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6">
              <%= f.input :name, required: false, label: 'MARQUE'  %>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6">
              <label class="btn photo bottom">
                <% if @beer.photo.present? %>
                  <%= cl_image_tag @beer.photo.key, height: 200, width: 240, crop: :fill, class: 'img-fluid' %>
                <% else %>
                  Choisir une photo
                <% end %>
                <span style="display:none;">
                  <%= f.input :photo, as: :file, required: true, multiple: true, name: 'picture' %>
                </span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <label class="control-label check_boxes optional">Type De Bière</label>
            </div>
            <input type="hidden" name="beer[typical_beer_id]" value="">
            <div class="typical_beer-available col-lg-12">
              <% TypicalBeer.all.sort_by(&:name).each do |typical_beer| %>
                <div class="typical_beer-choice col-xs-4 col-sm-4 col-md-3 col-lg-3">
                  <input class="form-check-input radio_buttons optional typical_beer-choice hidden" type="radio" value="<%= typical_beer.id %>" name="beer[typical_beer_id]" id="beer_typical_beer_id_<%= typical_beer.id %>" >
                  <label class="form-check-label collection_radio_buttons" for="beer_typical_beer_id_<%= typical_beer.id %>">
                    <div class="comp">
                      <%= cl_image_tag typical_beer.photo.key, height: 200, width: 240, crop: :fill, class: 'img-fluid' %>
                      <%= typical_beer.name %>
                    </div>
                  </label>
                </div>
              <% end %>
            </div>
          </div>

          <%= f.association :beer_family, required: false, as: :radio_buttons, label: 'FAMILLE DE BIÈRE',
                input_html: { class: "tag-selector" },
                item_wrapper_class: 'tag-item'  %>
          <div class="geek-link center">Geek</div>

          <div class="geek">
            <div class="row">
              <div class="col-lg-12">
                <%= f.association :design_color, required: false, as: :radio_buttons,
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
              </div>
              <div class="col-lg-12">
                <%= f.association :alcohol_shape, required: false, as: :radio_buttons,
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
              </div>
              <div class="col-xs-4 col-sm-4 col-lg-4">
                <%= f.input :color, input_html: { min: '1', max:'80'}, required: false, label: 'EBC' %>
              </div>
              <div class="col-xs-4 col-sm-4 col-lg-4">
                <%= f.input :alcohol_level, input_html: { min: '0'}, required: false, label: "ABV"  %>
              </div>
              <div class="col-xs-4 col-sm-4 col-lg-4">
                <%= f.input :bitterness, input_html: { min: '1', max:'100'}, required: false, label: "IBU" %>
              </div>
            </div>
            <%= f.input :description, required: false, label: "COURTE DESCRIPTION"  %>
          </div>
          <div class="infos">
            <p class='center'><%= f.button :submit, "Valider", class: "btn btn-ghost bottom"  %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
$(document).ready(function () {
    $('.typical_beer-choice').bind('click', function() {
        // remove the active class from all elements with active class
        $('.on').removeClass('on')
        // add on class to clicked element
        $(this).addClass('on');
    });
});
</script>

<script>
  $(document).ready(function(){

    $(".geek").hide();

      $(".geek-link").click(function(){

        $(".geek").toggle();

      });

    });
</script>
