<% lagers = [] %>
<% @beers.each do |b| %>
  <% if b.category.name == 'Lagers'%>
    <% lagers << b %>
  <% end %>
<% end %>
<% lagers.each do |l| %>
  <div class="mx-auto col-xs-12 col-sm-6 col-lg-6 index">
    <%= link_to l do %>
      <div class="card beers-shadow">
        <%= cl_image_tag l.photo.key, height: 200, width: 300, crop: :fill ,class: 'beer-image card-img-top img-responsive' %>
        <div class="card-body">
          <h5 class="card-title"><%= l.name.upcase %></h5>
          <p class="card-text"><%= l.style.name %></p>
          <p class="card-text"><%= l.category.name %></p>
          <% if l.user.photo.present? %>
            <%= cl_image_tag l.user.photo.key, height: 70, width: 70, crop: :fill, class: "avatar-bordered-beers beer-user img-responsive" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
