<% mixed = [] %>
<% @beers.each do |b| %>
  <% if b.category.name == 'Mixed Styles'%>
    <% mixed << b %>
  <% end %>
<% end %>
<% mixed.each do |ms| %>
  <div class="mx-auto col-xs-8 col-sm-6 col-lg-6 index">
    <%= link_to ms do %>
      <div class="card beers-shadow">
        <%= cl_image_tag ms.photo.key, height: 200, width: 300, crop: :fill ,class: 'beer-image card-img-top img-responsive' %>
        <div class="card-body">
          <h5 class="card-title"><%= ms.name.upcase %></h5>
          <p class="card-text"><%= ms.style.name %></p>
          <p class="card-text"><%= ms.category.name %></p>
          <% if ms.user.photo.present? %>
            <%= cl_image_tag ms.user.photo.key, height: 70, width: 70, crop: :fill, class: "avatar-bordered-beers beer-user img-responsive" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
