<div class="offnavs"></div>
<div class="container top">
  <% lagers = [] %>
  <% ales = [] %>
  <% mixed_styles = [] %>
  <% spontaneous = [] %>
  <% @beers.each do |b| %>
    <% if b.typical_beer.category.name == 'Lagers'%>
      <% lagers << b %>
    <% elsif b.typical_beer.category.name == 'Ales'%>
      <% ales << b %>
    <% elsif b.typical_beer.category.name == 'Spontaneous'%>
      <% spontaneous << b %>
    <% else %>
      <% mixed_styles << b %>
    <% end %>
  <% end %>
    <div class="row">
      <div class="col-12 col-lg-9">
        <div class="card space">
          <h1 class='page-title center'>Toutes Les Bières</h1>
        </div>
        <div class="card space">
          <%= form_tag(beers_path, method: :get) do %>
            <%= text_field_tag :search, nil, class: "search", placeholder: "Recherche", autocomplete: 'off'%>
            <%= submit_tag 'Search', style: "display: none;" %>
          <% end %>
        </div>
        <% if lagers != [] %>
          <div class="card">
            <h2 class="header-text">
              Le Brasseur fait le moût, les levures font la bière... En effet, pour fermenter le moût, il est nécessaire de l'ensemencer avec des levures qui vont se charger de transformer les sucres en alcool, et en dioxyde de carbone.
              La fermentation basse nécessite l'adjonction dans le moût de levures dont l'activité est optimale à des températures basses (idéalement 10-15 °C).
              Une bière obtenue par fermentation basse est généralement appelée <%= link_to 'Lager', lagers_beers_path %>.
            </h2>
          </div>
          <div class="row">
            <% lagers.each do |b| %>
              <div class="mx-auto col-6 col-lg-4 ">
                <%= render 'beer_card', beer: b %>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if ales != [] %>
          <div class="card">
            <h2 class="header-text">
              Le Brasseur fait le moût, les levures font la bière... En effet, pour fermenter le moût, il est nécessaire de l'ensemencer avec des levures qui vont se charger de transformer les sucres en alcool, et en dioxyde de carbone.
              La fermentation haute nécessite l'adjonction dans le moût de levures dont l'activité est optimale à des températures hautes (idéalement 18-21 °C).
              Une bière obtenue par fermentation haute est couramment appelée <%= link_to 'Ale', ales_beers_path %>, notamment au Royaume-Uni.
            </h2>
          </div>
          <div class="row">
            <% ales.each do |b| %>
              <div class="mx-auto col-6 col-lg-4">
                <%= render 'beer_card', beer: b %>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if mixed_styles != [] %>
          <div class="card">
            <h2 class="header-text">
              La fermentation mixte combine une fermentation par des levures classiques de brasseries (Saccharomyces pastorianus et Saccharomyces cerevisiae) et une fermentation par des organismes divers, souvent qualifiés de "sauvages" (Brettanomyces, Lactobacillus, Pediococcus...).
              Les différents microorganismes peuvent être ensemencés simultanément ou de manière différée selon les résultats escomptés. Il en résulte une grande variété de dynamiques de fermentations dites <%= link_to 'mixtes', mixed_beers_path %>.
            </h2>
          </div>
          <div class="row">
            <% mixed_styles.each do |b| %>
              <div class="mx-auto col-6 col-lg-4">
                <%= render 'beer_card', beer: b %>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if spontaneous != [] %>
          <div class="card">
            <h2 class="header-text">
              La fermentation <%= link_to 'spontanée', spontaneous_beers_path %> n'est pas faite par des levures de brasserie, mais par des organismes divers, souvent qualifiés de "sauvages" (Brettanomyces, Lactobacillus, Pediococcus...). La bière finie présente une acidité marquée. Les styles les plus connus sont les lambics..
            </h2>
          </div>
          <div class="row">
            <% mixed_styles.each do |b| %>
              <div class="mx-auto col-6 col-lg-4">
                <%= render 'beer_card', beer: b %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="mx-auto col-xs-8 col-sm-12 col-lg-3 ">
        <%= render 'shared/social-networks' %>
        <%= render 'shared/intra_links' %>
        <div class="card sides bottom index-side">
          <h3 class="title-top">Target</h3>
          <% @beers.each do |b| %>
            <% if b.target? %>
              <%= link_to b do %>
                <div class="beer-link card-infos">
                  <p class='beer-link-text'>Nom : <%= b.name %></p>
                  <p class='beer-link-text'>Style : <%= b.style.name %></p>
                  <div class="line"></div><br>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <%= render 'articles/articles_side' %>
      </div>
    </div>
  </div>
</div>
