<div class="offnav"></div>

<div class="container top">
  <div class="card-product">
    <%= cl_image_tag @beer.photo.key %>
    <div class="card-product-infos">
      <%= @beer.name %>
      <%= @beer.style.name %>
      <%= @beer.alcohol_level %>
      <%= @beer.color %>
      <%= @beer.bitterness %>
      <%= @beer.description %>
      <% if @beer.user == current_user %>
        <%= link_to 'edit', edit_beer_path(@beer) %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <%= link_to 'écrire une étape', new_beer_recipe_path(@beer) %>
</div>

<div class="container top bottom">
  <h2>Recette</h2>

  <div class="row steps">
    <div class="col-xs-3 col-sm-1 col-lg-1">Etape</div>
    <div class="col-xs-3 col-sm-3 col-lg-2">Action</div>
    <div class="col-xs-3 col-sm-1 col-lg-1">Quantité</div>
    <div class="col-xs-3 col-sm-1 col-lg-1">Durée</div>
    <div class="col-xs-3 col-sm-1 col-lg-1">Température</div>
  </div>
  <% s = @beer.recipes.sort_by { |step| step[:step] } %>
  <% s.each do |r| %>
    <%= link_to edit_beer_recipe_path(@beer, r) do %>
      <div class="row steps">
        <div class="col-xs-3 col-sm-1 col-lg-1"><%= r.step %></div>
        <% if r.action.present? %>
          <div class="col-xs-3 col-sm-3 col-lg-2"><%= r.action.name %></div>
        <% else %>
          <div class="col-xs-3 col-sm-1 col-lg-1"></div>
        <% end %>
        <div class="col-xs-3 col-sm-1 col-lg-1"><%= r.quantity %>
          <% if r.unit.present? %>
            <%= r.unit.name %>
          <% end %>
        </div>
        <div class="col-xs-3 col-sm-1 col-lg-1"><%= r.duration %>
          <% if r.duration_unit.present? %>
            <%= r.duration_unit.name %>
          <% end %>
        </div>
        <div class="col-xs-3 col-sm-1 col-lg-1"><%= r.temperature %> °C</div>
      </div>
    <% end %>
  <% end %>
</div>


