<div class="offnavs"></div>
<div class="container top">
  <div class="row">
    <div class="col-lg-6 bottom">
      <% if user_signed_in? && @beer.user == current_user %>
        <% if current_user.store.present? %>
          <% if current_user.access != nil && current_user.access.code == current_user.store.privacy_code  %>
            <%= link_to edit_beer_path (@beer) do  %>
              <%= render 'beer_id', beer: @beer %>
            <% end %>
          <% else %>
            <%= render 'beer_id', beer: @beer %>
          <% end %>
        <% else %>
          <%= link_to edit_beer_path (@beer) do  %>
            <%= render 'beer_id', beer: @beer %>
          <% end %>
        <% end %>
      <% else %>
        <%= render 'beer_id', beer: @beer %>
      <% end %>
    </div>
    <div class="col-lg-6">
      <% if user_signed_in? %>
        <% if current_user.store.nil? %>
          <div class="card shadow">
            <div class="card-infos">
              <%= link_to @beer.typical_beer do  %>
                <div class='col-9 mx-auto btn-modern center'> | <%= @beer.typical_beer.name %> | </div>
              <% end %>
              <p class='card-section col-9 mx-auto'>Catégorie: </p>
              <p class='col-9 mx-auto card-section-item'><%= @beer.typical_beer.category.name %></p>
              <p class='card-section col-9 mx-auto'>Niveau d'alcool: </p>
              <% if @beer.alcohol_shape.present? && @beer.alcohol_shape.name != @beer.typical_beer.alcohol_shape.name %>
                <p class='col-9 mx-auto card-section-special'><%= @beer.alcohol_shape.name %></p>
              <% else %>
                <p class='col-9 mx-auto card-section-item'><%= @beer.typical_beer.alcohol_shape.name %></p>
              <% end %>
              <p class='card-section col-9 mx-auto'>Robe: </p>
              <% if @beer.design_color.present? && @beer.design_color.name != @beer.typical_beer.design_color.name %>
                <p class='col-9 mx-auto card-section-special'><%= @beer.design_color.name %></p>
              <% else %>
                <p class='col-9 mx-auto card-section-item'> <%= @beer.typical_beer.design_color.name %></p>
              <% end %>
              <p class='card-section col-9 mx-auto'>Tendance: </p>
              <% if @beer.balance.present? && @beer.balance.name != @beer.typical_beer.balance.name %>
                <p class='col-9 mx-auto card-section-special'><%= @beer.balance.name %></p>
              <% else %>
                <p class='col-9 mx-auto card-section-item'><%= @beer.typical_beer.balance.name %></p>
              <% end %>
              <p class='card-section col-9 mx-auto'>Palais: </p>
              <% if @beer.main_taste.present? %>
                <% if @beer.main_taste.name != @beer.typical_beer.main_taste.name %>
                  <p class='col-9 mx-auto card-section-special'> <%= @beer.main_taste.name %></p>
                <% else %>
                  <p class='col-9 mx-auto card-section-item'><%= @beer.typical_beer.main_taste.name %></p>
                <% end %>
              <% end %>

              <% beerflavours = [] %>
              <% typicalflavours = [] %>

              <% if @beer.flavours.present? %>
                <p class='card-section col-9 mx-auto'>Arômes:</p>
                <% @beer.typical_beer.flavours.each do |tb| %>
                  <% typicalflavours << tb.name %>
                <% end %>
                <% @beer.flavours.each do |b| %>
                  <% beerflavours << b.name %>
                <% end %>
                <% special = typicalflavours & beerflavours %>
                <div class="col-9 mx-auto">
                  <div class="row">
                    <p class='col-lg-12 card-section-item'><%= special.join(", ") %></p>
                  </div>
                  <div class="row">
                    <p class='col-lg-12 card-section-special'><%= (beerflavours - special).join(", ") %></p>
                  </div>
                </div>
              <% end %>

              <% beerfeelings = [] %>
              <% typicalfeelings = [] %>

              <% if @beer.feelings.present? %>
                <p class='card-section col-9 mx-auto'>Textures:</p>
                <% @beer.typical_beer.feelings.each do |tb| %>
                  <% typicalfeelings << tb.name %>
                <% end %>
                <% @beer.feelings.each do |b| %>
                  <% beerfeelings << b.name %>
                <% end %>
                <% special = typicalfeelings & beerfeelings %>
                <div class="col-9 mx-auto">
                  <div class="row">
                    <p class='col-lg-12 card-section-item'><%= special.join(", ") %></p>
                  </div>
                  <div class="row">
                    <p class='col-lg-12 card-section-special'><%= (beerfeelings - special).join(", ") %></p>
                  </div>
                </div>
              <% end %>

              <% if @beer.ratings.present? %>
                <p class='card-text center'>Moyenne des notes: <%= @beer.average_stars %></p>
              <% end %>

              <% if @beer.fancies.present? %>
                <% @beer.fancies.each do |n| %>
                  <% a = [] %>
                  <% if n.user == current_user %>
                    <% a << n %>
                    <% if a.include?(n) && n.heart == true %>
                      <%= link_to edit_beer_fancy_path(@beer, n) do %>
                        <div class="center top">
                          <i class="fas fa-heart wanted"></i>
                        </div>
                      <% end %>
                    <% elsif a.include?(n) && n.heart == false %>
                      <%= link_to edit_beer_fancy_path(@beer, n) do %>
                        <div class="center top">
                          <i class="fas fa-heart-broken unwanted"></i>
                        </div>
                      <% end %>
                    <% else %>
                      <%= simple_form_for ([ @beer, @fancy ]) do |f| %>
                        <fieldset class="form-group radio_buttons optional fancy_heart hidden">
                          <input type="hidden" name="fancy[heart]" value="">

                            <input class="form-check-input radio_buttons optional squaretag-selector hidden" type="radio" value="true" checked="checked" name="fancy[heart]" id="fancy_heart_true">
                            <label class="form-check-label collection_radio_buttons hidden" for="fancy_heart_true"></label>

                        </fieldset>
                        <div class="center">
                          <%= f.button :button do %>
                            <i class="far fa-heart"></i>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
                <%= simple_form_for ([ @beer, @fancy ]) do |f| %>
                  <fieldset class="form-group radio_buttons optional fancy_heart hidden">
                    <input type="hidden" name="fancy[heart]" value="">

                      <input class="form-check-input radio_buttons optional squaretag-selector hidden" type="radio" value="true" checked="checked" name="fancy[heart]" id="fancy_heart_true">
                      <label class="form-check-label collection_radio_buttons hidden" for="fancy_heart_true"></label>

                  </fieldset>
                  <div class="center">
                    <%= f.button :button do %>
                      <i class="far fa-heart"></i>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% else %>
          <% unless current_user.access != nil && current_user.access.code != current_user.store.privacy_code  %>
            <div class="card shadow">
              <div class="card-infos">
                <%= link_to @beer.typical_beer do  %>
                  <div class='col-9 mx-auto btn-modern center'> | <%= @beer.typical_beer.name %> | </div>
                <% end %>
                <p class='card-section col-9 mx-auto'>Catégorie: </p>
                <p class='col-9 mx-auto card-section-item'><%= @beer.typical_beer.category.name %></p>
                <p class='card-section col-9 mx-auto'>Niveau d'alcool: </p>
                <% if @beer.alcohol_shape.present? && @beer.alcohol_shape.name != @beer.typical_beer.alcohol_shape.name %>
                  <p class='col-9 mx-auto card-section-special'><%= @beer.alcohol_shape.name %></p>
                <% else %>
                  <p class='col-9 mx-auto card-section-item'><%= @beer.typical_beer.alcohol_shape.name %></p>
                <% end %>
                <p class='card-section col-9 mx-auto'>Robe: </p>
                <% if @beer.design_color.present? && @beer.design_color.name != @beer.typical_beer.design_color.name %>
                  <p class='col-9 mx-auto card-section-special'><%= @beer.design_color.name %></p>
                <% else %>
                  <p class='col-9 mx-auto card-section-item'> <%= @beer.typical_beer.design_color.name %></p>
                <% end %>
                <p class='card-section col-9 mx-auto'>Tendance: </p>
                <% if @beer.balance.present? && @beer.balance.name != @beer.typical_beer.balance.name %>
                  <p class='col-9 mx-auto card-section-special'><%= @beer.balance.name %></p>
                <% else %>
                  <p class='col-9 mx-auto card-section-item'><%= @beer.typical_beer.balance.name %></p>
                <% end %>
                <p class='card-section col-9 mx-auto'>Palais: </p>
                <% if @beer.main_taste.present? %>
                  <% if @beer.main_taste.name != @beer.typical_beer.main_taste.name %>
                    <p class='col-9 mx-auto card-section-special'> <%= @beer.main_taste.name %></p>
                  <% else %>
                    <p class='col-9 mx-auto card-section-item'><%= @beer.typical_beer.main_taste.name %></p>
                  <% end %>
                <% end %>

                <% beerflavours = [] %>
                <% typicalflavours = [] %>

                <% if @beer.flavours.present? %>
                  <p class='card-section col-9 mx-auto'>Arômes:</p>
                  <% @beer.typical_beer.flavours.each do |tb| %>
                    <% typicalflavours << tb.name %>
                  <% end %>
                  <% @beer.flavours.each do |b| %>
                    <% beerflavours << b.name %>
                  <% end %>
                  <% special = typicalflavours & beerflavours %>
                  <div class="col-9 mx-auto">
                    <div class="row">
                      <p class='col-lg-12 card-section-item'><%= special.join(", ") %></p>
                    </div>
                    <div class="row">
                      <p class='col-lg-12 card-section-special'><%= (beerflavours - special).join(", ") %></p>
                    </div>
                  </div>
                <% end %>

                <% beerfeelings = [] %>
                <% typicalfeelings = [] %>

                <% if @beer.feelings.present? %>
                  <p class='card-section col-9 mx-auto'>Textures:</p>
                  <% @beer.typical_beer.feelings.each do |tb| %>
                    <% typicalfeelings << tb.name %>
                  <% end %>
                  <% @beer.feelings.each do |b| %>
                    <% beerfeelings << b.name %>
                  <% end %>
                  <% special = typicalfeelings & beerfeelings %>
                  <div class="col-9 mx-auto">
                    <div class="row">
                      <p class='col-lg-12 card-section-item'><%= special.join(", ") %></p>
                    </div>
                    <div class="row">
                      <p class='col-lg-12 card-section-special'><%= (beerfeelings - special).join(", ") %></p>
                    </div>
                  </div>
                <% end %>

                <% if @beer.ratings.present? %>
                  <p class='card-text center'>Moyenne des notes: <%= @beer.average_stars %></p>
                <% end %>

                <% if @beer.fancies.present? %>
                  <% @beer.fancies.each do |n| %>
                    <% a = [] %>
                    <% if n.user == current_user %>
                      <% a << n %>
                      <% if a.include?(n) && n.heart == true %>
                        <%= link_to edit_beer_fancy_path(@beer, n) do %>
                          <div class="center top">
                            <i class="fas fa-heart wanted"></i>
                          </div>
                        <% end %>
                      <% elsif a.include?(n) && n.heart == false %>
                        <%= link_to edit_beer_fancy_path(@beer, n) do %>
                          <div class="center top">
                            <i class="fas fa-heart-broken unwanted"></i>
                          </div>
                        <% end %>
                      <% else %>
                        <%= simple_form_for ([ @beer, @fancy ]) do |f| %>
                          <fieldset class="form-group radio_buttons optional fancy_heart hidden">
                            <input type="hidden" name="fancy[heart]" value="">

                              <input class="form-check-input radio_buttons optional squaretag-selector hidden" type="radio" value="true" checked="checked" name="fancy[heart]" id="fancy_heart_true">
                              <label class="form-check-label collection_radio_buttons hidden" for="fancy_heart_true"></label>

                          </fieldset>
                          <div class="center">
                            <%= f.button :button do %>
                              <i class="far fa-heart"></i>
                            <% end %>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= simple_form_for ([ @beer, @fancy ]) do |f| %>
                    <fieldset class="form-group radio_buttons optional fancy_heart hidden">
                      <input type="hidden" name="fancy[heart]" value="">

                        <input class="form-check-input radio_buttons optional squaretag-selector hidden" type="radio" value="true" checked="checked" name="fancy[heart]" id="fancy_heart_true">
                        <label class="form-check-label collection_radio_buttons hidden" for="fancy_heart_true"></label>

                    </fieldset>
                    <div class="center">
                      <%= f.button :button do %>
                        <i class="far fa-heart"></i>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% else %>
            <%= render 'beer_card_show', beer: @beer  %>
          <% end %>
        <% end %>
      <% else %>
        <%= render 'beer_card_show', beer: @beer  %>
      <% end %>
      <div class="card top p-top p-bottom">
        <% if @beer.beer_family.present? %>
          <p class="center"> Type de bière de la même famille : </p>
          <% @typical_beers.each do |b| %>
            <% if b.beer_family.name == @beer.beer_family.name %>
              <%= link_to b do  %>
                <p class="description center"> <%= b.name %></p>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <% if user_signed_in? %>
          <div class="center">
            <%= render 'tastings/form' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if @beer.target? %>
    <div class="row top">
      <div class="col-12">
        <div class='card-show bottom'>
          <div class="row steps">
            <h2>Etapes de la Recette</h2>
          </div>
          <% s = @beer.recipes.sort_by { |step| step[:step] } %>
          <% s.each do |r| %>
            <div class="container">
              <%= link_to edit_beer_recipe_path(@beer, r) do %>
                <div class="row steps">
                  <p class="step"><%= r.step %> - <%= r.action.name %>
                    <% if r.product_type.present? %>
                      <% if r.product_type.name == 'eau' %>
                        l'<%= r.product_type.name %>
                      <% elsif r.product_type.name == 'épices' %>
                        les <%= r.product_type.name %>
                      <% elsif r.product_type.name == 'adjuvants' %>
                        l'<%= r.product_type.name %>
                      <% elsif r.product_type.name == 'houblon' %>
                        le <%= r.product_type.name %>
                      <% elsif r.product_type.name == 'malt' %>
                        le <%= r.product_type.name %>
                      <% elsif r.product_type.name == 'moût' %>
                        le <%= r.product_type.name %>
                      <% elsif r.product_type.name == 'sucre' %>
                        le <%= r.product_type.name %>
                      <% elsif r.product_type.name == 'fruit' %>
                        le <%= r.product_type.name %>
                      <% elsif r.product_type.name == 'adjuvants' %>
                        les <%= r.product_type.name %>
                      <% elsif r.product_type.name == 'drêches' %>
                        les <%= r.product_type.name %> avec
                      <% else %>
                        la <%= r.product_type.name %>
                      <% end %>
                    <% end %>
                    <% if r.product.present? %>
                      <%= r.product %>
                    <% end %>
                    <% if r.quantity.present? %>
                      ( <%= r.quantity %>
                    <% end %>
                    <% if r.unit.present? %>
                      <%= r.unit.name %> )
                    <% end %>
                    <% if r.temperature.present? %>
                      à <%= r.temperature %> °C
                    <% end %>
                    <% if r.duration.present? %>
                      pendant <%= r.duration %>
                    <% end %>
                    <% if r.duration_unit.present? %>
                       <%= r.duration_unit.name %>
                    <% end %>
                  </p>
                </div>
              <% end %>
            </div>
          <% end %>
          <% if @beer.user == current_user && @beer.user.admin? %>
            <div class="row steps">
              <%= link_to 'Nouvelle étape', new_beer_recipe_path(@beer), class: 'card-link' %>
            </div>
          <% else %>
            <p class="card-text">Recette en cours d'édition</p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="container bottom top">
  <div class="row">
    <% if @beer.tastings.present? %>
      <div class="col-12">
        <% @beer.tastings.sort_by(&:id).reverse!.each do |b| %>
          <% if b.user == current_user %>
            <%= link_to edit_beer_tasting_path(@beer, b) do %>
              <div class="card bottom tasting-card">
                <% if b.user.photo.present? %>
                  <div class="user-card"><%= image_tag b.user.photo, height: 250, width: 250, crop: :fill, fetch_format: :auto, class: "tasting-user-img avatar-large" %>
                  </div>
                <% else %>
                  <div class="user-card"><%= cl_image_tag ('v1598080266/preservation_hall_jazz_band_isixvg.jpg'), height: 250, width: 250, crop: :fill, fetch_format: :auto, class: "tasting-user-img avatar-bordered" %>
                  </div>
                <% end %>
                <div class="row">
                  <div class='col-xs-6 col-sm-6 col-lg-6'>
                    <p class="tasting-card-title">NOTE GLOBALE :</p>
                  </div>
                  <div class='col-xs-6 col-sm-6 col-lg-6'>
                    <p class="tasting-card-text rate"><%= ('<i class="fa fa-star" aria-hidden="true"></i>' * b.global_rating + '<i class="fa fa-star-o" aria-hidden="true"></i>' * (5 - b.global_rating)).html_safe %></p>
                  </div>
                </div>
                <div class="row">
                  <div class='col-xs-6 col-sm-6 col-lg-6'>
                    <p class="tasting-card-title">COULEUR :</p>
                  </div>
                  <div class='col-xs-6 col-sm-6 col-lg-6'>
                    <p class="tasting-card-text"><%= b.design_color.name %></p>
                  </div>
                </div>
                <div class="row">
                  <div class='col-xs-6 col-sm-6 col-lg-6'>
                    <p class="tasting-card-title">BALANCE :</p>
                  </div>
                  <div class='col-xs-6 col-sm-6 col-lg-6'>
                    <p class="tasting-card-text"><%= b.balance.name %></p>
                  </div>
                </div>
                <div class="row">
                  <div class='col-xs-6 col-sm-6 col-lg-6'>
                    <p class="tasting-card-title">CLASSE :</p>
                  </div>
                  <div class='col-xs-6 col-sm-6 col-lg-6'>
                    <p class="tasting-card-text"><%= b.main_taste.name %></p>
                  </div>
                </div>
                <div class="row">
                  <div class='col-xs-6 col-sm-6 col-lg-6'>
                    <p class="tasting-card-title">TEMPS :</p>
                  </div>
                  <div class='col-xs-6 col-sm-6 col-lg-6'>
                    <p class="tasting-card-text"><%= b.weather.name %></p>
                  </div>
                </div>
                <div class="row">
                  <div class='col-xs-6 col-sm-6 col-lg-6'>
                    <p class="tasting-card-title">CONTEXTE :</p>
                  </div>
                  <div class='col-xs-6 col-sm-6 col-lg-6'>
                    <p class="tasting-card-text"><%= b.context.name %></p>
                  </div>
                </div>
                <div class="row">
                  <div class='col-xs-6 col-sm-6 col-lg-6'>
                    <p class="tasting-card-title">AROMES : </p>
                  </div>
                  <div class='col-xs-6 col-sm-6 col-lg-6'>
                    <div class="list">
                      <% b.flavours.each do |n| %>
                        | <%= n.name %> |
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class='col-xs-6 col-sm-6 col-lg-6'>
                    <p class="tasting-card-title">SENSATIONS : </p>
                  </div>
                  <div class='col-xs-6 col-sm-6 col-lg-6'>
                    <div class="list">
                      <% b.feelings.each do |n| %>
                        | <%= n.name %> |
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="card bottom tasting-card">
              <% if b.user.photo.present? %>
                <div class="user-card"><%= image_tag b.user.photo, height: 250, width: 250, crop: :fill, fetch_format: :auto, class: "tasting-user-img avatar-large" %></div>
              <% else %>
                <div class="user-card"><%= cl_image_tag ('v1598080266/preservation_hall_jazz_band_isixvg.jpg'), height: 250, width: 250, crop: :fill, fetch_format: :auto, class: "tasting-user-img avatar-bordered" %>
                </div>
              <% end %>
              <div class="row">
                <div class='col-xs-6 col-sm-6 col-lg-6'>
                  <p class="tasting-card-title">NOTE GLOBALE :</p>
                </div>
                <div class='col-xs-6 col-sm-6 col-lg-6'>
                  <p class="tasting-card-text rate"><%= ('<i class="fa fa-star" aria-hidden="true"></i>' * b.global_rating + '<i class="fa fa-star-o" aria-hidden="true"></i>' * (5 - b.global_rating)).html_safe %></p>
                </div>
              </div>
              <div class="row">
                <div class='col-xs-6 col-sm-6 col-lg-6'>
                  <p class="tasting-card-title">COULEUR :</p>
                </div>
                <div class='col-xs-6 col-sm-6 col-lg-6'>
                  <p class="tasting-card-text"><%= b.design_color.name %></p>
                </div>
              </div>
              <div class="row">
                <div class='col-xs-6 col-sm-6 col-lg-6'>
                  <p class="tasting-card-title">BALANCE :</p>
                </div>
                <div class='col-xs-6 col-sm-6 col-lg-6'>
                  <p class="tasting-card-text"><%= b.balance.name %></p>
                </div>
              </div>
              <div class="row">
                <div class='col-xs-6 col-sm-6 col-lg-6'>
                  <p class="tasting-card-title">CLASSE :</p>
                </div>
                <div class='col-xs-6 col-sm-6 col-lg-6'>
                  <p class="tasting-card-text"><%= b.main_taste.name %></p>
                </div>
              </div>
              <div class="row">
                <div class='col-xs-6 col-sm-6 col-lg-6'>
                  <p class="tasting-card-title">TEMPS :</p>
                </div>
                <div class='col-xs-6 col-sm-6 col-lg-6'>
                  <p class="tasting-card-text"><%= b.weather.name %></p>
                </div>
              </div>
              <div class="row">
                <div class='col-xs-6 col-sm-6 col-lg-6'>
                  <p class="tasting-card-title">CONTEXTE :</p>
                </div>
                <div class='col-xs-6 col-sm-6 col-lg-6'>
                  <p class="tasting-card-text"><%= b.context.name %></p>
                </div>
              </div>
              <div class="row">
                <div class='col-xs-6 col-sm-6 col-lg-6'>
                  <p class="tasting-card-title">AROMES : </p>
                </div>
                <div class='col-xs-6 col-sm-6 col-lg-6'>
                  <div class="list">
                    <% b.flavours.each do |n| %>
                      | <%= n.name %> |
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class='col-xs-6 col-sm-6 col-lg-6'>
                  <p class="tasting-card-title">SENSATIONS : </p>
                </div>
                <div class='col-xs-6 col-sm-6 col-lg-6'>
                  <div class="list">
                    <% b.feelings.each do |n| %>
                      | <%= n.name %> |
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>



