<div class="offnav"></div>

<div class="container top">
  <div class="card-product">
    <%= cl_image_tag @beer.photo.key %>
    <div class="card-product-infos">
      <%= @beer.name %>
      <%= @beer.style.name %>
      <%= @beer.alcohol_level %>
      <%= @beer.color %>
      <%= @beer.bitterness %>
      <%= @beer.description %>
      <% if @beer.user == current_user %>
        <%= link_to 'edit', edit_beer_path(@beer) %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'create recipe', new_beer_recipe_path(@beer) %>

<div class="container top bottom">
  <h2>Recette</h2>
  <p>The table-hover class adds a hover effect (grey background color) on table rows:</p>
  <div class="row steps">
    <div class="col-xs-3 col-sm-1 col-lg-1">Etape</div>
    <div class="col-xs-3 col-sm-1 col-lg-1">Quantité</div>
    <div class="col-xs-3 col-sm-1 col-lg-1">Durée</div>
    <div class="col-xs-3 col-sm-1 col-lg-1">Température</div>
  </div>
  <% @beer.recipes.each do |r| %>
    <%= link_to edit_beer_recipe_path(@beer) do %>
      <div class="row steps">
        <div class="col-xs-3 col-sm-1 col-lg-1"><%= r.step %></div>
        <div class="col-xs-3 col-sm-1 col-lg-1"><%= r.quantity %></div>
        <div class="col-xs-3 col-sm-1 col-lg-1"><%= r.duration %> Min</div>
        <div class="col-xs-3 col-sm-1 col-lg-1"><%= r.temperature %> °C</div>
      </div>
    <% end %>
  <% end %>
</div>


