<div class="offnavs"></div>
<div class="container top">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4 bottom index">
      <div class="card shadow">
        <p class='center target-top-title card-text'><%= @beer.name.upcase %></p>
        <p class='center'><%= @beer.style.name %> | by : <% @beer.user.username %></p>
        <%= cl_image_tag @beer.photo.key, height: 300, width: 400, crop: :fill, class: 'card-img-top img-responsive beer-image' %>
        <div class="card-infos">
          <p class='card-text center'>Category: <%= @beer.category.name %></p>
          <p class='card-text center'>Alcool: <%= @beer.alcohol_level %> % Vol</p>
          <p class='card-text center'>Color: <%= @beer.color %> EBC</p>
          <p class='card-text center'>Bitterness: <%= @beer.bitterness %> IBU</p>
        </div>
        <div class="middle">
          <p class="center">DESCRIPTION</p>
          <p class=""> <%= @beer.description %> </p>
        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-6 card-show bottom">
      <div class="row steps">
        <h2>Etapes de la Recette</h2>
      </div>
      <% if @beer.user == current_user && @beer.user.admin? %>
        <div class="row steps">
          <%= link_to 'Nouvelle étape', new_beer_recipe_path(@beer) %>
        </div>
      <% else %>
        <p class="card-text">Recette en cours d'édition</p>
      <% end %>
      <% s = @beer.recipes.sort_by { |step| step[:step] } %>
      <% s.each do |r| %>
        <div class="container">
          <%= link_to edit_beer_recipe_path(@beer, r) do %>
            <div class="row steps">
              <p class="step"><%= r.step %> - <%= r.action.name %>
                <% if r.product_type.present? %>
                  <% if r.product_type.name == 'eau' %>
                    l'<%= r.product_type.name %>
                  <% elsif r.product_type.name == 'épices' %>
                    l'<%= r.product_type.name %>
                  <% elsif r.product_type.name == 'adjuvants' %>
                    l'<%= r.product_type.name %>
                  <% elsif r.product_type.name == 'houblon' %>
                    le <%= r.product_type.name %>
                  <% elsif r.product_type.name == 'malt' %>
                    le <%= r.product_type.name %>
                  <% elsif r.product_type.name == 'moût' %>
                    le <%= r.product_type.name %>
                  <% elsif r.product_type.name == 'sucre' %>
                    le <%= r.product_type.name %>
                  <% elsif r.product_type.name == 'fruit' %>
                    le <%= r.product_type.name %>
                  <% elsif r.product_type.name == 'adjuvants' %>
                    les <%= r.product_type.name %>
                  <% elsif r.product_type.name == 'Drêches' %>
                    les <%= r.product_type.name %> avec
                  <% else %>
                    la <%= r.product_type.name %>
                  <% end %>
                <% end %>
                <% if r.product.present? %>
                  <%= r.product %>
                <% end %>
                <% if r.quantity.present? %>
                  ( <%= r.quantity %>
                <% end %>
                <% if r.unit.present? %>
                  <%= r.unit.name %> )
                <% end %>
                <% if r.temperature.present? %>
                  à <%= r.temperature %> °C
                <% end %>
                <% if r.duration.present? %>
                  pendant <%= r.duration %>
                <% end %>
                <% if r.duration_unit.present? %>
                   <%= r.duration_unit.name %>
                <% end %>
              </p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container bottom top">
  <div class="row">
    <% if @beer.tastings.present? %>
      <% @beer.tastings.sort_by(&:id).reverse!.each do |b| %>
        <div class="col-lg-1"></div>
        <% if b.user == current_user %>
          <div class="col-lg-11 card-show bottom">
            <%= link_to edit_beer_tasting_path(@beer, b) do %>
              <% unless b.user.photo.present? %>
                <div class="user-card"><%= cl_image_tag ('v1598080266/preservation_hall_jazz_band_isixvg.jpg'), height: 250, width: 250,crop: :fill, class: "show-img avatar-bordered" %></div>
              <% else %>
                  <div class="user-card"><%= image_tag b.user.photo, height: 250, width: 250,crop: :fill, class: "show-img avatar-large" %></div>
                </div>
              <% end %>
              <div class="show-infos">
                <p class="card-text">Note Globale / 5 :<%= b.global_rating %></p>
                <p class="card-text">Couleur : <%= b.design_color.name %></p>
                <p class="card-text">Balance : <%= b.balance.name %></p>
                <p class="card-text">Classe : <%= b.main_taste.name %></p>
                <p class="card-text">Temps : <%= b.weather.name %></p>
                <p class="card-text">Contexte : <%= b.context.name %></p>
              </div>
              <p class="card-text">Arômes : </p>
              <% b.flavours.each do |n| %>
                <p class="card-text"><%= n.name %></p>
              <% end %>
              <p class="card-text">Sensation : </p>
              <% b.feelings.each do |n| %>
                <p class="card-text"><%= n.name %></p>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="col-lg-11 card-show bottom">
            <% unless b.user.photo.present? %>
              <div class="user-card"><%= cl_image_tag ('v1598080266/preservation_hall_jazz_band_isixvg.jpg'), height: 250, width: 250,crop: :fill, class: "show-img avatar-bordered" %></div>
            <% else %>
                <div class="user-card"><%= image_tag b.user.photo, height: 250, width: 250,crop: :fill, class: "show-img avatar-large" %></div>
              </div>
            <% end %>
            <div class="show-infos">
              <p class="card-text">Note Globale / 5 :<%= b.global_rating %></p>
              <p class="card-text">Couleur : <%= b.design_color.name %></p>
              <p class="card-text">Balance : <%= b.balance.name %></p>
              <p class="card-text">Classe : <%= b.main_taste.name %></p>
              <p class="card-text">Temps : <%= b.weather.name %></p>
              <p class="card-text">Contexte : <%= b.context.name %></p>
            </div>
            <p class="card-text">Arômes : </p>
            <% b.flavours.each do |n| %>
              <p class="card-text"><%= n.name %></p>
            <% end %>
            <p class="card-text">Sensation : </p>
            <% b.feelings.each do |n| %>
              <p class="card-text"><%= n.name %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
