<div class="offnav"></div>

<div class="container top">
  <div class="card-product">
    <%= cl_image_tag @beer.photo.key %>
    <div class="card-product-infos">
      <%= @beer.name %>
      <%= @beer.style.name %>
      <%= @beer.alcohol_level %>
      <%= @beer.color %>
      <%= @beer.bitterness %>
      <%= @beer.description %>
      <% if @beer.user == current_user %>
        <%= link_to 'edit', edit_beer_path(@beer) %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'create recipe', new_beer_recipe_path(@beer) %>

<div class="container top bottom">
  <h2>Recette</h2>
  <p>The table-hover class adds a hover effect (grey background color) on table rows:</p>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Etape</th>
        <th>Quantité</th>
        <th>Durée</th>
      </tr>
    </thead>
    <tbody>
      <% @beer.recipes.each do |r| %>
        <%= link_to edit_beer_recipe_path(@beer) do %>
          <tr>
            <td><%= r.step %></td>
            <td><%= r.quantity %></td>
            <td><%= r.duration %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>


