<div class="offnavs"></div>
<div class="container top bottom">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-1"></div>
    <div class="col-xs-12 col-sm-12 col-lg-8">
      <h2 class='center'>Collection Printemps/été</h2>
      <div class="card target-description index-side bottom">
        <p class=''></p>
      </div>
      <div class="row">
        <% if @beers.present? %>
          <% @beers.each do |b| %>
            <div class="mx-auto col-xs-12 col-sm-6 col-lg-6 index">
              <%= link_to b do %>
                <div class="card shadow">
                  <p class='center target-top-title card-text'><%= b.name.upcase %></p>
                  <p class='center'><%= b.style.name %> | by : <%= b.user.username %></p>
                  <%= cl_image_tag b.photo.key, height: 200, width: 300, crop: :fill, class: 'beer-image' %>
                  <div class="card-infos">
                    <p class='card-text center'>Category: <%= b.category.name %></p>
                    <p class='card-text center'>Alcool: <%= b.alcohol_level %> % Vol</p>
                    <p class='card-text center'>Color: <%= b.color %> EBC</p>
                    <p class='card-text center'>Bitterness: <%= b.bitterness %> IBU</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-3">
      <h2 class='center'>A Découvrir</h2>
      <%= render 'articles/articles_side' %>
    </div>
  </div>
</div>

