<div class="offnavs"></div>
  <div class="container top bottom">
    <div class="row">
      <div class="col-lg-1"></div>
        <div class="col-lg-8">
          <h2 class='center'>C'est Quoi une Target Beer ? </h2>
          <div class="card target-description index-side bottom">
            <p class=''></p>
          </div>
          <div class="row">
            <% @beers.each do |b| %>
              <div class="mx-auto col-xs-9 col-sm-6 col-lg-6 index">
                <%= link_to b do  %>
                  <div class="card shadow">
                    <p class='center target-top-title card-text'><%= b.name.upcase %></p>
                    <p class='center'><%= b.style.name %> | by : <% b.user.username %></p>
                    <%= cl_image_tag b.photo.key, height: 200, width: 300, crop: :fill, class: 'beer-image' %>
                    <div class="card-infos">
                      <p class='card-text center'>Category: <%= b.category.name %></p>
                      <p class='card-text center'>Alcool: <%= b.alcohol_level %> % Vol</p>
                      <p class='card-text center'>Color: <%= b.color %> EBC</p>
                      <p class='card-text center'>Bitterness: <%= b.bitterness %> IBU</p>
                    </div>
                    <div class="middle">
                      <p class="center">DESCRIPTION</p>
                      <p class=""> <%= b.description %> </p>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-lg-3">
        <h2 class='center'>A Découvrir</h2>
        <div class="card sides bottom index-side">
          <h4 class="title-top">A Lire</h4>
          <% @articles.each do |a| %>
            <%= link_to a do %>
              <div class="row article-link card-infos">
                <div class="col-lg-4"><%= cl_image_tag a.photo.key, class: 'avatar-square img-fluid' %></div>
                <div class="col-lg-8">
                  <p class='article-link-text'><%= a.title %></p>
                  <p class='article-link-text'><%= a.theme.name %></p>
                  <p class='article-link-text'><%= a.created_at.strftime("%d/%m/%Y") %> </p>
                  <div class="line center"></div><br>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>


