<div class="offnavs"></div>
<%= simple_form_for @public_search do |f| %>
  <%= f.association :category, as: :radio_buttons %>
  <%= f.association :balance, as: :radio_buttons %>
  <%= f.association :alcohol_shape, as: :radio_buttons %>
  <%= f.association :design_color, as: :radio_buttons %>
  <%= f.button :submit, "Valider", class: "btn btn-ghost bottom"  %>
<% end %>
