<div class="container bottom">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <div class="blackboard">
        <h1><%= title 'Beertrackr' %></h1>
        <%= simple_form_for @public_search do |f| %>
          <div class="center">
            <%= f.association :design_color, as: :radio_buttons, required: false,
              input_html: { class: "squaretag-selector" },
              item_wrapper_class: 'squaretag-item', label: 'Indique une couleur bière !' %>
          </div>
          <div class="center">
            <%= f.association :alcohol_shape, as: :radio_buttons, required: false,
              input_html: { class: "squaretag-selector" },
              item_wrapper_class: 'squaretag-item', label: "Choisis un niveau d'alcool !" %>
          </div>
          <div class="center">
            <%= f.association :main_taste, as: :radio_buttons, required: false,
                input_html: { class: "squaretag-selector" },
                item_wrapper_class: 'squaretag-item', label: "Impression générale..." %>
          </div>
          <div class="center">
            <%= f.association :balance, as: :radio_buttons, required: false,
              input_html: { class: "squaretag-selector" },
              item_wrapper_class: 'squaretag-item', label: "Ta bière est plutôt maltée(épais, sucré, céréalé) ou houblonnée (plutôt végétal et franc)" %>
          </div>
          <div class="center">
            <%= f.association :feelings, as: :check_boxes, required: false,
                          input_html: { class: "squaretag-selector" },
                          item_wrapper_class: 'squaretag-item', label: 'Indique des caractéristiques !' %>
          </div>
          <div class="center">
            <%= f.association :flavours, as: :check_boxes, required: false,
                          input_html: { class: "squaretag-selector" },
                          item_wrapper_class: 'squaretag-item', label: 'Et enfin des arômes, mêmes subtiles !' %>
          </div>
          <div class="center">
            <%= f.association :category, as: :radio_buttons, required: false,
              input_html: { class: "squaretag-selector" },
              item_wrapper_class: 'squaretag-item', label: 'Type de fermentation...' %>
          </div>
          <p class='center'><%= f.button :submit, "Valider", class: "btn validate bottom" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>


