<div class="offnavs"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 mx-auto center">
      <%= @public_search.category.name %>
      <%= @public_search.balance.name %>
      <%= @public_search.alcohol_shape.name %>
      <%= @public_search.design_color.name %>
      <%= @public_search.main_taste.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mx-auto center">
      <% if @public_search.feelings.present? %>
        <% @public_search.feelings.each do |f| %>
          <%= f.name %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mx-auto center">
      <% if @public_search.flavours.present? %>
        <% @public_search.flavours.each do |f| %>
          <%= f.name %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br>
<% pscategory = [] %>
<% psbalance = [] %>
<% pslevel = [] %>
<% pscolor = [] %>
<% psmaintaste = [] %>
<% psfeelings = [] %>
<% psflavours = [] %>
<% result = [] %>

<div class="container">
  <% @typical_beers.each do |tb| %>
    <% if @public_search.category.present? %>
      <% if @public_search.category.name == tb.category.name %>
        <% pscategory << tb %>
      <% end %>
    <% end %>
  <% end %>

  <% if pscategory != [] %>
    <% result << pscategory %>
  <% end %>

  <% @typical_beers.each do |tb| %>
    <% if @public_search.balance.present? %>
      <% if @public_search.balance.name == tb.balance.name %>
        <% psbalance << tb %>
      <% end %>
    <% end %>
  <% end %>

  <% if psbalance != [] %>
    <% result << psbalance %>
  <% end %>

  <% @typical_beers.each do |tb| %>
    <% if @public_search.alcohol_shape.present? %>
      <% if @public_search.alcohol_shape.name == tb.alcohol_shape.name %>
        <% pslevel << tb %>
      <% end %>
    <% end %>
  <% end %>

  <% if pslevel != [] %>
    <% result << pslevel %>
  <% end %>

  <% @typical_beers.each do |tb| %>
    <% if @public_search.design_color.present? %>
      <% if @public_search.design_color.name == tb.design_color.name %>
        <% pscolor << tb %>
      <% end %>
    <% end %>
  <% end %>

  <% if pscolor != [] %>
    <% result << pscolor %>
  <% end %>

  <% @typical_beers.each do |tb| %>
    <% if tb.main_taste.present? %>
      <% if @public_search.main_taste.present? %>
        <% if @public_search.main_taste.name == tb.main_taste.name %>
          <% psmaintaste << tb %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if psmaintaste != [] %>
    <% result << psmaintaste %>
  <% end %>


  <% @typical_beers.each do |tb| %>
    <% if tb.feelings.present? %>
      <% tb.feelings.each do |tbf| %>
        <% if @public_search.feelings.present? %>
          <% @public_search.feelings.each do |psf| %>
            <% if psf.name == tbf.name %>
              <% psfeelings << tb %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if psfeelings != [] %>
    <% result << psfeelings.uniq %>
  <% end %>

  <% @typical_beers.each do |tb| %>
    <% if tb.flavours.present? %>
      <% tb.flavours.each do |tbf| %>
        <% if @public_search.flavours.present? %>
          <% @public_search.flavours.each do |psf| %>
            <% if psf.name == tbf.name %>
              <% psflavours << tb %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if psflavours != [] %>
    <% result << psflavours.uniq %>
  <% end %>
</div>

<% must = result.flatten.group_by(&:itself) %>
<% sorted_must = must.map{|k, v| [k, v.length]}.to_h.sort_by {|_key, value| value}.to_h %>
<% first_choices = sorted_must.select! { |key, value| value == 5 } %>
<% if !first_choices.nil? %>
  <% five_stars = first_choices.keys %>
  <% if five_stars != [] %>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <p class='user'>Types de bières</p>
          <p class='user'>Quelques exemples <%= ('<i class="fa fa-star" aria-hidden="true"></i>' * 5 ).html_safe %> </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <p class='user'>
            <% five_stars.each do |f| %>
              |<%= f.style.name %>|
            <% end %>
          </p>
          <div class="row">
            <% five_stars.each do |f| %>
              <div class="mx-auto col-xs-12 col-sm-4 col-lg-3 index">
                <%= render 'typical_beers/typical_beer_card', typical_beer: f %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-12 mx-auto center">
      <%= link_to 'nouvelle recherche', new_public_search_path, class: 'btn btn-ghost' %>
    </div>
  </div>
</div>

<div class="bottom"></div>
