<div class="offnav"></div>
<div class="container top bottom">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <div class="card center">
        <h1 class='title-top'><%= title 'Récapitulatif des critères de recherche' %></h1>
        <div class="shadow p-top p-bottom">
          <div class="row">
            <div class="col-8 col-lg-2 mx-auto">
              <div class='validate'><%= @public_search.alcohol_shape.name %></div>
            </div>
            <div class="col-8 col-lg-2 mx-auto">
              <div class='validate'><%= @public_search.design_color.name %></div>
            </div>
            <div class="col-8 col-lg-2 mx-auto">
              <div class='validate'><%= @public_search.main_taste.name %></div>
            </div>
            <div class="col-8 col-lg-2 mx-auto">
              <div class='validate'><%= @public_search.balance.name %></div>
            </div>
            <% if @public_search.feelings.present? %>
              <% @public_search.feelings.each do |f| %>
                <div class="col-8 col-lg-2 mx-auto">
                  <div class='validate'><%= f.name %></div>
                </div>
              <% end %>
            <% end %>
            <% if @public_search.flavours.present? %>
              <% @public_search.flavours.each do |f| %>
                <div class="col-8 col-lg-2 mx-auto">
                  <div class='validate'><%= f.name %></div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<% psbalance = [] %>
<% pslevel = [] %>
<% pscolor = [] %>
<% psmaintaste = [] %>
<% psfeelings = [] %>
<% psflavours = [] %>
<% typical_beer_style = [] %>
<% result = [] %>

<% if user_signed_in? && current_user.store.present? %>
  <% if current_user.store.visitor? %>
    <div class="container">
      <% @current_user.store.beers.each do |tb| %>
        <% if @public_search.balance.present? %>
          <% if tb.balance.present? %>
            <% if @public_search.balance.name == tb.balance.name %>
              <% psbalance << tb %>
            <% end %>
          <% else %>
            <% if @public_search.balance.name == tb.typical_beer.balance.name %>
              <% psbalance << tb %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if psbalance != [] %>
        <% result << psbalance %>
      <% end %>

      <% @current_user.store.beers.each do |tb| %>
        <% if @public_search.alcohol_shape.present? %>
          <% if tb.alcohol_shape.present? %>
            <% if @public_search.alcohol_shape.name == tb.alcohol_shape.name %>
              <% pslevel << tb %>
            <% end %>
          <% else %>
            <% if @public_search.alcohol_shape.name == tb.typical_beer.alcohol_shape.name %>
              <% pslevel << tb %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if pslevel != [] %>
        <% result << pslevel %>
      <% end %>

      <% @current_user.store.beers.each do |tb| %>
        <% if @public_search.design_color.present? %>
          <% if tb.design_color.present? %>
            <% if @public_search.design_color.name == tb.design_color.name %>
              <% pscolor << tb %>
            <% end %>
          <% else %>
            <% if @public_search.design_color.name == tb.typical_beer.design_color.name %>
              <% pscolor << tb %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if pscolor != [] %>
        <% result << pscolor %>
      <% end %>

      <% @current_user.store.beers.each do |tb| %>
        <% if @public_search.main_taste.present? %>
          <% if tb.main_taste.present? %>
            <% if @public_search.main_taste.name == tb.main_taste.name %>
              <% psmaintaste << tb %>
            <% end %>
          <% else %>
            <% if tb.typical_beer.main_taste.present? %>
              <% if @public_search.main_taste.name == tb.typical_beer.main_taste.name %>
                <% psmaintaste << tb %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if psmaintaste != [] %>
        <% result << psmaintaste %>
      <% end %>


      <% @current_user.store.beers.each do |tb| %>
        <% if @public_search.feelings.present? %>
          <% @public_search.feelings.each do |psf| %>
            <% if tb.feelings.present? %>
              <% tb.feelings.each do |tbf| %>
                <% if psf.name == tbf.name %>
                  <% psfeelings << tb %>
                <% end %>
              <% end %>
            <% else %>
              <% if tb.typical_beer.feelings.present? %>
                <% tb.typical_beer.feelings.each do |tbf| %>
                  <% if psf.name == tbf.name %>
                    <% psfeelings << tb %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if psfeelings != [] %>
        <% result << psfeelings.uniq %>
      <% end %>

      <% @current_user.store.beers.each do |tb| %>
        <% if @public_search.flavours.present? %>
          <% @public_search.flavours.each do |psf| %>
            <% if tb.flavours.present? %>
              <% tb.flavours.each do |tbf| %>
                <% if psf.name == tbf.name %>
                  <% psflavours << tb %>
                <% end %>
              <% end %>
            <% else %>
              <% if tb.typical_beer.flavours.present? %>
                <% tb.typical_beer.flavours.each do |tbf| %>
                  <% if psf.name == tbf.name %>
                    <% psflavours << tb %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if psflavours != [] %>
        <% result << psflavours.uniq %>
      <% end %>
    </div>

    <% must = result.flatten.group_by(&:itself) %>
    <% sorted_must = must.map{|k, v| [k, v.length]}.to_h.sort_by {|_key, value| value}.to_h %>
    <% first_choices = sorted_must.select! { |key, value| value >= 5 } %>
    <% if !first_choices.nil? %>
      <% five_stars = first_choices.keys %>
      <% if five_stars != [] %>
        <div class="container">
          <div class="row">
            <div class="col-12 mx-auto">
              <div class='head shadow'>
                <h2>Types de bières</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <% five_stars.each do |f| %>
              <% typical_beer_style << f.typical_beer %>
            <% end %>
            <% typical_beer_style.uniq.each do |f| %>
              <div class="mx-auto col-6 col-lg-3 index">
                <%= render 'typical_beers/typical_beer_card', typical_beer: f %>
              </div>
            <% end %>
          </div>
          <div class="row">
            <div class="col-12 mx-auto">
              <div class='head shadow'>
                <h2>Quelques exemples <%= ('<i class="fa fa-star" aria-hidden="true"></i>' * 5 ).html_safe %> en magasin</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <% five_stars.each do |f| %>
              <div class="mx-auto col-6 col-lg-3 index">
                <%= render 'beers/beer_card', beer: f %>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class='center p-top p-bottom'>Mais... malheureusement, nous n'avons pas ce genre de bière en base</div>
      <% end %>
    <% end %>
  <% else %>
    <% @beers.each do |tb| %>
      <% if tb.balance.present? %>
        <% if @public_search.balance.name == tb.balance.name %>
          <% psbalance << tb %>
        <% end %>
      <% else %>
        <% if @public_search.balance.name == tb.typical_beer.balance.name %>
          <% psbalance << tb %>
        <% end %>
      <% end %>
    <% end %>

    <% if psbalance != [] %>
      <% result << psbalance %>
    <% end %>

    <% @beers.each do |tb| %>
      <% if tb.alcohol_shape.present? %>
        <% if @public_search.alcohol_shape.name == tb.alcohol_shape.name %>
          <% pslevel << tb %>
        <% end %>
      <% else %>
        <% if @public_search.alcohol_shape.name == tb.typical_beer.alcohol_shape.name %>
          <% pslevel << tb %>
        <% end %>
      <% end %>
    <% end %>

    <% if pslevel != [] %>
      <% result << pslevel %>
    <% end %>

    <% @beers.each do |tb| %>
      <% if tb.design_color.present? %>
        <% if @public_search.design_color.name == tb.design_color.name %>
          <% pscolor << tb %>
        <% end %>
      <% else %>
        <% if @public_search.design_color.name == tb.typical_beer.design_color.name %>
          <% pscolor << tb %>
        <% end %>
      <% end %>
    <% end %>

    <% if pscolor != [] %>
      <% result << pscolor %>
    <% end %>

    <% @beers.each do |tb| %>
      <% if tb.main_taste.present? %>
        <% if @public_search.main_taste.name == tb.main_taste.name %>
          <% psmaintaste << tb %>
        <% end %>
      <% else %>
        <% if tb.typical_beer.main_taste.present? %>
          <% if @public_search.main_taste.name == tb.typical_beer.main_taste.name %>
            <% psmaintaste << tb %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if psmaintaste != [] %>
      <% result << psmaintaste %>
    <% end %>

    <% @beers.each do |tb| %>
      <% if @public_search.feelings.present? %>
        <% @public_search.feelings.each do |psf| %>
          <% if tb.feelings.present? %>
            <% tb.feelings.each do |tbf| %>
              <% if psf.name == tbf.name %>
                <% psfeelings << tb %>
              <% end %>
            <% end %>
          <% else %>
            <% if tb.typical_beer.feelings.present? %>
              <% tb.typical_beer.feelings.each do |tbf| %>
                <% if psf.name == tbf.name %>
                  <% psfeelings << tb %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if psfeelings != [] %>
      <% result << psfeelings.uniq %>
    <% end %>

    <% @beers.each do |tb| %>
      <% if @public_search.flavours.present? %>
        <% @public_search.flavours.each do |psf| %>
          <% if tb.flavours.present? %>
            <% tb.flavours.each do |tbf| %>
              <% if psf.name == tbf.name %>
                <% psflavours << tb %>
              <% end %>
            <% end %>
          <% else %>
            <% if tb.typical_beer.flavours.present? %>
              <% tb.typical_beer.flavours.each do |tbf| %>
                <% if psf.name == tbf.name %>
                  <% psflavours << tb %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if psflavours != [] %>
      <% result << psflavours.uniq %>
    <% end %>

    <% must = result.flatten.group_by(&:itself) %>
    <% sorted_must = must.map{|k, v| [k, v.length]}.to_h.sort_by {|_key, value| value}.to_h %>
    <% first_choices = sorted_must.select! { |key, value| value >= 5 } %>
    <% if !first_choices.nil? %>
      <% five_stars = first_choices.keys %>
      <% if five_stars != [] %>
        <div class="container">
          <div class="row">
            <div class="col-12 mx-auto">
              <div class='head shadow'>
                <h2>Types de bières</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <% five_stars.each do |f| %>
              <% typical_beer_style << f.typical_beer %>
            <% end %>
            <% typical_beer_style.uniq.each do |f| %>
              <div class="mx-auto col-6 col-lg-3 index">
                <%= render 'typical_beers/typical_beer_card', typical_beer: f %>
              </div>
            <% end %>
          </div>
          <div class="row">
            <div class="col-12 mx-auto">
              <div class='head shadow'>
                <h2>Quelques exemples <%= ('<i class="fa fa-star" aria-hidden="true"></i>' * 5 ).html_safe %> en magasin</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <% five_stars.each do |f| %>
              <div class="mx-auto col-6 col-lg-3 index">
                <%= render 'beers/beer_card', beer: f %>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class='center p-top p-bottom'>Mais... malheureusement, nous n'avons pas ce genre de bière en base</div>
      <% end %>
    <% end %>
  <% end %>
<% else %>

  <div class="container">
    <% @beers.each do |tb| %>
      <% if tb.balance.present? %>
        <% if @public_search.balance.name == tb.balance.name %>
          <% psbalance << tb %>
        <% end %>
      <% else %>
        <% if @public_search.balance.name == tb.typical_beer.balance.name %>
          <% psbalance << tb %>
        <% end %>
      <% end %>
    <% end %>

    <% if psbalance != [] %>
      <% result << psbalance %>
    <% end %>

    <% @beers.each do |tb| %>
      <% if tb.alcohol_shape.present? %>
        <% if @public_search.alcohol_shape.name == tb.alcohol_shape.name %>
          <% pslevel << tb %>
        <% end %>
      <% else %>
        <% if @public_search.alcohol_shape.name == tb.typical_beer.alcohol_shape.name %>
          <% pslevel << tb %>
        <% end %>
      <% end %>
    <% end %>

    <% if pslevel != [] %>
      <% result << pslevel %>
    <% end %>

    <% @beers.each do |tb| %>
      <% if tb.design_color.present? %>
        <% if @public_search.design_color.name == tb.design_color.name %>
          <% pscolor << tb %>
        <% end %>
      <% else %>
        <% if @public_search.design_color.name == tb.typical_beer.design_color.name %>
          <% pscolor << tb %>
        <% end %>
      <% end %>
    <% end %>

    <% if pscolor != [] %>
      <% result << pscolor %>
    <% end %>

    <% @beers.each do |tb| %>
      <% if tb.main_taste.present? %>
        <% if @public_search.main_taste.name == tb.main_taste.name %>
          <% psmaintaste << tb %>
        <% end %>
      <% else %>
        <% if tb.typical_beer.main_taste.present? %>
          <% if @public_search.main_taste.name == tb.typical_beer.main_taste.name %>
            <% psmaintaste << tb %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if psmaintaste != [] %>
      <% result << psmaintaste %>
    <% end %>

    <% @beers.each do |tb| %>
      <% if @public_search.feelings.present? %>
        <% @public_search.feelings.each do |psf| %>
          <% if tb.feelings.present? %>
            <% tb.feelings.each do |tbf| %>
              <% if psf.name == tbf.name %>
                <% psfeelings << tb %>
              <% end %>
            <% end %>
          <% else %>
            <% if tb.typical_beer.feelings.present? %>
              <% tb.typical_beer.feelings.each do |tbf| %>
                <% if psf.name == tbf.name %>
                  <% psfeelings << tb %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if psfeelings != [] %>
      <% result << psfeelings.uniq %>
    <% end %>

    <% @beers.each do |tb| %>
      <% if @public_search.flavours.present? %>
        <% @public_search.flavours.each do |psf| %>
          <% if tb.flavours.present? %>
            <% tb.flavours.each do |tbf| %>
              <% if psf.name == tbf.name %>
                <% psflavours << tb %>
              <% end %>
            <% end %>
          <% else %>
            <% if tb.typical_beer.flavours.present? %>
              <% tb.typical_beer.flavours.each do |tbf| %>
                <% if psf.name == tbf.name %>
                  <% psflavours << tb %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if psflavours != [] %>
      <% result << psflavours.uniq %>
    <% end %>
  </div>

  <% must = result.flatten.group_by(&:itself) %>
  <% sorted_must = must.map{|k, v| [k, v.length]}.to_h.sort_by {|_key, value| value}.to_h %>
  <% first_choices = sorted_must.select! { |key, value| value >= 5 } %>
  <% if !first_choices.nil? %>
    <% five_stars = first_choices.keys %>
    <% if five_stars != [] %>
      <div class="container">
        <div class="col-12 mx-auto">
          <div class='center p-top p-bottom shadow'>Types de bières</div>
        </div>
        <div class="row">
          <% five_stars.each do |f| %>
            <% typical_beer_style << f.typical_beer %>
          <% end %>
          <% typical_beer_style.uniq.each do |f| %>
            <div class="mx-auto col-6 col-lg-3 index">
              <%= render 'typical_beers/typical_beer_card', typical_beer: f %>
            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-12 mx-auto">
            <div class='head shadow'>
              <h2>Quelques exemples <%= ('<i class="fa fa-star" aria-hidden="true"></i>' * 5 ).html_safe %> en magasin</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <% five_stars.each do |f| %>
            <div class="mx-auto col-6 col-lg-3 index">
              <%= render 'beers/beer_card', beer: f %>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class='center p-bottom'>Mais... malheureusement, nous n'avons pas ce genre de bière en base</div>
    <% end %>
  <% end %>
<% end %>

<div class="container p-top">
  <div class="row">
    <div class="col-lg-12 mx-auto center">
      <%= link_to 'nouvelle recherche', new_public_search_path, class: 'btn btn-action-modern' %>
    </div>
  </div>
</div>
<div class="bottom"></div>
