<!DOCTYPE html>
<html>
  <head>
    <title>LaChope</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': "reload", defer: true %>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="https://res.cloudinary.com/da2krghvd/image/upload/c_fill,h_57,w_57/v1620877332/Carte%20de%20visite.png">
  </head>
  <body>
    <%= render 'shared/navbar', beers: @beers, articles: @articles, typical_beers: @typical_beers, stickers: @stickers, user: @u, projects: @projects, conversations: @conversations %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
