<!DOCTYPE html>
<html>
  <head>
    <title>LaChope</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="apple-touch-icon" href="https://res.cloudinary.com/da2krghvd/image/upload/s--9V13k4ZX--/c_fit,h_120,q_jpegmini,w_120/v1617933316/Capture_d_e%CC%81cran_2021-04-09_a%CC%80_03.54.15_sod2nx.png">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>

  <body>
    <%= render 'shared/navbar', beers: @beers, articles: @articles, typical_beers: @typical_beers, stickers: @stickers %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
